<h1 class="order-310">Aadiendo imgenes a la galera</h1>
<p><em>Puedes publicar imgenes en tu galera</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Si no tienes una galera de imgenes aun, puedes crear la tuya siguiendo las
instrucciones en <a href="/doc/cms/managing-content">Administrar
contenido</a> hasta el elemento 1 de la descripcin. Cuando creas la carpeta,
elige &#8220;Galera de imgenes&#8221; en &#8220;Tipo de carpeta&#8221;.</li>
	<li>Para encontrar tu galera de imgenes, primero encuentrs tu men de usuario en
la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Entonces, presiona en &#8220;Administrar contenido:&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Administrar contenido en el panel de control" alt="Administrar contenido en el panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Encuentra tu galera en la lista y haz clic para verla.  <img src="/images/doc/cms-gallery-public-visualization.en.png" title="Visualizacin pblica de la galera en CMS" alt="Visualizacin pblica de la galera en CMS" /></li>
	<li>Vers tu galera de imgenes. Presiona el botn &#8220;Subir archivos&#8221;  <img src="/images/doc/gallery-buttons.en.png" title="Botones de galera en modo de visualizacin" alt="Botones de galera en modo de visualizacin" /></li>
	<li>Selecciona las imgenes que quieres subir y presiona en el botn
&#8220;Subir&#8221;. Si deseas subir ms de tres imgenes a la vez, presiona
en el botn &#8220;Ms archivos&#8221; y ms compos aparecern.  <img src="/images/doc/uploading-files-to-gallery.en.png" title="subiendo archivos a la galera" alt="subiendo archivos a la galera" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/managing-content">Administrando tu contenido</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>