<h1 class="order-310">Adding pictures to gallery</h1>
<p><em>You can publish pictures on your image gallery</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>If you don&#8217;t have an image gallery yet, you can create yours following instructions on <a href="/doc/cms/managing-content">Managing content</a> until item 1 of description. When creating the folder, choose &#8220;Image gallery&#8221; in &#8220;Folder type&#8221;.</li>
	<li>To find your image gallery, first find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage content&#8221;:  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>Find your gallery on the list and click to view it.  <img src="/images/doc/cms-gallery-public-visualization.en.png" title="Public visualization of gallery in CMS" alt="Public visualization of gallery in CMS" /></li>
	<li>You will see your image gallery. Click on &#8220;Upload files&#8221; button  <img src="/images/doc/gallery-buttons.en.png" title="Gallery buttons on visualization mode" alt="Gallery buttons on visualization mode" /></li>
	<li>Select the pictures you want to upload and click on &#8220;Upload&#8221; button. If you want to upload more than 3 pictures at once, click on &#8220;More files&#8221;button and more fields will appear.  <img src="/images/doc/uploading-files-to-gallery.en.png" title="uploading files to gallery" alt="uploading files to gallery" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/managing-content">Managing your content</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>