<h1 class="order-310">Adicionar fotos na galeria</h1>
<p><em>Você pode publicar fotos na sua galeria de imagens.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Se você ainda não tem uma galeria de imagens, você pode criar uma seguindo
as orientações em <a href="/doc/cms/managing-content">Gerenciar conteúdo</a>
até o item 1 da descrição. Ao criar a pasta, escolha &#8220;Galeria de
imagens&#8221; em &#8220;Tipo de Pasta&#8221;.</li>
	<li>Para encontrar sua galeria de imagens, primeiro localize seu menu de usuário
na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar conteúdo&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Encontre sua galeria na lista e clique para visualizá-la.  <img src="/images/doc/cms-gallery-public-visualization.en.png" title="Visualização pública da galeria no CMS" alt="Visualização pública da galeria no CMS" /></li>
	<li>Você verá a sua galeria de imagens. Clique no botão &#8220;Enviar
arquivos&#8221;  <img src="/images/doc/gallery-buttons.en.png" title="Botões da galeria no modo de visualização" alt="Botões da galeria no modo de visualização" /></li>
	<li>Então basta selecionar os arquivos das fotos que você deseja postar e clicar
no botão &#8220;Upload&#8221;. Caso você queira postar mais que 3 fotos de
uma vez clique no botão &#8220;Mais arquivos&#8221; e mais campos
aparecerão.  <img src="/images/doc/uploading-files-to-gallery.en.png" title="enviando arquivos para a galeria" alt="enviando arquivos para a galeria" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/managing-content">Gerenciar seu conteúdo</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>