<h1 class="order-320">Creating a blog</h1>
<p><em>You can have a blog in your system.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then click on &#8220;Create blog&#8221;:  <img src="/images/doc/control-panel-create-blog.en.png" title="Create a blog in control panel" alt="Create a blog in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<p>Fill in the form and click on Save  <img src="/images/doc/cms-blog-creation.en.png" title="Creation of a blog" alt="Creation of a blog" /></p>
<ol>
	<li>Fill in with the name you want for your blog</li>
	<li>By default, blog address is based on blog&#8217;s name. If you want, you can change it in this field.</li>
	<li>Type some description about your blog.</li>
	<li>Select the number of posts that will be listed in each blog&#8217;s page.</li>
	<li>Select the number of posts that will be listed in blog&#8217;s <span class="caps">RSS</span> feed.</li>
	<li>Select the content that will be displayed in post description on blog&#8217;s <span class="caps">RSS</span> feed.</li>
	<li>Select this option if you want to import your posts from an external feed. If you selected the option, you should fill in the field with the feed address and choose if you want to import the posts periodically or just once.</li>
	<li>Fill in with the blog&#8217;s tags.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/managing-content">Managing your content</a></li>
	<li><a href="/doc/cms/posting-on-blog">Posting on blog</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>