<h1 class="order-320">Criar um blog</h1>
<p><em>Você pode ter um blog no sistema.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Criar um blog&#8221;:  <img src="/images/doc/control-panel-create-blog.en.png" title="Criar um blog no painel de controle" alt="Criar um blog no painel de controle" /></li>
</ol>
<h2 id="description">Descrição</h2>
<p>Preencha o formulário e clique em salvar.  <img src="/images/doc/cms-blog-creation.en.png" title="Criação de um blog" alt="Criação de um blog" /></p>
<ol>
	<li>Preencha com o nome que você quer que o blog tenha.</li>
	<li>Por padrão, o endereço do blog é parecido com o nome do blog. Caso queira,
poderá alterá-lo nesse campo.</li>
	<li>Escreva alguma descrição sobre o blog.</li>
	<li>Selecione a quantidade de posts que serão listados em cada página do blog.</li>
	<li>Selecione a quantidade de posts que serão listados feed RSS do blog.</li>
	<li>Selecione o conteúdo que aparecerá na descrição do post no feed RSS do blog.</li>
	<li>Marque essa opção caso queira importar os posts de um feed externo. Você
deverá preencher o campo com o endereço do feed e escolher se importará os
posts periodicamente ou apenas uma vez.</li>
	<li>Preencha com as tags do blog.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/managing-content">Gerenciar seu conteúdo</a></li>
	<li><a href="/doc/cms/posting-on-blog">Postar no blog</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>