<h1 class="order-320">Creando un blog</h1>
<p><em>Puedes tener un blog en tu sistema.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men en la arra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Luego presiona en &#8220;Crear blog&#8221;:  <img src="/images/doc/control-panel-create-blog.en.png" title="Crear un blog en el panel de control" alt="Crear un blog en el panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<p>Llena el formulario y haz clic en Guardar  <img src="/images/doc/cms-blog-creation.en.png" title="Creaci de un blog" alt="Creaci de un blog" /></p>
<ol>
	<li>Llena con el nombre que quieres para tu blog</li>
	<li>Por defecto, la direccin del blog est basada en el nombre del mismo. Si
deseas, puedes cambiarlo en este campo.</li>
	<li>Ingresa una descripcin sobre tu blog.</li>
	<li>Selecciona el nmero de publicaciones que sern listadas en cada pgina del
blog.</li>
	<li>Selecciona el nmero de publicaciones que sern listadas en el canal <span
class="caps">RSS</span> de noticias en el blog.</li>
	<li>Selecciona el contenido que ser mostrado en la descripcin de la publicacin
en el canal de noticias <span class="caps">RSS</span> del blog.</li>
	<li>Selecciona esta opcin si quieres importar tus publicaciones desde un canal
noticias externo. Si seleccionaste la opcin,debes llenar el campo con la
direccin del canal de noticias y elige si deseas importar las publicaciones
peridicamente o solo una vez.</li>
	<li>Rellena el campo con las etiquetas del blog.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/managing-content">Administrando tu contenido</a></li>
	<li><a href="/doc/cms/posting-on-blog">Publicando en un blog</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>