<h1 class="order-350">Gerenciar seu conteúdo</h1>
<p><em>Pasta, em informática, é uma estrutura utilizada para organizar arquivos
em um computador e também pode ser chamada de diretório. Ela pode conter
outros arquivos e pastas, que podem conter também outros diretórios.</em></p>
<p><em>Normalmente é usada para reunir arquivos da mesmo categoria, como
músicas, vídeos, poesias, receitas, pagamentos ou da da forma que o usuário
preferir.</em></p>
<p><em>Para organizar seus textos/imagens/arquivos, você deve gerenciar seu
conteúdo.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/ystem-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar conteúdo&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Aparecerá uma tela com alguns botões e a lista do seu conteúdo. Primeiro são
listadas as pastas e depois os seus arquivos/artigos. Clicando nas pastas,
você poderá visualizar os arquivos/pastas guardadas nela.  <img src="/images/doc/cms.en.png" title="CMS with marks on buttons" alt="CMS with marks on buttons" /></li>
	<li>Clique para criar uma nova pasta. Para entender as categorias e marcadores,
leia <a href="/doc/cms/writing-article">Como escrever um artigo</a> a partir
do item 7.  <img src="/images/doc/new-folder.en.png" title="Criando uma nova pasta" alt="Criando uma nova pasta" />
	<ol>
		<li>Preencha com o nome da sua pasta</li>
		<li>Escolha o tipo da pasta que está sendo criada. Se você quiser utilizar a
pasta para guardar imagens, escolha o tipo &#8220;Galeria&#8221;</li>
		<li>Preencha com alguma informação sobre a pasta</li>
	</ol></li>
	<li>Clique para adicionar arquivos  <img src="/images/doc/cms-uploading-files.en.png" title="Enviando arquido pelo CMS" alt="Enviando arquido pelo CMS" />
	<ol>
		<li>Escolha a pasta que o arquivo será inserido;</li>
		<li>Selecione o arquivo no seu computador;</li>
		<li>Caso queira adicionar mais arquivos ao mesmo tempo, clique em &#8220;Mais
arquivos&#8221;</li>
		<li>Clique em &#8220;Upload&#8221;</li>
	</ol></li>
	<li>Clique para criar uma nova pasta. Para entender as categorias e marcadores,
leia <a href="/doc/cms/writing-article">Como escrever um artigo</a> a partir
do item 7.</li>
	<li>Opções das pastas. Da esquerda para a direita:  <img src="/images/doc/cms-folder-icons.en.png" title="Folder icons on CMS" alt="Folder icons on CMS" />
	<ol>
		<li><strong>Editar:</strong> Permite que você altere as informações sobre a
pasta;</li>
		<li><strong>Visualização pública:</strong> Mostra como a pasta será visualizada
por outros usuários;</li>
		<li><strong>Usar como página inicial:</strong> Configura a pasta para ser sua
página inicial;</li>
		<li><strong>Remover:</strong> Apaga a pasta.</li>
	</ol></li>
	<li>Opções dos arquivos. Da esquerda para a direita:  <img src="/images/doc/cms-article-icons.en.png" title="Ícones de artigo no CMS" alt="Ícones de artigo no CMS" />
	<ol>
		<li><strong>Editar:</strong> Permite que você altere o artigo;</li>
		<li><strong>Visualização pública:</strong> Mostra como a pasta será visualizada
por outros usuários;</li>
		<li><strong>Divulgar:</strong> Deve ser utiizado para publicar seus artigos em
comunidades ou empreendimentos que você faz parte;</li>
		<li><strong>Usar como página inicial:</strong> Configura o artigo para ser sua
página inicial;</li>
		<li><strong>Remover:</strong> Apaga o artigo.</li>
	</ol></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/writing-article">Escrevendo um artigo</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>