<h1 class="order-350">Managing your content</h1>
<p><em>Folder is a structure used to organize files in a computer and can also be called a directory. It may contain other files and folders, which may also contain other directories</em></p>
<p><em>It is usually used to organize files from the same category, like music, videos, poems, recipes, payments or the way the user prefers.</em></p>
<p><em>To organize your texts/images/files, you should manage your content.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your menu on top bar:  <img src="/images/doc/ystem-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage content&#8221;:  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>You will see some buttons and the list of your content. The folders are listed first and then your files/articles. Clicking on your folders, you will see the files/folders inside them.  <img src="/images/doc/cms.en.png" title="CMS with marks on buttons" alt="CMS with marks on buttons" /></li>
	<li>Click to create a new folder. To understand categories and tags, read <a href="/doc/cms/writing-article">Writing an article</a> from item 7.  <img src="/images/doc/new-folder.en.png" title="Creating a new folder" alt="Creating a new folder" />
	<ol>
		<li>Fill in with the name you want for your folder</li>
		<li>Select the type of the folder you want to create. If you want to use it to organize pictures, choose the type &#8220;Image gallery&#8221;</li>
		<li>Fill in with some information about the folder</li>
	</ol></li>
	<li>Click to upload files  <img src="/images/doc/cms-uploading-files.en.png" title="Uploading files from CMS" alt="Uploading files from CMS" />
	<ol>
		<li>Select the folder where the file will be uploaded</li>
		<li>Select the file in your computer</li>
		<li>If you want to upload more files at once, click on &#8220;More files&#8221;</li>
		<li>Click on &#8220;Upload&#8221;</li>
	</ol></li>
	<li>Clicking on this button, you will create a new article. To learn how to write an article, read <a href="/doc/cms/writing-article">Writing an article</a></li>
	<li>Folder options. From left to right:  <img src="/images/doc/cms-folder-icons.en.png" title="Folder icons on CMS" alt="Folder icons on CMS" />
	<ol>
		<li><strong>Edit:</strong> It allows you to change folder&#8217;s information</li>
		<li><strong>Public view:</strong> It shows how the folder will be displayed to the others users</li>
		<li><strong>Use as homepage:</strong> Set the folder as your homepage</li>
		<li><strong>Delete:</strong> Delete the folder</li>
	</ol></li>
	<li>Files options. From left to right:  <img src="/images/doc/cms-article-icons.en.png" title="Article icons on CMS" alt="Article icons on CMS" />
	<ol>
		<li><strong>Edit:</strong> It allows you to change the article</li>
		<li><strong>Public view:</strong> It shows how the folder will be displayed to the others users</li>
		<li><strong>Publish:</strong> It should be used to publish your articles in communities or enterprises that you are member</li>
		<li><strong>Use as homepage:</strong> Set the article as your homepage</li>
		<li><strong>Delete:</strong> Delete the article</li>
	</ol></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/writing-article">Writing an article</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>