<h1 class="order-350">Administrando tu contenido</h1>
<p><em>La carpeta es una estructura usada para organizar archivos en una
computadora y puede ser llamada tambin directorio. Puede contener otros
archivos y carpetas, las cuales pueden tambin contener otros
directorios</em></p>
<p><em>Se usa regularmente para organizar archivos de una misma categora, como
msica, videos, poemas, recetas, pagos o las formas que el usuario
prefiera.</em></p>
<p><em>Para organizar tus textos/imgenes/archivos, debes administrar tu
contenido.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men en la arra superior:  <img src="/images/doc/ystem-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Entonces, presiona en &#8220;Administrar contenido:&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Administrar contenido en el panel de control" alt="Administrar contenido en el panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Vers algunos botones y la lista de tu contenido. Las carpetas son listadas
primero y luego tus archivos/artculos. Haciendo clic en tus carpetas, vers
los archivos/carpetas dentro de ellas.  <img src="/images/doc/cms.en.png" title="CMS con marcas en los botones" alt="CMS con marcas en los botones" /></li>
	<li>Haz clic para crear una nueva carpeta. Para entender las categoras y
etiquetas, lee <a href="/doc/cms/writing-article">Escribiendo un artculo</a>
del elemento 7.  <img src="/images/doc/new-folder.en.png" title="Creando una nueva carpeta" alt="Creando una nueva carpeta" />
	<ol>
		<li>Rellena con el nombre que quieras paa tu carpeta</li>
		<li>Selecciona el tipo de carpeta que deseas crear. Si deseas usarla para
organizar imgenes, elige el tipo &#8220;Galera de imgenes&#8221;</li>
		<li>Rellena con alguna informacin sobre la carpeta</li>
	</ol></li>
	<li>Haz clic para subir archivos  <img src="/images/doc/cms-uploading-files.en.png" title="Subiendo archivos desde CMS" alt="Subiendo archivos desde CMS" />
	<ol>
		<li>Selecciona la carpeta donde el archivo ser subido</li>
		<li>Selecciona el archivo en tu computadora</li>
		<li>Si deseas subir ms arvhivos a la vez, presiona en &#8220;Ms archivos&#8221;</li>
		<li>Presiona en &#8220;Subir&#8221;</li>
	</ol></li>
	<li>Presionando este botn, crears un nuevo artculo. Para aprender cmo escribir
un artculo, lee <a href="/doc/cms/writing-article">Escribiendo un
artculo</a></li>
	<li>Opciones de la carpeta. De izquierda a derecha:  <img src="/images/doc/cms-folder-icons.en.png" title="conos de carpeta en CMS" alt="conos de carpeta en CMS" />
	<ol>
		<li><strong>Editar:</strong> Te permite cambiar la informacin de la carpeta</li>
		<li><strong>Vista pblica:</strong> Muestra cmo la carpeta ser mostrada a los
dems usuarios</li>
		<li><strong>Usar como pgina de inicio:</strong> Ajusta la carpeta como tu pgina
de inicio</li>
		<li><strong>Eliminar:</strong> Elimina la carpeta</li>
	</ol></li>
	<li>Opciones de carpeta. De izquierda a derecha:  <img src="/images/doc/cms-article-icons.en.png" title="conos de artculo en CMS" alt="conos de artculo en CMS" />
	<ol>
		<li><strong>Editar:</strong> Te permite cambiar el artculo</li>
		<li><strong>Vista pblica:</strong> Muestra cmo la carpeta ser mostrada a los
dems usuarios</li>
		<li><strong>Publicar:</strong> Debe usarse para publicar tus artculos en las
comunidades o empresas de donde eres miembro</li>
		<li><strong>Usar como pgina de inicio:</strong> Ajusta el artculo como pgina de
inicio</li>
		<li><strong>Eliminar:</strong> Elimina este artculo</li>
	</ol></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/writing-article">Escribiendo un artculo</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>