<h1 class="order-330">Postar no blog</h1>
<p><em>Você pode ter um blog e publicar posts nele.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Se você ainda não tem um blog, você pode criar um seguindo as orientações em
<a href="/doc/cms/creating-blog">Criar um blog</a>.</li>
	<li>Para encontrar seu blog, primeiro localize seu menu de usuário na barra
superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar conteúdo&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Encontre seu blog na lista e clique para visualizá-lo.  <img src="/images/doc/cms-blog-public-visualization.en.png" title="Public visualization of blog in CMS" alt="Public visualization of blog in CMS" /></li>
	<li>Você verá o seu blog. Clique no botão &#8220;Novo post&#8221;:  <img src="/images/doc/blog-buttons.en.png" title="Botões do blog no modo de visualização" alt="Botões do blog no modo de visualização" /></li>
	<li>Então basta escrever um texto como explicado em <a
href="/doc/cms/writing-article">Escrevendo um artigo</a>.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/creating-blog">Criar um blog</a></li>
	<li><a href="/doc/cms/managing-content">Gerenciar seu conteúdo</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>