<h1 class="order-330">Publicando en el blog</h1>
<p><em>Puedes tener un blog y publicar en l.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Si no tienes un blog aun, puedes crear el tuyo siguiendo las instrucciones
en <a href="/doc/cms/creating-blog">Creando un blog</a>.</li>
	<li>Para encontrar tu blog, primero encuentra el men de usuario en la barra
superior.  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Entonces, presiona en &#8220;Administrar contenido:&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Administrar contenido en el panel de control" alt="Administrar contenido en el panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Encuentra tu blog en la lista y haz clic para verlo.  <img src="/images/doc/cms-blog-public-visualization.en.png" title="Visualizacin pblica del blog en CMS." alt="Visualizacin pblica del blog en CMS." /></li>
	<li>Vers tu blog. Presiona el botn &#8220;Nueva publicacin&#8221;:  <img src="/images/doc/blog-buttons.en.png" title="Botn de blog en el modo de visualizacin" alt="Botn de blog en el modo de visualizacin" /></li>
	<li>Luego, escribe un artculo siguiendo las isntrucciones en <a
href="/doc/cms/writing-article">Escribiendo un artculo</a>.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/creating-blog">Creando un blog</a></li>
	<li><a href="/doc/cms/managing-content">Administrando tu contenido</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>