<h1 class="order-330">Posting on blog</h1>
<p><em>You can have a blog and publish posts on it.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>If you don&#8217;t have a blog yet, you can create yours following instructions on <a href="/doc/cms/creating-blog">Creating a blog</a> .</li>
	<li>To find your blog, first find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage content&#8221;:  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>Find your blog on the list and click to view it.  <img src="/images/doc/cms-blog-public-visualization.en.png" title="Public visualization of blog in CMS" alt="Public visualization of blog in CMS" /></li>
	<li>You will see your blog. Click on &#8220;New post&#8221; button:  <img src="/images/doc/blog-buttons.en.png" title="Blog button on visualization mode" alt="Blog button on visualization mode" /></li>
	<li>Then, write an article following instructions on <a href="/doc/cms/writing-article">Writing an article</a> .</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/creating-blog">Creating a blog</a></li>
	<li><a href="/doc/cms/managing-content">Managing your content</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>