<h1 class="order-305">Divulgando artigos</h1>
<p><em>Com um artigo já criado, você pode divulga-lo nas comunidades que você
participa.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar<br />
Para divulgar seus articles existem duas opções que você pode serguir:</h2>
<ul>
	<li>Através do Gerenciador de Conteúdo
	<ol>
		<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
		<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
		<li>Clique em &#8220;Gerenciar conteúdo&#8221;:  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
		<li>Então clique no botão &#8220;Divulgar&#8221;: <img src="/images/doc/cms-spread-article-icon.en.png" title="Divulgar artigo" alt="Divulgar artigo" /></li>
	</ol></li>
</ul>
<ul>
	<li>Através da página de visualização do artigo
	<ol>
		<li>Acesse o seu artigo e pressione o botão &#8220;Divulgar&#8221;: <img src="/images/doc/article-bigger-spread-view.en.png" title="Divulgar artigo" alt="Divulgar artigo" /><br />
<img src="/images/doc/article-spread-view.en.png" title="Divulgar artigo" alt="Divulgar artigo" /></li>
	</ol></li>
</ul>
<h2 id="description">Descrição</h2>
<p>Marque as comunidades nas quais você quer divulgar o seu artigo e preencha o
nome com o qual você quer divulga-lo.<br />
  <img src="/images/doc/article-spread.en.png" title="Escolha as comunidades" alt="Escolha as comunidades" /></p>
<p>Depois de escolher as comunidades e os respectivos nomes, você só precisa
apertar &#8220;Divulgar&#8221;. Note que existem comunidades onde a
publicação necessita de moderação do administrador.</p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/writing-article">Escrevendo um artigo</a></li>
	<li><a href="/doc/cms/writing-advanced-article">Escrever um artigo avançado
(inserindo links e imagens)</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>