<h1 class="order-305">Difundiendo artculos</h1>
<p><em>Con un artculo ya creado, puedes difundirlo en las comunidades en las
que participas.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder<br />
Para difundir tu artculo hay dos opciones que puedes seguir:</h2>
<ul>
	<li>A travs de Gestor de Contenido
	<ol>
		<li>Encuentra tu men en la arra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
		<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
		<li>Presiona en &#8220;Administrar contenido&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Administrar contenido en el panel de control" alt="Administrar contenido en el panel de control" /></li>
		<li>Luego, haz clic en el botn &#8220;Difunde sto&#8221;: <img src="/images/doc/cms-spread-article-icon.en.png" title="Difundir artculo" alt="Difundir artculo" /></li>
	</ol></li>
</ul>
<ul>
	<li>A travs de la pgina de visualizacin del artculo
	<ol>
		<li>Accesa a tu artculo y presiona el botn &#8220;Difunde sto&#8221;: <img src="/images/doc/article-bigger-spread-view.en.png" title="Difundir artculo" alt="Difundir artculo" /><br />
<img src="/images/doc/article-spread-view.en.png" title="Difundir artculo" alt="Difundir artculo" /></li>
	</ol></li>
</ul>
<h2 id="description">Descripción</h2>
<p>Verifica las comunidades donde deseas difundir tu artculo y rellena con el
nombre con el cual deseas difundirlo.<br />
  <img src="/images/doc/article-spread.en.png" title="Elige las comunidades" alt="Elige las comunidades" /></p>
<p>Despus de elegir las comunidades y sus respectivos nombres, solo necesitas
presionar &#8220;Difunde sto&#8221;. Nota que hay comunidades donde la
publicacin necesita la moderacin del administrador.</p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/writing-article">Escribiendo un artculo</a></li>
	<li><a href="/doc/cms/writing-advanced-article">Escribiendo un artculo
avanzado</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>