<h1 class="order-305">Spreading articles</h1>
<p><em>With an article already created, you can spread it in the communities that you participate.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access<br />
To spread your articles there are two options that you can follow:</h2>
<ul>
	<li>Through the Content Manager
	<ol>
		<li>Find your menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
		<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
		<li>Click on &#8220;Manage content&#8221;:  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
		<li>Then click on the &#8220;Spread this&#8221; button: <img src="/images/doc/cms-spread-article-icon.en.png" title="Spread article" alt="Spread article" /></li>
	</ol></li>
</ul>
<ul>
	<li>Through the article&#8217;s view page
	<ol>
		<li>Access your article and press the &#8220;Spread this&#8221; button: <img src="/images/doc/article-bigger-spread-view.en.png" title="Spread article" alt="Spread article" /><br />
<img src="/images/doc/article-spread-view.en.png" title="Spread article" alt="Spread article" /></li>
	</ol></li>
</ul>
<h2 id="description">Description</h2>
<p>Check the communities where you want to spread your article and fill in the name that you want to spread it.<br />
  <img src="/images/doc/article-spread.en.png" title="Choose the communities" alt="Choose the communities" /></p>
<p>After choosing the communities and the respective names, you just need to press &#8220;Spread this&#8221;. Note that there are communities where the publication needs the moderation of the administrator.</p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/writing-article">Writing an article</a></li>
	<li><a href="/doc/cms/writing-advanced-article">Writing an advanced article</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>