<h1 class="order-300">Escrever um artigo básico</h1>
<p><em>Para divulgar seus textos você pode criar um artigo, como explicado a
seguir.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar conteúdo&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Clique no botão &#8220;Novo artigo&#8221;:  <img src="/images/doc/cms-new-article.en.png" title="Novo artigo no CMS" alt="Novo artigo no CMS" /></li>
	<li>Há quatro opções de artigo que você pode criar após clicar no botão
&#8220;Novo artigo&#8221;:
	<ul>
		<li><strong>Artigo de texto com editor visual:</strong> a tela de edição do
artigo é parecida com a maioria dos editores de texto;</li>
		<li><strong>Artigo de texto com linguagem de marcação Textile:</strong> essa
opção facilita a edição de artigo por pessoas com deficiência visual. Para
formatar o texto, deverá ser utilizada a marcação <a title=&#8220;Referência
da sintaxe Textile&#8221;
href="http://textile.thresholdstate.com/">Textile</a></li>
		<li><strong>Evento:</strong> cria um evento, que será listado no calendário;</li>
		<li><strong>Feed <span class="caps">RSS</span>:</strong> fornece um <a
href="http://pt.wikipedia.org/wiki/Feed">feed</a> <a
href="http://pt.wikipedia.org/wiki/RSS"><span class="caps">RSS</span></a>
dos seus artigos mais recentes</li>
		<li>Nesse exemplo, vamos criar uma artigo com editor visual. Clique em
&#8220;Artigo de texto com editor visual&#8221;.  <img src="/images/doc/cms-article-types.en.png" title="Lista de tipos de artigos" alt="Lista de tipos de artigos" /></li>
	</ul></li>
	<li>Crie seu artigo <img src="/images/doc/article-text.en.png" title="Text on an article" alt="Text on an article" />
	<ol>
		<li>Preencha o campo &#8220;Título&#8221; com o nome do artigo que você quer
criar.</li>
		<li>Algumas vezes você precisa de uma introdução do artigo, como quando seu blog
está configurado para mostrar apenas a parte inicial do post. Se você
precisar de uma versão menor, clique no botão &#8220;Olho&#8221; e escreva a
introdução. <img src="/images/doc/article-text-lead.en.png" title="Olho do artigo" alt="Olho do artigo" /></li>
		<li>Logo abaixo, há o espaço para o texto, onde você escreverá o conteúdo do seu
artigo. Você poderá produzir seu texto da mesma forma que escreve em outros
editores de texto.</li>
		<li>Abaixo da caixa de texto, você verá dois botões: &#8220;Salvar&#8221; (salva
o artigo e mostra o resultado) e &#8220;Salvar e continuar&#8221; (salva o
artigo e permanece na mesma página de edição)</li>
		<li>Na parte superior do espaço para o texto você poderá ver alguns botões que
lhe ajudará a formatar seu texto. Passando o mouse sobre o botão, aparecerá
o nome da função do botão.  <img src="/images/doc/wysiwyg-buttons.en.png" title="WYSIWYG buttons" alt="WYSIWYG buttons" />
		<ol>
			<li>Seguindo a ordem da esquerda para a direita:
			<ol>
				<li><strong>Imprimir:</strong> utilize esse botão caso queira imprimir seu
artigo</li>
				<li><strong>Copiar:</strong> selecione um trecho do texto e clique nesse botão
para copiá-lo</li>
				<li><strong>Colar:</strong> caso já tenha copiado algo, utilize esse botão para
colar no seu texto. O texto será colado no lugar que o cursor estiver</li>
				<li><strong>Desfazer:</strong> clique nesse botão depois de escrever ou formatar
algo e quiser desfazer</li>
				<li><strong>Refazer:</strong> caso tenha desfeito sua última ação, poderá
refazê-la clicando nesse botão</li>
				<li><strong>Localizar:</strong> use este botão para encontrar alguma palavra ou
frase no seu texto</li>
				<li><strong>Localizar/Substituir:</strong> use este botão para encontrar alguma
palavra/frase no texto e substituí-lo por outra</li>
				<li><strong>Tamanho:</strong> para definir o tamanho do texto/palavra, selecione
o text/palavra e altere o tamanho clicando nesse botão</li>
				<li><strong>Formatação:</strong> para utilizar alguma das formatações já
configuradas, selecione um trecho do texto, clique nesse botão e selecione a
formatação desejada</li>
				<li><strong>Negrito:</strong> utilize para formatar seu texto/palavra com um
traço mais grosso que o comum. Essa formatação é utilizada para dar maior
realce às palavras. Ex: <strong>casa</strong>. Para usá-lo, primeiro você
deve selecionar o trecho e depois clicar no botão</li>
				<li><strong>Itálico:</strong> utilize para formatar seu texto/palavra com um
traço inclinado. Essa formatação também é utilizada para dar maior realce às
palavras. Ex: <em>casa</em>. Para usá-lo, primeiro você deve selecionar o
trecho e depois clicar no botão</li>
				<li><strong>Sublinhado:</strong> também usado para destacar uma
palavra/frase. Uma linha é inserida abaixo da palavra. Ex: <span
style="text-decoration: underline;">casa</span>. Para usá-lo, primeiro você
deve selecionar o trecho e depois clicar no botão</li>
				<li><strong>Riscado: </strong>uma linha é inserida no meio da palavra/frase. Ex:
<span style="text-decoration: line-through;">casa</span>. Para usá-lo,
primeiro você deve selecionar o trecho e depois clicar no botão</li>
				<li><strong>Marcadores:</strong> utilizado para criar uma lista, inserindo uma
bolinha antes de cada item, como esta com a lista de botões</li>
				<li><strong>Numeração:</strong> utilizado para criar uma lista numerada,
inserindo o número do item antes de cada item</li>
				<li><strong>Alinhar à esquerda:</strong> utilize esse botão quando quiser que
seu texto fique alinhado à margem esquerda. Nesse caso, a borda direita de
cada linha ficará desalinhada</li>
				<li><strong>Centralizar:</strong> o alinhamento do texto tem como referência o
centro do espaço do texto. Nesse caso, as bordas esquerda e direita de cada
linha ficarão imperfeitas</li>
				<li><strong>Alinhar à direita:</strong> utilize esse botão quando quiser que seu
texto fique alinhado à margem direita. Nesse caso, a borda esquerda de cada
linha ficará desalinhada</li>
				<li><strong>Justificar:</strong> utilize esse botão quando quiser que as linhas
do seu texto fiquem alinhadas tanto à direita como esquerda</li>
				<li><strong>Inserir/editar hyperlink: </strong>deve ser utilizado quando você
quiser inserir ou editar um link para algum endereço</li>
				<li><strong>Remover hyperlink:</strong> caso tenha um link em seu texto, utilize
esse botão para remover o link</li>
				<li><strong>Inserir/editar imagem:</strong> utilize caso queira inserir uma
imagem que está em algum endereço ou para editar uma imagem que já está no
seu texto</li>
				<li><strong>Inserir nova tabela:</strong> utilizado para inserir uma tabela no
texto</li>
				<li><strong>Limpar código incorreto: </strong>esse botão remove código HTML
desnecessário do seu texto. É aconselhável utilizar após colar um texto
formatado originado de outra página</li>
				<li><strong>Editar código fonte:</strong> o texto escrito nesse editor é
transformado em código HTML, para poder ser visualizado nos
navegadoores. Utilize esse botão para visualizar/editar o código HTML do seu
artigo.</li>
			</ol></li>
		</ol></li>
	</ol></li>
	<li>Se a categorização estiver habilitada no sistema, você poderá categorizar
seu artigo, aumentando a possibilidade de outras pessoas acessarem ele. Para
visualizar e poder selecionar as categorias, clique na seta do recorte que
deseja:  <img src="/images/doc/article-creation-categorization.en.png" title="Categorização de artigo na criação" alt="Categorização de artigo na criação" /></li>
	<li>Você pode selecionar quantas categorias desejar.  <img src="/images/doc/article-creation-category-choosen.en.png" title="Categoria escolhida na criação de artigo" alt="Categoria escolhida na criação de artigo" /></li>
	<li>Lista de marcadores: preencha com marcadores. Marcadores são palavras-chave
ou termos associados ao seu artigo. Também é utilizado para aumentar a
possibilidade de outras pessoas acessá-lo, já que ele será listado quando um
usuário clicar em um dos marcadores que ele possui.  <img src="/images/doc/article-creation-tags.en.png" title="Tag na criação de artigo" alt="Tag na criação de artigo" /></li>
	<li>Ao criar um artigo, você deve marcar as opções que deseja.  <img src="/images/doc/article-creation-options.en.png" title="Opções na criação de artigo" alt="Opções na criação de artigo" />
	<ol>
		<li>Permite que qualquer pessoa possa visualizar o artigo</li>
		<li>Permite que as pessoas que visualizam seu artigo possam fazer comentários
nele</li>
		<li>Envia um e-mail para você quando uma pessoa comenta no seu artigo</li>
		<li>Mostra a quantidade de visualizações do artigo</li>
	</ol></li>
	<li>Depois, basta clicar no botão &#8220;Salvar&#8221; que o artigo estará
criado.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/spreading-articles">Divulgando um artigo</a></li>
	<li><a href="/doc/cms/writing-advanced-article">Escrever um artigo avançado
(inserindo links e imagens)</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>