<h1 class="order-300">Escribiendo un artculo</h1>
<p><em>Para publicar tus artculos, puedes crear un artculo como se explica
debajo.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men en la arra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Entonces, presiona en &#8220;Administrar contenido:&#8221;  <img src="/images/doc/control-panel-content-management.en.png" title="Administrar contenido en el panel de control" alt="Administrar contenido en el panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Presiona el botn &#8220;Nuevo artculo&#8221;:  <img src="/images/doc/cms-new-article.en.png" title="Nuevo artculo en CMS" alt="Nuevo artculo en CMS" /></li>
	<li>Hay cuatro opciones de artculo que puedes crear despus de presionar el botn
&#8220;Nuevo artculo&#8221;:
	<ul>
		<li><strong>Artculo de texto con un editor visual:</strong> la pantalla para la
edicin del artculo es similar a la mayora de los editores de texto</li>
		<li><strong>Artculo de texto con el lenguaje de marcado Textile:</strong> esta
opcin ayuda a la edicin de artculos por personas con impedimento
visual. Para dar formato al texto, se usa el lenguaje <a
href="http://textile.thresholdstate.com/">Textile</a></li>
		<li><strong>Evento:</strong> crea un evento, que ser listado en el calendario</li>
		<li><strong>Un canal <span class="caps">RSS</span>:</strong> proporciona un <a
href="http://pt.wikipedia.org/wiki/Feed">canal</a> <a
href="http://pt.wikipedia.org/wiki/RSS"><span class="caps">RSS</span></a> de
tus artculos recientes</li>
		<li>En este ejemplo, crearemos un artculo con el editor visual. Haz clic en
&#8220;Artculo de texto con editor visual&#8221;  <img src="/images/doc/cms-article-types.en.png" title="Lista de tipos de artculo" alt="Lista de tipos de artculo" /></li>
	</ul></li>
	<li>Crea tu artculo <img src="/images/doc/article-text.en.png" title="Texto sobre un artculo" alt="Texto sobre un artculo" />
	<ol>
		<li>Rellena el campo &#8220;Ttulo&#8221; con el nombre del artculo que quieres
crear.</li>
		<li>Algunas veces necesitas una introduccin del artculo, como cuando tu blog est
configurado para mostrar solo la parte incial de la publicacin. Si necesitas
una versin ms corta, presiona el botn &#8220;Lead&#8221; y escribe una
introduccin. <img src="/images/doc/article-text-lead.en.png" title="Cargar texto en el artculo" alt="Cargar texto en el artculo" /></li>
		<li>Debajo hay un espacio para texto, donde escribirs el contenido de tu
artculo. Puedes escribir tu texto de la misma manera en que escribes en
otros editores de texto.</li>
		<li>Despus de la caja de texto, hay dos botones: &#8220;Guardar&#8221; (guarda
el artculo y lo muestra) y &#8220;Guardar y continuar&#8221; (guarda el
artculo y mantiene la misma pgina de edicin)</li>
		<li>En la parte de arriba de la caja, donde ingresas tu artculo, vers algunos
botones, que te ayudarn a dar formato al texto. Pasando el ratn encima del
botn, el nombre de la funcin del botn ser mostrada.  <img src="/images/doc/wysiwyg-buttons.en.png" title="Botones WYSIWYG" alt="Botones WYSIWYG" />
		<ol>
			<li>De izquierda a derecha:
			<ol>
				<li><strong>Imprimir:</strong> usa este botn si deseas imprimir tu artculo</li>
				<li><strong>Copiar:</strong> selecciona una seccin del texto y haz clic en este
botn para copiarla</li>
				<li><strong>Pegar:</strong> si copiaste algo, entonces utiliza este botn para
pegarlo en tu texto. Ser pegado en la posicin actual del cursor.</li>
				<li><strong>Deshacer:</strong> clic en este botn despus de escribir o dar
formato a un texto y desea deshacer la accin.</li>
				<li><strong>Rehacer:</strong> clic en este botn si oprimiste el botn de
&#8220;deshacer&#8221; y deseas rehacer tu ltima accin.</li>
				<li><strong>Buscar:</strong> clic en este botn para buscar alguna palabra o
frase en tu texto.</li>
				<li><strong>Buscar/Remplazar:</strong> clic en este botn para buscar alguna
palabra o frase en tu texto y remplazarlo por otra.</li>
				<li><strong>Tamao de fuente:</strong> usado para definir el tamao de los
caracteres. Selecciona el texto/palabra y cambia el tamao oprimiendo este
botn.</li>
				<li><strong>Formato:</strong> Si deseas usar uno de los formatos
preconfigurados, selecciona texto/palabra, clic en este botn y escoge el
formato deseado.</li>
				<li><strong>Negrita:</strong> Da formato a tu texto/palabras con una lnea ms
gruesa que lo normal usual. Es usado para enfatizar palabras. Por ejemplo:
<strong>Inicio</strong>. Para usarlo, primero debes seleccionar el
texto/palabras y despues clic en este botn.</li>
				<li><strong>Cursiva</strong> Da formato a tu texto/palabras como oblicua. Este
formato tambin es usado para enfatizar palabras. Ejemplo:
<em>home</em>. Para usarlo, primero debes seleccionar el texto/palabras y
despues clic en este botn.</li>
				<li><strong>Subrayado:</strong> Tambin usado para enfatizar palabras/frases. Una
lnea es dibujada bajo la palabra. Ejemplo: <span style="text-decoration:
underline;">Inicio</span> . Para usarlo, primero debes seleccionar el
texto/palabras y despues clic en este botn.</li>
				<li><strong>Tachado:</strong> Una lnea es dibujada en medio de la
palabra/frase. Ejemplo: <span
style="text-decoration:line-through;">Inicio</span> . Para usarlo, primero
debes seleccionar el texto/palabras y despues clic en este botn.</li>
				<li><strong>Lista desordenada:</strong> crea una lista, insertando una pequea
vieta antes de cada elemento.</li>
				<li><strong>Lista ordenada</strong> crea una lista numerada, insertando un nmero
antes de cada elemento.</li>
				<li><strong>Alineacin a la izquierda:</strong> Usa este botn si deseas que tu
texto est alineado a la izquierda. En este caso, el borde derecho de cada
lnea estar desalineado.</li>
				<li><strong>Alinear al centro</strong> La alineacin del texto est basada en el
centro. En este caso, los bordes izquierdo y derecho estarn desalineados.</li>
				<li><strong>Alineacin a la derecha:</strong> usa este botn si deseas que tu
texto est alineado a la derecha. En este caso, el borde izquierdo de cada
lnea estar desalineado.</li>
				<li><strong>Justificar:</strong> usa este botn si deseas que tu texto est
alineado por ambos lados. En este caso los bordes izquierdo y derecho de
cada lnea estarn alineados.</li>
				<li><strong>Insertar/editar enlace:</strong> usa sto cuando quieras insertar o
editar un enlace hacia alguna direccin.</li>
				<li><strong>Desvincular:</strong> Si tienes un enlace en tu texto, clic en este
botn para remover el vnculo.</li>
				<li><strong>Insertar/editar imagen:</strong> Usa esto si deseas insertar o
editar una imagen que se encuentra en el texto.</li>
				<li><strong>Inserta una nueva tabla:</strong> usa sto para insertar una tabla en
tu texto</li>
				<li><strong>Limpieza de cdigo desordenado:</strong> clic en este botn para
remover el cdigo malo de <span class="caps">HTML</span>. Debes usarlo despus
de pegar un texto con formato desde otro lugar.</li>
				<li><strong>Editar fuente<span class="caps">HTML</span>:</strong> el texto
escrito en este editor se transforma en cdigo <span class="caps">HTML
</span>, para verse en los navegadores. Usa este botn para ver/editar el
cdigo <span class="caps">HTML</span> de tu artculo.</li>
			</ol></li>
		</ol></li>
	</ol></li>
	<li>Si la categorizacin est habilitada en el sistema, puedes catalogar tu
artculo, incrementado la posibilidad de que los dems accesen a l. Para ver y
seleccionar las categoras, presiona la flecha:  <img src="/images/doc/article-creation-categorization.en.png" title="Categorizacin de un artculo en creacin" alt="Categorizacin de un artculo en creacin" /></li>
	<li>Puedes seleccionar tantas categoras como quieras.  <img src="/images/doc/article-creation-category-choosen.en.png" title="Categora elegida de un artculo en creacin" alt="Categora elegida de un artculo en creacin" /></li>
	<li>Lista de etiquetas: rellena con etiquetas. Las etiquetas son palabras clave
o trminos asociados a tu artculo. Tambin se usa para incrementar la
posibilidad de que los dems accesen a l, porque ser enlistado cuando un
usuaio presione una de las etiquetas que tiene tu artculo.  <img src="/images/doc/article-creation-tags.en.png" title="Etiqueta en la creacin de un artculo" alt="Etiqueta en la creacin de un artculo" /></li>
	<li>Cuando se crea un artculo, debers verificar las opciones que deseas.  <img src="/images/doc/article-creation-options.en.png" title="Opciones en la creacin de un artculo" alt="Opciones en la creacin de un artculo" />
	<ol>
		<li>Todos sern capaces de ver el artculo</li>
		<li>Todos quienes ven tu artculo sern capaces de comentar en l</li>
		<li>Te enva un correo electrnico cuando una persona comenta tu artculo</li>
		<li>Muestra el nmero de visualizaciones del artculo</li>
	</ol></li>
	<li>Luego, presiona en el botn &#8220;Guardar&#8221; y el artculo ser creado.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/spreading-artiles">Esparciendo un artculo</a></li>
	<li><a href="/doc/cms/writing-advanced-article">Escribiendo artculos
avanzados</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>