<h1 class="order-340">Escrever um artigo avançado (inserindo imagens, links, vídeos e áudio)</h1>
<p><em>Nos textos criados no sistema, você pode inserir imagens e links,
tornando-o mais interessante. Neste artigo veremos como fazer isso.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a>
	<ul>
		<li><a href="#insertinglinks">Inserir links</a></li>
		<li><a href="#insertingimages">Inserir imagens</a></li>
		<li><a href="#insertingvideosaudio">Inserir vídeos e áudio</a></li>
	</ul></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Para acessar a tela de edição de artigo, leia: <a
href="/doc/cms/writing-article">Escrevendo um artigo</a>.</p>
<h2 id="description">Descrição</h2>
<h3 id="insertinglinks">Inserindo links</h3>
<ol>
	<li>Escreva no seu artigo o texto que aparecerá  <img src="/images/doc/article-text.en.png" title="Text on an article" alt="Text on an article" /></li>
	<li>Selecione o texto e clique no botão &#8220;Inserir/editar hyperlink&#8221;  <img src="/images/doc/advanced-article-insert-links.en.png" title="Inserir links no artigo" alt="Inserir links no artigo" /></li>
	<li>Aparecerá uma janelinha com um formulário para você preencher.
	<ol>
		<li><strong> URL do hyperlink:</strong> preencha com o endereço do link</li>
		<li><strong>Alvo:</strong> defina se quando uma pessoa clicar no link, o link
será aberto na mesma janela ou em uma nova janela.</li>
		<li><strong>Título:</strong> defina o que aparecerá quando uma pessoa passar o
mouse sobre o link.<br />
  <img src="/images/doc/advanced-article-popup-insert-link.en.png" title="Popup para inserir link num artigo" alt="Popup para inserir link num artigo" /></li>
	</ol></li>
	<li>Após preencher o formulário, clique em &#8220;Inserir&#8221; e o link será
inserido no artigo.<br />
  <img src="/images/doc/advanced-article-created-link.en.png" title="Link criado num artigo" alt="Link criado num artigo" /></li>
</ol>
<h3 id="insertingimages">Inserir imagens</h3>
<p>Na tela de criação/edição de artigo, há um quadro do lado direito.</p>
<ul>
	<li>Na parte de cima, você pode escolher arquivos do seu computador e incluí-los
no como arquivos do seu perfil.
	<ol>
		<li>Escolha a pasta que o arquivo será inserido;</li>
		<li>Selecione o arquivo no seu computador;</li>
		<li>Caso queira adicionar mais arquivos ao mesmo tempo, clique em &#8220;Mais
arquivos&#8221;</li>
		<li>Clique em &#8220;Upload&#8221;<br />
  <img src="/images/doc/advanced-article-upload-images.en.png" title="Envio de imagens na edição de um artigo" alt="Envio de imagens na edição de um artigo" /></li>
	</ol></li>
	<li>Na parte de baixo estão listados os seus arquivos, que poderão ser inseridos
no artigo.
	<ul>
		<li>Na coluna da esquerda, você verá imagens e na coluna da direita, os outros
arquivos, com o título &#8220;Documentos&#8221;.</li>
		<li>Quando você adiciona um documento no seu artigo, é criado um link para
download do arquivo, e quando adiciona uma imagem, ele será visualizado como
uma imagem do artigo. Mas a forma que a imagem ou documento é inserida é a
mesma:
		<ol>
			<li>Escolha a pasta que tem a imagem que deseja inserir</li>
			<li>Aparecerá uma lista com todas as miniaturas das imagens da pasta escolhida</li>
			<li>Com o mouse, clique e arraste a imagem para a parte do texto onde ela será
inserida.<br />
  <img src="/images/doc/advanced-article-archives-list.en.png" title="Lista de arquivos na edição de artigo" alt="Lista de arquivos na edição de artigo" /></li>
		</ol></li>
	</ul></li>
</ul>
<h3 id="insertingvideosaudio">Inserir vídeos e áudio</h3>
<ol>
	<li>Clique no botão &#8220;HTML&#8221;:  <img src="/images/doc/advanced-article-insert-html.en.png" title="Inserir html no artigo" alt="Inserir html no artigo" /></li>
	<li>Insira o código do vídeo ou áudio e clique em &#8220;Atualizar&#8221; <img src="/images/doc/advanced-article-popup-insert-html.en.png" title="Popup para inserir html num artigo" alt="Popup para inserir html num artigo" /></li>
	<li>Você verá um quadrado no seu texto <img src="/images/doc/advanced-article-created-object.en.png" title="Objeto criado num artigo" alt="Objeto criado num artigo" /></li>
	<li>Depois de clicar no botão &#8220;Salvar&#8221; o vídeo ou áudio será
mostrado no seu texto.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/cms/spreading-articles">Divulgando um artigo</a></li>
	<li><a href="/doc/cms/writing-article">Escrevendo um artigo</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>