<h1 class="order-340">Escribiendo un artculo avanzado (insertando imgenes, enlaces, videos y
audio)</h1>
<p><em>Puedes aadir imgenes y enlaces a los artculos creados en el sistema para
hacerlo ms interesante.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a>
	<ul>
		<li><a href="#insertinglinks"Insertando enlaces</a></li>
		<li><a href="#insertingimages">Insertando imgenes</a></li>
		<li><a href="#insertingvideosaudio">Insertando videos y audio</a></li>
	</ul></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Lee <a href="/doc/cms/writing-article">Escribiendo un artculo</a> para
aprender cmo accesar a la pgina de edicin del artculo.</p>
<h2 id="description">Descripción</h2>
<h3 id="insertinglinks">Insertando enlaces</h3>
<ol>
	<li>Escribe el texto que ser mostrado  <img src="/images/doc/article-text.en.png" title="Texto sobre un artculo" alt="Texto sobre un artculo" /></li>
	<li>Selecciona el texto y presiona el botn &#8220;Insertar/editar enlace&#8221;  <img src="/images/doc/advanced-article-insert-links.en.png" title="Insertar enlaces en un artculo" alt="Insertar enlaces en un artculo" /></li>
	<li>Vers una pequea ventana con un formulario a ser llenado.
	<ol>
		<li><strong><span class="caps">URL</span> de enlace:</strong> rellena con la
direccin del enlace</li>
		<li><strong>Objetivo:</strong> elige qu pasar cuando una persona presiona el
enlace, si se abrir en la misma ventana o en una nueva.</li>
		<li><strong>Ttulo:</strong> rellena con lo que ser mostrado a la persona que
pase el ratn sobre el enlace.<br />
  <img src="/images/doc/advanced-article-popup-insert-link.en.png" title="Inserta un enlace popup en un artculo" alt="Inserta un enlace popup en un artculo" /></li>
	</ol></li>
	<li>Despus de rellenar el formulario, presiona &#8220;Insertar&#8221; y el
enlace ser insertado en el artculo.<br />
  <img src="/images/doc/advanced-article-created-link.en.png" title="Se cre un enlace en un artculo" alt="Se cre un enlace en un artculo" /></li>
</ol>
<h3 id="insertingimages">Insertando imgenes</h3>
<p>Cuando se crea/edita un artculo, vers una caja en el lado derecho.</p>
<ul>
	<li>En la parte de arriba, puedes elegir los archivos desde tu computadora y
sbelos como archivos de tu perfil.
	<ol>
		<li>Selecciona la carpeta donde el archivo ser subido</li>
		<li>Selecciona el archivo en tu computadora</li>
		<li>Si deseas subir ms arvhivos a la vez, presiona en &#8220;Ms archivos&#8221;</li>
		<li>Presiona en &#8220;Subir&#8221;<br />
  <img src="/images/doc/advanced-article-upload-images.en.png" title="Subir imgenes cuando escribes un artculo" alt="Subir imgenes cuando escribes un artculo" /></li>
	</ol></li>
	<li>Debajo, vers la lista de tus archivos, que pueden insertarse en tu artculo.
	<ul>
		<li>En la columna a la izquierda, vers la imgenes y en la columna derecha, otros
archivos, debajo de &#8220;Documentos&#8221;.</li>
		<li>Cuando agregar un documento a tu artculo, un enlace es creado en l para
descargar el archivo. Cuando agregas una imagen, ser mostrada como tal en el
artculo. Pero ambos puedes ser agregados de la misma manera:
		<ol>
			<li>Elige la carpeta que tiene la imagen que deseas insertar</li>
			<li>Vers una lista con miniaturas de las imgenes en la carpeta de tu eleccin</li>
			<li>Usando el ratn, presiona y arrastra la imagen a la parte del texto donde ser
insertada.<br />
  <img src="/images/doc/advanced-article-archives-list.en.png" title="La lista de archivos cuando se escribe un artculo" alt="La lista de archivos cuando se escribe un artculo" /></li>
		</ol></li>
	</ul></li>
</ul>
<h3 id="insertingvideosaudio">Insertando videos y audio</h3>
<ol>
	<li>Presiona el botn &#8220;<span class="caps">HTML</span>&#8221;  <img src="/images/doc/advanced-article-insert-html.en.png" title="Insertar html en un artculo" alt="Insertar html en un artculo" /></li>
	<li>Insertar el cdigo del video o audio y presiona en  &#8220;Actualizar&#8221; <img src="/images/doc/advanced-article-popup-insert-html.en.png" title="Insertar popup html en un artculo" alt="Insertar popup html en un artculo" /></li>
	<li>Vers un cuadradocon la imgen &#8220;reproducir&#8221; en tu texto <img src="/images/doc/advanced-article-created-object.en.png" title="Objeto creado en un artculo" alt="Objeto creado en un artculo" /></li>
	<li>Despus de presionar el botn &#8220;Guardar&#8221;, el video o audio se
mostrar en tu texto.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/cms/spreading-artiles">Esparciendo un artculo</a></li>
	<li><a href="/doc/cms/writing-article">Escribiendo un artculo</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>