<h1 class="order-340">Writing an advanced article (inserting images, links, videos and audio)</h1>
<p><em>You can add images and links to the articles created on the system to make it more interesting.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a>
	<ul>
		<li><a href="#insertinglinks">Inserting links</a></li>
		<li><a href="#insertingimages">Inserting images</a></li>
		<li><a href="#insertingvideosaudio">Inserting videos and audio</a></li>
	</ul></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Read <a href="/doc/cms/writing-article">Writing an article</a> to learn how to access article edition page.</p>
<h2 id="description">Description</h2>
<h3 id="insertinglinks">Inserting links</h3>
<ol>
	<li>Write the text that will be displayed  <img src="/images/doc/article-text.en.png" title="Text on an article" alt="Text on an article" /></li>
	<li>Select the text and click on &#8220;Insert/edit link&#8221; button  <img src="/images/doc/advanced-article-insert-links.en.png" title="Insert links on an article" alt="Insert links on an article" /></li>
	<li>You will see a small window with a form to be filled.
	<ol>
		<li><strong>Link <span class="caps">URL</span>:</strong> fill in with the link address</li>
		<li><strong>Target:</strong> choose waht will happen when one person click on the link, if it will open in the same window or in a new one.</li>
		<li><strong>Title:</strong> fill in what will be displayed when a person pass mouse over the link.<br />
  <img src="/images/doc/advanced-article-popup-insert-link.en.png" title="Insert link popup on an article" alt="Insert link popup on an article" /></li>
	</ol></li>
	<li>After filling in the form, click on &#8220;Insert&#8221; and the link will be inserted on article.<br />
  <img src="/images/doc/advanced-article-created-link.en.png" title="Created link on an article" alt="Created link on an article" /></li>
</ol>
<h3 id="insertingimages">Inserting images</h3>
<p>When creating/editing an article, you will see a box in the right side.</p>
<ul>
	<li>In the top of it, you can choose files from your computer and upload them as files from your profile.
	<ol>
		<li>Select the folder where the file will be uploaded</li>
		<li>Select the file in your computer</li>
		<li>If you want to upload more files at once, click on &#8220;More files&#8221;</li>
		<li>Click on &#8220;Upload&#8221;<br />
  <img src="/images/doc/advanced-article-upload-images.en.png" title="Upload images when writing an article" alt="Upload images when writing an article" /></li>
	</ol></li>
	<li>In the bottom of it, you will see the list of your files, that can be inserted in your article.
	<ul>
		<li>In the left column, you will see the images and in the right column, others files, below &#8220;Documents&#8221;.</li>
		<li>When you add a document to your article, a link is created on it to download the file. When you add an image, it will be displayed as an image in the article. But both can be added in the same way:
		<ol>
			<li>Choose the folder that has the image you want to insert</li>
			<li>You will see a list with thumbnails of the images in the folder of your choice</li>
			<li>Using your mouse, click and drag the image to the part of the text where it will be inserted.<br />
  <img src="/images/doc/advanced-article-archives-list.en.png" title="Archives list when writing an article" alt="Archives list when writing an article" /></li>
		</ol></li>
	</ul></li>
</ul>
<h3 id="insertingvideosaudio">Inserting videos and audio</h3>
<ol>
	<li>Click on &#8220;<span class="caps">HTML</span>&#8221; button  <img src="/images/doc/advanced-article-insert-html.en.png" title="Insert html on an article" alt="Insert html on an article" /></li>
	<li>Insert the code of the video or audio an click on &#8220;Update&#8221; <img src="/images/doc/advanced-article-popup-insert-html.en.png" title="Insert html popup on an article" alt="Insert html popup on an article" /></li>
	<li>You will see a square with a &#8220;play&#8221; image on your text <img src="/images/doc/advanced-article-created-object.en.png" title="Created object on an article" alt="Created object on an article" /></li>
	<li>After clicking on &#8220;Save&#8221; button, the video or audio will be displayed on your text.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/spreading-articles">Spreading an article</a></li>
	<li><a href="/doc/cms/writing-article">Writing an article</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>