<h1 class="order-300">Writing an article</h1>
<p><em>To publish your articles you can create an aticle, as explained below.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage content&#8221;:  <img src="/images/doc/control-panel-content-management.en.png" title="Manage content in control panel" alt="Manage content in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>Click on &#8220;New article&#8221; button:  <img src="/images/doc/cms-new-article.en.png" title="New article on CMS" alt="New article on CMS" /></li>
	<li>There are four options of article that you can create after clicking on &#8220;New article&#8221; button:
	<ul>
		<li><strong>Text article with visual editor:</strong> the screen for article&#8217;s edition is similar to most text editors</li>
		<li><strong>Text article with Textile markup language:</strong> this option helps edition of articles by people with visual impairments. To format the text, is used the markup language <a href="http://textile.thresholdstate.com/">Textile</a></li>
		<li><strong>Event:</strong> creates an event, that will be listed on calendar</li>
		<li><strong>Feed <span class="caps">RSS</span>:</strong> provides a <a href="http://pt.wikipedia.org/wiki/Feed">feed</a>  <a href="http://pt.wikipedia.org/wiki/RSS"><span class="caps">RSS</span></a> of your recent articles</li>
		<li>In this example, we will create an article with visual editor. Click on &#8220;Text article with visual editor&#8221;  <img src="/images/doc/cms-article-types.en.png" title="List of article types" alt="List of article types" /></li>
	</ul></li>
	<li>Create your article <img src="/images/doc/article-text.en.png" title="Text on an article" alt="Text on an article" />
	<ol>
		<li>Fill in the field &#8220;Title&#8221; with the name of the article you want to create.</li>
		<li>Sometimes you need an introduction of the article, like when your blog is configured to display only the initial part of the post. If you need a shorter version click on &#8220;Lead&#8221; button and write the introduction. <img src="/images/doc/article-text-lead.en.png" title="Lead text on an article" alt="Lead text on an article" /></li>
		<li>Below, there is a space for text, where you will write the content of your article. You can write your text the same way you write in others text editors.</li>
		<li>After the text box, there are two buttons: &#8220;Save&#8221; (saves the article and display it) and &#8220;Save an continue&#8221; (saves the article and keeps on the same edition page)</li>
		<li>In the top of the box where you type your article you will see some buttons, that will help you formatting your text. Passing mouse over the button, the name of the button function is displayed.  <img src="/images/doc/wysiwyg-buttons.en.png" title="WYSIWYG buttons" alt="WYSIWYG buttons" />
		<ol>
			<li>From the left to right:
			<ol>
				<li><strong>Print:</strong> use this button if you want to print your article</li>
				<li><strong>Copy:</strong> select a section of the text and click on this button to copy it</li>
				<li><strong>Paste:</strong> if you copied something, then use this button to paste it on your text. The text will be pasted into the place where the cursor is</li>
				<li><strong>Undo:</strong> click on this button after writing or formatting some text and want to undo the action</li>
				<li><strong>Redo:</strong> click on this button if you clicked on button &#8220;undo&#8221; and want to redo your last action</li>
				<li><strong>Find:</strong> click on this button to find some word or phrase in your text</li>
				<li><strong>Find/Replace:</strong> click on this button to find some word or phrase in your text and replace it for other</li>
				<li><strong>Font size:</strong> used to define the size of characters. Select the text/word and change the size clicking on this button</li>
				<li><strong>Format:</strong> if you want to use one of the pre-configured formats, select text/word, click on this button and select the desired format.</li>
				<li><strong>Bold:</strong> it formats your text/word with a line thicker than usual. This format is used to emphasize the words. Example: <strong>home</strong> . To use it, first you should select the text/word and then click on button</li>
				<li><strong>Italic</strong> it formats your text/word as oblique. This format is also used to emphasize the words. Example: <em>home</em> . To use it, first you should select the text/word and then click on button</li>
				<li><strong>Underline:</strong> it is also used to emphasize a word/phrase. One line is drawn under the word. Example: <span style="text-decoration:underline;">home</span> . To use it, first you should select the word/phrase and then click on button</li>
				<li><strong>Strikethrough:</strong> one line in drawn in the middle of word/phrase Example: <span style="text-decoration:line-through;">home</span> . To use it, first you should select the word/phrase and then click on button</li>
				<li><strong>Unordered list:</strong> it creates a list, inserting a small ball before each item.</li>
				<li><strong>Ordered list</strong> it creates a numbered list, adding a number before each item.</li>
				<li><strong>Align left:</strong> use this button if you want your text to be left aligned. In this case, the right border of each line will be misaligned</li>
				<li><strong>Align center</strong> the alignment of the text is based on the center of the text. In this case, the left and right borders will be misaligned</li>
				<li><strong>Align right:</strong> use this button if you want your text to be right aligned. In this case, the left border of each line will be misaligned</li>
				<li><strong>Align full:</strong> use this button if you want your text to be aligned in both sides. In this case, the left and right borders of each line will be aligned</li>
				<li><strong>Insert/edit link:</strong> use it when you want to insert or edit a link to some address</li>
				<li><strong>Unlink:</strong> if you have a link in your text, click on this button to remove the link</li>
				<li><strong>Insert/edit image:</strong> use it if you want to insert an image or to edit an image that is in your text</li>
				<li><strong>Inserts a new table:</strong> use it to insert a table in your text</li>
				<li><strong>Cleanup messy code:</strong> click on this button to remove bad <span class="caps">HTML</span> code. You should use it after pasting a formatted text from another place</li>
				<li><strong>Edit <span class="caps">HTML</span> source:</strong> the text written in this editor is transformed in <span class="caps">HTML</span> code, to be viewed on browsers. Use this button to view/edit the <span class="caps">HTML</span> code of your article.</li>
			</ol></li>
		</ol></li>
	</ol></li>
	<li>If categorization is enabled in the system, you can categorize your article, increasing the possibility of others to access it. To view and select the categories, click on the arrow:  <img src="/images/doc/article-creation-categorization.en.png" title="Categorization of an article on creation" alt="Categorization of an article on creation" /></li>
	<li>You can select as many categories as you want.  <img src="/images/doc/article-creation-category-choosen.en.png" title="Category choosen on an article creation" alt="Category choosen on an article creation" /></li>
	<li>Tags list: fill in with tags. Tags are keywords or terms associated to your article. It is also used to increase the possibility of others to access it, because it will be listed when an user clicks in one of the tags your article has.  <img src="/images/doc/article-creation-tags.en.png" title="Tag on an article creation" alt="Tag on an article creation" /></li>
	<li>When creating an article, you should check the options you want.  <img src="/images/doc/article-creation-options.en.png" title="Options on an article creation" alt="Options on an article creation" />
	<ol>
		<li>Everybody will be able to view the article</li>
		<li>Everybody who view your article will be able to comment on it</li>
		<li>Sends an e-mail to you when a person comments on your article</li>
		<li>Display the number of article&#8217;s visualizations</li>
	</ol></li>
	<li>Then, click on &#8220;Save&#8221; button and the article will be created.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/cms/spreading-articles">Spreading an article</a></li>
	<li><a href="/doc/cms/writing-advanced-article">Writing advanced articles</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>