<h1 class="order-460">Accepting friends</h1>
<p><em>When one person asks to be your friend, you should accept or reject the request. This is what will be explained.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>If you have pending requests, you will see a box with the list of pending tasks on your control panel. In order to accept or deny, you should click on &#8220;Process requests&#8221; button<br />
  <img src="/images/doc/control-panel-with-tasks.en.png" title="Control panel with pending tasks" alt="Control panel with pending tasks" /></li>
	<li>If you want to accept, choose the option &#8220;Accept&#8221; and you also can classify your new friend according to your relationship type you two have. to confirm, click in &#8220;OK&#8221;. After that, your new friend will be listed in your contact list.<br />
  <img src="/images/doc/tasks-list-friendship-request.en.png" title="Tasks list" alt="Tasks list" /></li>
</ol>
<h2 id="relatedtopics">Related Topics</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Adding friends</a></li>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>