<h1 class="order-460">Aceptando amigos</h1>
<p><em>Cuando una persona pide ser tu amigo, debers aceptar o rechazar la
solicitud. Esto ser explicado.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Si tienes solicitudes pendientes, vers una caja con la lista de tareas
pendientes en tu panel de control. Para aceptar o rechazar, debers dar clic
en en el botn &#8220;Procesar solicitud&#8221;<br />
  <img src="/images/doc/control-panel-with-tasks.en.png" title="Panel de control con tareas pendientes" alt="Panel de control con tareas pendientes" /></li>
	<li>Si quieres aceptar, elige la opcin &#8220;Aceptar&#8221; y tambin puedes
clasificar a tu nuevo amigo de acuerdo al tipo de relacin que hay entre los
dos. Para confirmar, clic en &#8220;OK&#8221; Despus, tu nuevo amigo se
mostrar en la lista de tus contactos.<br />
  <img src="/images/doc/tasks-list-friendship-request.en.png" title="Lista de tareas" alt="Lista de tareas" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Aadiendo amigos</a></li>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>