<h1 class="order-460">Aceitar amigos</h1>
<p><em>Quando alguém pede para ser seu amigo ou amiga, é necessário que você
decida se aceita ou não. Isso é o que explicaremos a seguir.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Caso tenha solicitações pendentes, aparecerá no seu painel de controle uma
caixa com a lista de solicitações pendentes. Para aceitar ou ignorar, você
deve clicar no botão &#8220;Processar solicitações&#8221;.<br />
  <img src="/images/doc/control-panel-with-tasks.en.png" title="Painel de controle com tarefas pendentes" alt="Painel de controle com tarefas pendentes" /></li>
	<li>Para aceitar, selecione a opção &#8220;Aceitar&#8221; e se quiser pode
classificar seu novo amigo de acordo com a relação que vocês têm. Para
confirmar, clique em &#8220;OK&#8221;. Depois disso, seu novo amigo passará
a ser listado na sua lista de amigos.<br />
  <img src="/images/doc/tasks-list-friendship-request.en.png" title="Lista de tarefas" alt="Lista de tarefas" /></li>
</ol>
<h2 id="relatedtopics">Tópicos Relacionados</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Adicionar amigos</a></li>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>