<h1 class="order-450">Adicionar amigos</h1>
<p><em>Para interagir com outros usuários da rede, você pode incluí-los na sua
lista de contatos adicionando-os como amigos.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Se você tem um amigo neste sistema, você pode encontrar ele/ela com a busca
do sistema. Utilize a <a href="/doc/navigation/searching-people">busca</a> e
clique no seu amigo para visitar a página dele/dela.</p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Na página do usuário, clique no botão &#8220;Adicionar amigo&#8221; que você
verá abaixo da foto do usuário  <img src="/images/doc/profile-with-button-to-add-friends.en.png" title="Botão para adicionar um perfil como amigo" alt="Botão para adicionar um perfil como amigo" /></li>
	<li>Após clicar no botão, confirme que deseja adicionar o amigo. Nessa tela você
também poderá classificar o seu amigo de acordo com a relação que vocês têm. <img src="/images/doc/confirmation-adding-friend.en.png" title="Confirmação quando está adicionando um amigo" alt="Confirmação quando está adicionando um amigo" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>