<h1 class="order-450">Adding friends</h1>
<p><em>To interact with others system users, you can include them in your contact list, adding them as friends.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>If you have a friend in this system, you can find her/him with the system search. Use the <a href="/doc/navigation/searching-people">search</a> and click on your friend picture to visite her/his page.</p>
<h2 id="description">Description</h2>
<ol>
	<li>In the users page, click on &#8220;Add friend&#8221; button that you will see below the user picture <img src="/images/doc/profile-with-button-to-add-friends.en.png" title="Button to add a profile as friend" alt="Button to add a profile as friend" /></li>
	<li>After clicking the button, confirm that you want to add this user as a friend. On this screen you can also classify your friend with your relationship type. <img src="/images/doc/confirmation-adding-friend.en.png" title="Confirmation when adding a friend" alt="Confirmation when adding a friend" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>