<h1 class="order-450">Aadiendo amigos</h1>
<p><em>Para interactuar con otros usuarios del sistema, puedes incluirlos en tu
lista de contactos, aadindolos como amigos.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Si tienes un amigo en este sistema, puedes encontrarlo con el buscador del
sistema. Usa el <a href="/doc/navegation/searching-people"buscador</a> y haz
clic en la imagen de tu amigo para visitar su pgina.</p>
<h2 id="description">Descripción</h2>
<ol>
	<li>En la pgina de usuarios, haz clic en el botn &#8220;Aadir amigo&#8221; que
se mostrar debajo de la imagen del usuario <img src="/images/doc/profile-with-button-to-add-friends.en.png" title="Botn para aadir un perfil como amigo" alt="Botn para aadir un perfil como amigo" /></li>
	<li>Despus de dar clic en el botn, confirma que quieres aadir a este usuario
como amigo. En esta pantalla puedes clasificar tambin a tu amigo con algn
tipo de relacin. <img src="/images/doc/confirmation-adding-friend.en.png" title="Confirmacin cuando ests aadiendo un amigo" alt="Confirmacin cuando ests aadiendo un amigo" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>