<h1 class="order-456">Responder recortes enviados por mis amigos</h1>
<p><em> Cuando un amigo te envia un recorte, t puedes responderle.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Visita tu perfil para ver los recortes que tus amigos te enviaron. <img src="/images/doc/other-person-view-profile-link.en.png" title="Enlace para ver el perfil" alt="Enlace para ver el perfil" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En tu perfil, cuando das clic en la pestaa &#8220;Muro&#8221; los recortes
enviados sern listados. <img src="/images/doc/person-wall-scrap-sent.en.png" title="Pestaa muro" alt="Pestaa muro" /></li>
	<li>Cuando pasas el ratn sobre el recorte, da clic en el botn
&#8220;Responder&#8221; que ser mostrado <img src="/images/doc/person-wall-scrap-reply-button.en.png" title="Pestaa muro" alt="Pestaa muro" /></li>
	<li>Para responder el recorte, llena la caja de texto y presiona el botn
&#8220;Dejar un recorte&#8221; <img src="/images/doc/person-wall-scrap-reply-form.en.png" title="Pestaa muro" alt="Pestaa muro" /></li>
	<li>Luego, tu respuesta ser listada en el muro de tu perfil <img src="/images/doc/person-wall-scrap-reply-sent.en.png" title="Pestaa muro" alt="Pestaa muro" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/sending-scraps">Enviando recortes a mis amigos</a></li>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>