<h1 class="order-456">Respondendo recados enviados por amigos</h1>
<p><em>Quando um amigo envia um recado para você, você pode responder.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Visite seu perfil para ver os recados que seus amigos enviaram para você. <img src="/images/doc/other-person-view-profile-link.en.png" title="Link para ver perfil" alt="Link para ver perfil" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No seu perfil, quando você clica na aba &#8220;Mural&#8221; os recados
enviados para você serão listados. <img src="/images/doc/person-wall-scrap-sent.en.png" title="Aba mural" alt="Aba mural" /></li>
	<li>Quando você passar o mouse sobre o recado, clique no botão
&#8220;Responder&#8221; que aparecerá <img src="/images/doc/person-wall-scrap-reply-button.en.png" title="Aba mural" alt="Aba mural" /></li>
	<li>Para responder o recado, preencha o campo e pressione o botão &#8220;Deixar
um recado&#8221; <img src="/images/doc/person-wall-scrap-reply-form.en.png" title="Aba mural" alt="Aba mural" /></li>
	<li>Então, sua resposta será listada no mural do seu perfil <img src="/images/doc/person-wall-scrap-reply-sent.en.png" title="Aba mural" alt="Aba mural" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/sending-scraps">Enviar recados para os amigos</a></li>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>