<h1 class="order-456">Answering scraps sent by friends</h1>
<p><em>When a friend sends a scrap to you, you can answer it.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Visit your profile to see the scraps that your friends sent to you. <img src="/images/doc/other-person-view-profile-link.en.png" title="Link to view profile" alt="Link to view profile" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>On you profile, when you click on &#8220;Wall&#8221; tab, the scraps sent to you will be listed. <img src="/images/doc/person-wall-scrap-sent.en.png" title="Wall tab" alt="Wall tab" /></li>
	<li>When you hover the mouse on the scrap, click on the &#8220;Reply&#8221; button that will be displayed <img src="/images/doc/person-wall-scrap-reply-button.en.png" title="Wall tab" alt="Wall tab" /></li>
	<li>To answer the scrap, fill in the field and press the &#8220;Leave a scrap&#8221; button <img src="/images/doc/person-wall-scrap-reply-form.en.png" title="Wall tab" alt="Wall tab" /></li>
	<li>Then, your reply will be listed on your profile&#8217;s wall <img src="/images/doc/person-wall-scrap-reply-sent.en.png" title="Wall tab" alt="Wall tab" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/sending-scraps">Sending scraps to friends</a></li>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>