<h1 class="order-510">Cambiando contrasea</h1>
<p><em>Cuando quieras, puedes cambiar tu contrasea.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, clic en &#8220;Cambiar Contrasea&#8221;:  <img src="/images/doc/control-panel-change-password.en.png" title="Cambiar contrasea en panel de control" alt="Cambiar contrasea en panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<p><img src="/images/doc/change-password.en.png" title="Cambiando contrasea" alt="Cambiando contrasea" /></p>
<ol>
	<li>Introduce tu contrasea.</li>
	<li>Introduce tu nueva contrasea.</li>
	<li>Repite tu nueva contrasea, para confirmarla.<br />
Despus, clic en &#8220;Cambiar contrasea&#8221;.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
	<li><a href="/doc/user/logout">Salir del sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>