<h1 class="order-510">Changing password</h1>
<p><em>Whenever you want, you can change your password.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Change Password&#8221;:  <img src="/images/doc/control-panel-change-password.en.png" title="Change password in control panel" alt="Change password in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<p><img src="/images/doc/change-password.en.png" title="Changing password" alt="Changing password" /></p>
<ol>
	<li>Fill in with your password.</li>
	<li>Fill in with your new password.</li>
	<li>Retype your new password, to confirm it.<br />
Then, click on &#8220;Change  password&#8221;.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
	<li><a href="/doc/user/logout">Logout of the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>