<h1 class="order-510">Alterando senha</h1>
<p><em>Sempre que quiser, você pode alterar sua senha.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Encontre seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Alterar senha&#8221;  <img src="/images/doc/control-panel-change-password.en.png" title="Alterar senha no painel de controle" alt="Alterar senha no painel de controle" /></li>
</ol>
<h2 id="description">Descrição</h2>
<p><img src="/images/doc/change-password.en.png" title="Alterando senha" alt="Alterando senha" /></p>
<ol>
	<li>Preencha com sua senha.</li>
	<li>Preencha com sua nova senha.</li>
	<li>Digite novamente sua senha, para confirmá-la.<br />
Depois, clique em &#8220;Alterar senha&#8221;.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
	<li><a href="/doc/user/logout">Sair do sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>