<h1 class="order-470">Commenting articles</h1>
<p><em>Articles, pictures and events of the system can be commented. When a person creates an article or upload a picture, she can allow other people to comment.</em></p>
<p><em>If comments are available, the option to comment will be displayed to everyone who access the article or picture, authenticated or not. Now you will learn how to comment pictures and articles.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>When a person is viewing an article, picture or event, you will see a button to send comments after the content:  <img src="/images/doc/closed-comment-box.en.png" title="Box for comments closed" alt="Box for comments closed" /></li>
</ol>
<h2 id="description">Description</h2>
<ul>
	<li><strong>Logged in user:</strong> Click the button and a comment form will be displayed. You will see the title and body comment fields:  <img src="/images/doc/open-comment-box-for-logged-in.en.png" title="Box for comments open when logged in" alt="Box for comments open when logged in" /></li>
	<li><strong>Not logged in user:</strong> If you are not logged in, you will see name and e-mail fields to identify yourself:  <img src="/images/doc/open-comment-box-for-not-logged-in.en.png" title="Box for comments open when not logged in" alt="Box for comments open when not logged in" /></li>
	<li>After filling the fields and clicking the &#8220;Send comment&#8221; button, the comment will be displayed below the article.<br />
  <img src="/images/doc/comments-of-logged-in-out-person.en.png" title="Comment of a logged in person" alt="Comment of a logged in person" /></li>
</ul>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>