<h1 class="order-470">Comentando artculos</h1>
<p><em>Artculos, imgenes y eventos del sistema pueden ser comentados. Cuando
una persona crea un artculo o sube una imagen, puede permitir que otras
personas comenten.</em></p>
<p><em>Si los comentarios son permitidos, la opcin de comentar ser mostrada
cada vez que accesas al artculo o imagen, autenticado o no. Ahora aprenders
cmo comentar imgenes y articulos.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Cuando una persona est viendo un artculo, imagen o evento, vers un botn para
enviar comentarios despues del contenido:  <img src="/images/doc/closed-comment-box.en.png" title="Caja para comentarios cerrados" alt="Caja para comentarios cerrados" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ul>
	<li><strong>Usuario conectado:</strong> Da clic en el botn y un formulario de
comentario ser mostrado. Vers los campos de ttulo y cuerpo del comentario:  <img src="/images/doc/open-comment-box-for-logged-in.en.png" title="Caja para comentarios abierta cuando ests conectado" alt="Caja para comentarios abierta cuando ests conectado" /></li>
	<li><strong>Usuario no conectado:</strong>Si no has iniciado sesin, vers las
cajas de nombre y direccin de correo para identificarte:  <img src="/images/doc/open-comment-box-for-not-logged-in.en.png" title="Caja para comentarios abierta cuando no ests conectado" alt="Caja para comentarios abierta cuando no ests conectado" /></li>
	<li>Despus de llenar las cajas de texto da clic en el botn &#8220;Enviar
comentario&#8221;, el comentario se mostrar debajo del artculo.<br />
  <img src="/images/doc/comments-of-logged-in-out-person.en.png" title="Comentario de una persona conectada" alt="Comentario de una persona conectada" /></li>
</ul>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>