<h1 class="order-470">Comentar artigos</h1>
<p><em>Artigos, fotos e eventos do sistema podem receber comentários. Quando
uma pessoa cria um artigo ou publica uma foto, ela tem a opção de permitir
que pessoas comentem.</em></p>
<p><em>Caso os comentários estejam disponíveis, a opção de comentar aparecerá
para todos que acessarem o artigo ou foto, autenticado ou não. Este artigo
mostra como comentar fotos e artigos.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Quando estiver visualizando um artigo, foto ou evento, você verá um botão de
envio de comentários após o conteúdo:  <img src="/images/doc/closed-comment-box.en.png" title="Caixa para comentários fechada" alt="Caixa para comentários fechada" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ul>
	<li><strong>Usuário logado:</strong> Clique no botão e aparecerá um formulário
para você escrever o comentário. Você verá os campos de título e o corpo do
comentário:  <img src="/images/doc/open-comment-box-for-logged-in.en.png" title="Caixa para comentários aberta quando logado" alt="Caixa para comentários aberta quando logado" /></li>
	<li><strong>Usuário não logado:</strong> Se você não estiver logado aparecerão
campos de nome e e-mail para que você se identifique:  <img src="/images/doc/open-comment-box-for-not-logged-in.en.png" title="Caixa para comentários aberta quando não logado" alt="Caixa para comentários aberta quando não logado" /></li>
	<li>Após prencher os campos e clicar no botão &#8220;Enviar comentário&#8221;, o
comentário será mostrado abaixo do artigo.<br />
  <img src="/images/doc/comments-of-logged-in-out-person.en.png" title="Comentário de uma pessoa logada" alt="Comentário de uma pessoa logada" /></li>
</ul>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>