<h1 class="order-405">Eliminando un perfil</h1>
<p><em> Puedes eliminar tu perfil si ya no quieres ser miembro del
entorno.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En tu panel de control, da clic en &#8220;Informacin y configuracinde
perfil&#8221;  <img src="/images/doc/control-panel-person-edit-profile-info.en.png" title="Panel de control con editar informacin del perfil de la persona" alt="Panel de control con editar informacin del perfil de la persona" /></li>
	<li>Vers un formulario con tu informacin y configuraciones. Da clic en el botn
&#8220;Eliminar perfil&#8221; debajo de las opciones de privacidad <img src="/images/doc/control-panel-person-delete-profile.en.png" title="Enlace eliminar perfil" alt="Enlace eliminar perfil" /></li>
	<li>Vers una pgina de confirmacin. Si ests seguro que quieres borrar el perfil,
da clic en &#8220; S, estoy seguro&#8221; <img src="/images/doc/person-delete-profile-confirmation.en.png" title="Confirmacin para borrar perfil" alt="Confirmacin para borrar perfil" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/registering-new-user"> Registrando un nuevo usuario</a></li>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>