<h1 class="order-405">Removendo um perfil</h1>
<p><em>Você pode deletar seu perfil se você não quiser mais ser membro do
ambiente.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No seu painel de controle, clique em &#8220;Informações e Configurações do
Perfil&#8221;  <img src="/images/doc/control-panel-person-edit-profile-info.en.png" title="Painel de controle com edição de informações do perfil de uma pessoa" alt="Painel de controle com edição de informações do perfil de uma pessoa" /></li>
	<li>Aparecerá, então, um formulário com as suas informações e
configurações. Clique no botão &#8220;Remover perfil&#8221; abaixo das
opções de privacidade <img src="/images/doc/control-panel-person-delete-profile.en.png" title="Link para deletar perfil" alt="Link para deletar perfil" /></li>
	<li>Você verá a tela de confirmação. Se você tiver certeza que deseja remover o
perfil, clique em &#8220;Sim, eu tenho certeza&#8221; <img src="/images/doc/person-delete-profile-confirmation.en.png" title="Confirmação para remover perfil" alt="Confirmação para remover perfil" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/registering-new-user">Cadastrar um novo usuário</a></li>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>