<h1 class="order-405">Deleting a profile</h1>
<p><em>You can delete your profile if you don&#8217;t want to be a member of the environment anymore.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In your control panel, click on &#8220;Profile Info and settings&#8221;  <img src="/images/doc/control-panel-person-edit-profile-info.en.png" title="Control panel with edit profile info of person" alt="Control panel with edit profile info of person" /></li>
	<li>You will see a form with your information and settings. Click on the &#8220;Delete profile&#8221; button below the privacy options <img src="/images/doc/control-panel-person-delete-profile.en.png" title="Delete profile link" alt="Delete profile link" /></li>
	<li>You will see a confirmation page. If you are sure that you want to delete the profile, click on &#8220;Yes, I am sure&#8221; <img src="/images/doc/person-delete-profile-confirmation.en.png" title="Delete profile confirmation" alt="Delete profile confirmation" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/registering-new-user">Registering a new user</a></li>
	<li><a href="/doc/user/login">Login into the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>