<h1 class="order-530">Editando apariencia</h1>
<p><em>Puedes personalizar tu pgina, cambiando su plantilla.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Luego, clic en &quot;Editar apariencia:  <img src="/images/doc/control-panel-user-edit-appearance.en.png" title="Editar la apariencia del panel de control del usuario" alt="Editar la apariencia del panel de control del usuario" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Vers las plantillas disponibles:
	<ol>
		<li><strong>predefinida:</strong> Esta plantilla usa 3 columnas.</li>
		<li><strong>Barra derecha:</strong> En esta plantilla, tus pginas tienen 2
columnas. Sus bloques se muestran en la columna a la derecha.</li>
		<li><strong>Barra izquierda:</strong> En esta plantilla, tus pginas tendrn 2
columnas. Tus bloques se mostrarn en la columna a la izquierda.</li>
	</ol></li>
	<li>Puedes cambiar tu plantilla haciendo clic en el enlace &#8220;Usa esta
plantilla&#8221;<br />
<img src="/images/doc/edit-appearance.en.png" title="Editar apariencia" alt="Editar apariencia" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
	<li><a href="/doc/user/logout">Salir del sistema</a></li>
	<li><a href="/doc/user/editing-header-footer">Editando encabezado y pie de
pgina</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>