<h1 class="order-420">Editando configuraciones del usuario</h1>
<p><em> Puedes cambiar la informacin de tu perfil y la configuracin del
sistema.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En tu panel de control, da clic en &#8220;Informacin y configuracinde
perfil&#8221;  <img src="/images/doc/control-panel-person-edit-profile-info.en.png" title="Panel de control con editar informacin del perfil de la persona" alt="Panel de control con editar informacin del perfil de la persona" /></li>
	<li>Vers un formulario con tu informacin y configuraciones. Esto ser explicado
en partes
	<ol>
		<li><strong>Informacin general:</strong>Rellena con tus datos  <img src="/images/doc/person-edit-profile-info-general-informationen.en.png" title="Informacin general cuando editas informacin personal del perfil" alt="Informacin general cuando editas informacin personal del perfil" /></li>
		<li><strong>Change picture:</strong> Insert or change your picture. Click
on&quot;File…&quot; and choose the image in your computer. The image must
have a maximum of 500Kb e be <em>.jpg</em> , <em>.gif</em> or <em>.png</em>
.  <img src="/images/doc/person-edit-profile-info-change-picture.en.png" title="Cambiar imagen al editar informacin personal del perfil " alt="Cambiar imagen al editar informacin personal del perfil " /></li>
		<li><strong>Opciones de privacidad:</strong> Elige si tu perfil ser pblico o
privado. Cuando un perfil es privado, los usuarios que no son tus amigos y
que intentan ver tu perfil o alguno de tus contenidos ser redireccionado a
una pgina que muestre solamente la informacin general. <img src="/images/doc/person-edit-profile-privacy-options.en.png" title="Opciones de privacidad al editar la informacin de perfil de la empresa" alt="Opciones de privacidad al editar la informacin de perfil de la empresa" /></li>
		<li><strong>Categoras:</strong>Si estn disponibles en el sistema, puedes elegir
las categoras que la persona tendr. <img src="/images/doc/person-edit-profile-categories.en.png" title="Categoras al editar la informacin personal del perfil" alt="Categoras al editar la informacin personal del perfil" /></li>
	</ol></li>
	<li>Despus, da clic en el botn &#8220;Guardar&#8221; y el perfil ser
actualizado.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>