<h1 class="order-540">Editing header and footer</h1>
<p><em>You can customize your page, adding some text or image on header or footer.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Edit Header and Footer&#8221;:  <img src="/images/doc/control-panel-user-edit-header-footer.en.png" title="Edit header and footer on user control panel" alt="Edit header and footer on user control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>You will see 2 boxes. In the first box, add the content of your header, that will be displayed on the top of your page. In the second box, add the content of your footer, that will be displayed on the bottom of your page.</li>
	<li>On the top of both boxes you will see some buttons, that will help you formatting your text. Passing mouse over the button, the name of the button function is displayed.  <img src="/images/doc/wysiwyg-buttons.en.png" title="WYSIWYG buttons" alt="WYSIWYG buttons" />
	<ol>
		<li>From the left to right:
		<ol>
			<li><strong>Print:</strong> use this button if you want to print your the box content</li>
			<li><strong>Copy:</strong> select a section of the text and click on this button to copy it</li>
			<li><strong>Paste:</strong> if you copied something, then use this button to paste it on your text. The text will be pasted into the place where the cursor is</li>
			<li><strong>Undo:</strong> click on this button after writing or formatting some text and want to undo the action</li>
			<li><strong>Redo:</strong> click on this button if you clicked on button &#8220;undo&#8221; and want to redo your last action</li>
			<li><strong>Find:</strong> click on this button to find some word or phrase in your text</li>
			<li><strong>Find/Replace:</strong> click on this button to find some word or phrase in your text and replace it for other</li>
			<li><strong>Font size:</strong> used to define the size of characters. Select the text/word and change the size clicking on this button</li>
			<li><strong>Format:</strong> if you want to use one of the pre-configured formats, select text/word, click on this button and select the desired format.</li>
			<li><strong>Bold:</strong> it formats your text/word with a line thicker than usual. This format is used to emphasize the words. Example: <strong>home</strong> . To use it, first you should select the text/word and then click on button</li>
			<li><strong>Italic</strong> it formats your text/word as oblique. This format is also used to emphasize the words. Example: <em>home</em> . To use it, first you should select the text/word and then click on button</li>
			<li><strong>Underline:</strong> it is also used to emphasize a word/phrase. One line is drawn under the word. Example: <span style="text-decoration: underline;">home</span> . To use it, first you should select the word/phrase and then click on button</li>
			<li><strong>Strikethrough:</strong> one line in drawn in the middle of word/phrase Example: <span style="text-decoration:line-through;">home</span> . To use it, first you should select the word/phrase and then click on button</li>
			<li><strong>Unordered list:</strong> it creates a list, inserting a small ball before each item.</li>
			<li><strong>Ordered list</strong> it creates a numbered list, adding a number before each item.</li>
			<li><strong>Align left:</strong> use this button if you want your text to be left aligned. In this case, the right border of each line will be misaligned</li>
			<li><strong>Align center</strong> the alignment of the text is based on the center of the text. In this case, the left and right borders will be misaligned</li>
			<li><strong>Align right:</strong> use this button if you want your text to be right aligned. In this case, the left border of each line will be misaligned</li>
			<li><strong>Align full:</strong> use this button if you want your text to be aligned in both sides. In this case, the left and right borders of each line will be aligned</li>
			<li><strong>Insert/edit link:</strong> use it when you want to insert or edit a link to some address</li>
			<li><strong>Unlink:</strong> if you have a link in your text, click on this button to remove the link</li>
			<li><strong>Insert/edit image:</strong> use it if you want to insert an image or to edit an image that is in your text</li>
			<li><strong>Inserts a new table:</strong> use it to insert a table in your text</li>
			<li><strong>Cleanup messy code:</strong> click on this button to remove bad <span class="caps">HTML</span> code. You should use it after pasting a formatted text from another place</li>
			<li><strong>Edit <span class="caps">HTML</span> source:</strong> the text written in this editor is transformed in <span class="caps">HTML</span> code, to be viewed on browsers. Use this button to view/edit the <span class="caps">HTML</span> code of your header/footer.</li>
		</ol></li>
	</ol></li>
	<li>After editing your header and footer, click on &#8220;Save&#8221; button <img src="/images/doc/edit-header-footer.en.png" title="Editing header and footer" alt="Editing header and footer" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
	<li><a href="/doc/user/logout">Logout of the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>