<h1 class="order-500">Editing sideboxes</h1>
<p><em>You can customize your page, changing the blocks that will be displayed on it.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Edit Sideboxes&#8221;:  <img src="/images/doc/control-panel-user-edit-sideboxes.en.png" title="Edit sideboxes on user control panel" alt="Edit sideboxes on user control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>The model of the page will be displayed, always with 3 columns. If you want to add a new block, click on &#8220;Add a block&#8221;: <img src="/images/doc/user-edit-sideboxes.en.png" title="Edit sideboxes" alt="Edit sideboxes" /></li>
	<li>You will see the blocks that you can add to your page: <img src="/images/doc/user-sideboxes-add-block.en.png" title="Add a block" alt="Add a block" />
	<ol>
		<li>Select where you want to add the new block. You have only two options, &#8220;Area 2&#8221; (left side) and &#8220;Area 3&#8221; (right side). You cannot add a new block in the middle of your page.</li>
		<li>Choose which block will be added.</li>
		<li>After clicking on &#8220;Add&#8221; button, the new block will be displayed on the bottom of the area you selected.</li>
	</ol></li>
	<li>Types of blocks:
	<ul>
		<li><strong>Display one of your contents:</strong> This block displays one of your articles. You can edit the block to select which one of your articles is going to be displayed in the block. <img src="/images/doc/article-block.en.png" title="Article block" alt="Article block" /></li>
		<li><strong>Last updates:</strong> Display the most recents contents that you created. You can choose how many articles will be listed. <img src="/images/doc/recent-content-block.en.png" title="Recent content block" alt="Recent content block" /></li>
		<li><strong>Links (static menu):</strong> You can use it to create a menu of links. You can add, remove and update the links as you wish. If you want a link to your blog, for example, you should type &#8220;/{profile}/blog&#8221; on the field &#8220;Address&#8221;. The &#8220;{profile}&#8221; will be replaced by your identifier. <img src="/images/doc/links-block.en.png" title="Links block" alt="Links block" /></li>
		<li><strong>Feed reader:</strong> This block can be used to list the latest news from any site you want. You just need to inform the address of a <span class="caps">RSS</span> feed clicking on &#8220;Edit&#8221; button. You also can select the number of items that will be displayed. <img src="/images/doc/feed-reader-block.en.png" title="Feed reader block" alt="Feed reader block" /></li>
		<li><strong>Location map:</strong> Shows where the profile is on the material world. <img src="/images/doc/location-map-block.en.png" title="Location map block" alt="Location map block" /></li>
		<li><strong>Friends:</strong> Displays your friends. You can choose how many friends will be displayed. <img src="/images/doc/friends-block.en.png" title="Friends block" alt="Friends block" /></li>
		<li><strong>Communities:</strong> Displays the communities in which the user is a member. You can choose how many communities will be displayed. <img src="/images/doc/communities-block.en.png" title="Communities block" alt="Communities block" /></li>
		<li><strong>Tags:</strong> Tags are created when you add some of them to your contents. This block will display the tags used on your contents. You can choose how many tags will be displayed. <img src="/images/doc/tags-block.en.png" title="Tags block" alt="Tags block" /></li>
		<li><strong>Profile Information:</strong> It has a picture and some basic information about the profile, like how long the profile is part of the environment and useful links. <img src="/images/doc/profile-info-block.en.png" title="Profile info block" alt="Profile info block" /></li>
		<li><strong>My network:</strong> This block displays some information about your networking. <img src="/images/doc/user-network-block.en.png" title="User network block" alt="User network block" /></li>
		<li><strong>Profile Image:</strong> This block presents the profile image. <img src="/images/doc/profile-image-block.en.png" title="Profile image block" alt="Profile image block" /></li>
		<li><strong>Slideshow:</strong> This block displays the images of one of your image galleries as a slideshow. You can edit the block to select which image gallery will be displayed. <img src="/images/doc/slideshow-block.en.png" title="Slideshow block" alt="Slideshow block" /></li>
		<li><strong>Favorite enterprises:</strong> Lists your favorite enterprises. You can choose how many enterprises will be listed. <img src="/images/doc/favorite-enterprises-block.en.png" title="Favorite enterprises block" alt="Favorite enterprises block" /></li>
		<li><strong>Enterprises:</strong> This block displays the enterprises in which the user is a member. You can choose how many enterprises will be listed. <img src="/images/doc/enterprises-block.en.png" title="Enterprises block" alt="Enterprises block" /></li>
	</ul></li>
	<li>In the bottom of each block you will see some buttons. Passing mouse over the button, the name of the button function is displayed.  <img src="/images/doc/block-actions.en.png" title="Buttons from block" alt="Buttons from block" />
	<ul>
		<li>From the left to right:
		<ul>
			<li><strong>Move block up:</strong> The block will change place with the block on the top of it.</li>
			<li><strong>Move block down:</strong> The block will change place with the block on the bottom of it.</li>
			<li><strong>Move to the opposite side:</strong> The block is moved to the other side of your page, on the bottom of the column. If it is on the left, it is moved to the right side. If it is on the right, it is moved to the left side.</li>
			<li><strong>Edit:</strong> This button will only be displayed if the block is editable. Click on this button to configure the block. Some blocks have specific configuration. <img src="/images/doc/edit-block.en.png" title="block" alt="block" />
			<ol>
				<li>Custom title of this block: Each block has a default title. If you want to change it, type your title in this field.</li>
				<li>Display this block: Select how you want this block to be displayed. There are 3 options:
				<ul>
					<li>In all pages: The block will be displayed in all pages of your profile.</li>
					<li>Only in the home page: The block will only be displayed on your homepage.</li>
					<li>Don&#8217;t display: The block will not be displayed.</li>
				</ul></li>
			</ol></li>
			<li><strong>Remove block:</strong> Remove the block from your page.</li>
			<li><strong>Help on this block:</strong> Display a message with a small description of the block.</li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/editing-header-footer">Editing header and footer</a></li>
	<li><a href="/doc/user/editing-appearance">Editing appearance</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>