<h1 class="order-530">Editar aparência</h1>
<p><em>Você pode personalizar sua página, alterando o modelo dela.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Encontre seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Editar Aparência&#8221;:  <img src="/images/doc/control-panel-user-edit-appearance.en.png" title="Editar aparência no painel de controle do usuário" alt="Editar aparência no painel de controle do usuário" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Você verá os modelos disponíveis:
	<ol>
		<li><strong>default:</strong> Este modelo utiliza 3 colunas.</li>
		<li><strong>rightbar:</strong> Neste modelo, suas páginas terão 2 colunas. Seus
blocos serão mostrados na coluna da direita.</li>
		<li><strong>leftbar:</strong> Neste modelo, suas páginas terão 2 colunas. Seus
blocos serão mostrados na coluna da esquerda.</li>
	</ol></li>
	<li>Você pode alterar seu template clicando no link &#8220;Usar este
modelo&#8221;<br />
<img src="/images/doc/edit-appearance.en.png" title="Editar aparência" alt="Editar aparência" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
	<li><a href="/doc/user/logout">Sair do sistema</a></li>
	<li><a href="/doc/user/editing-header-footer">Editar cabeçalho e rodapé</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>