<h1 class="order-420">Alterar informações/configurações de um usuário</h1>
<p><em>Você pode alterar as informações e configurações do seu perfil no
sistema.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No seu painel de controle, clique em &#8220;Informações e Configurações do
Perfil&#8221;  <img src="/images/doc/control-panel-person-edit-profile-info.en.png" title="Painel de controle com edição de informações do perfil de uma pessoa" alt="Painel de controle com edição de informações do perfil de uma pessoa" /></li>
	<li>Aparecerá, então, um formulário com as suas informações e
configurações. Essa tela será explicada por partes
	<ol>
		<li><strong>Informações gerais:</strong> Preencha com os seus dados  <img src="/images/doc/person-edit-profile-info-general-informationen.en.png" title="Informações gerais na edição do perfil de uma pessoa" alt="Informações gerais na edição do perfil de uma pessoa" /></li>
		<li><strong>Mudar foto: </strong>Insira ou altere sua foto. Clique em
&#8220;Arquivo...&#8221; e escolha a imagem no seu computador. A imagem deve
ter no máximo 500Kb e ser do tipo <em>.jpg</em>, <em>.gif</em> ou
<em>.png</em>.  <img src="/images/doc/person-edit-profile-info-change-picture.en.png" title="Alterar imagem na edição de perfil de pessoa" alt="Alterar imagem na edição de perfil de pessoa" /></li>
		<li><strong>Opções de privacidade:</strong> Escolha se o perfil do
empreendimento será público ou privado. Quando um empreendimento é privado,
os usuários que não são amigos e tentam visualizar o perfil do
empreendimento ou seu conteúdo serão redirecionado para a página que mostra
apenas informações gerais. <img src="/images/doc/person-edit-profile-privacy-options.en.png" title="Opções de privacidade na edição das informações do empreendimento" alt="Opções de privacidade na edição das informações do empreendimento" /></li>
		<li><strong>Categorias:</strong> Se habilitado no sistema, você pode definir as
categorias que o você fará parte. <img src="/images/doc/person-edit-profile-categories.en.png" title="Alterar imagem na edição de perfil de pessoa" alt="Alterar imagem na edição de perfil de pessoa" /></li>
	</ol></li>
	<li>Depois, basta clicar no botão &#8220;Salvar&#8221; que o perfil estará
atualizado.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>