<h1 class="order-500">Editando las bandejas laterales</h1>
<p><em>Puedes personalizar tu pgina, cambiando el bloque que ser mostrado.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Luego, clic en &#8220;Editar bandejas laterales&#8221;:  <img src="/images/doc/control-panel-user-edit-sideboxes.en.png" title="Editar cajas laterales en panel de control de usuarios " alt="Editar cajas laterales en panel de control de usuarios " /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>El modelo de la pgina se mostrar, siempre con 3 columnas. Si deseas aadir un
nuevo bloque, clic en &#8220;Aadir Bloque&#8221;: <img src="/images/doc/user-edit-sideboxes.en.png" title="Editar bandejas Laterales" alt="Editar bandejas Laterales" /></li>
	<li>Vers los bloques que puedes aadir a tu pgina: <img src="/images/doc/user-sideboxes-add-block.en.png" title="Aadir un bloque" alt="Aadir un bloque" />
	<ol>
		<li>Selecciona dnde deseas aadir el nuevo bloque. Tienes solamente dos opciones,
&#8220;rea 2&#8221; (lado izquierdo) y &#8220;rea 3&#8221; (lado
derecho). No puedes aadir un nuevo bloque al centro de tu pgina.</li>
		<li>Selecciona cul bloque ser aadido.</li>
		<li>Despus de dar clic en el botn &#8220;Aadir&#8221;, el nuevo bloque ser
desplegado en la parte inferior del rea seleccionada.</li>
	</ol></li>
	<li>Tipos de bloques:
	<ul>
		<li><strong> Mostrar uno de tus contenidos:</strong> Este bloque muestra uno de
tus artculos. Puedes editar el bloque para seleccionar cul de tus artculos
va a ser mostrado en el bloque. <img src="/images/doc/article-block.en.png" title="Bloque artculo" alt="Bloque artculo" /></li>
		<li><strong>ltimas actualizaciones:</strong> Muestra el contenido ms reciente
que has creado. Puedes elegir cuntos artculos sern listados. <img src="/images/doc/recent-content-block.en.png" title="Contenido reciente del bloque" alt="Contenido reciente del bloque" /></li>
		<li><strong> Enlaces (men esttico):</strong> Puedes usarlo para crear un men de
enlaces. Puedes aadir, elimnar o actualizar los enlaces cuando lo desees. Si
quieres un enlace para tu blog, por ejemplo, debers escribir
&#8220;/{profile}/blog&38221; en el campo &#8220;Direccin&#8221;. El
&#8220;{profile}&#8221; ser remplazado por tu identificador. <img src="/images/doc/links-block.en.png" title="Bloque de enlaces" alt="Bloque de enlaces" /></li>
		<li><strong>Lector de noticias:</strong> Este bloque puede ser usado para listar
las ltimas noticias de cualquier sitio que quieras. Solo necesitas informar
de un <span class="caps">RSS</span> feed dando clic en el botn
&#8220;Editar&#8221;. Tambin puedes seleccionar el nmero de elementos que
sern desplegados. <img src="/images/doc/feed-reader-block.en.png" title="Bloque de lector de noticias" alt="Bloque de lector de noticias" /></li>
		<li><strong>Mapa de loclizacin:</strong> Muestra dnde se encuentra el perfil
mundo. <img src="/images/doc/location-map-block.en.png" title="Bloque del mapa de localizacin" alt="Bloque del mapa de localizacin" /></li>
		<li><strong>Amigos:</strong> Muestra a tus amigos. Puedes elegir cuntos amigos
sern mostrados. <img src="/images/doc/friends-block.en.png" title="Bloque de amigos" alt="Bloque de amigos" /></li>
		<li><strong>Comunidades:</strong> Muestra las comunidades de las cuales el
usuario es miembro. Puedes elegir cuntas comunidades sern mostradas. <img src="/images/doc/communities-block.en.png" title="Bloque de comunidades" alt="Bloque de comunidades" /></li>
		<li><strong>Etiquetas:</strong> Las etiquetas son creadas cuando aades algunas a
tu contenido. Este bloque mostrar las etiquetas usadas en tus
contenidos. Puedes elegir cuntas etiquetas sern mostradas. <img src="/images/doc/tags-block.en.png" title="Bloque de etiquetas" alt="Bloque de etiquetas" /></li>
		<li><strong> Informacin de perfil:</strong> Cuenta con una imagen y alguna
informacin basica sobre el perfil, como desde hace cuanto tiempo el perfil
ha sido parte del entorno y enlaces tiles. <img src="/images/doc/profile-info-block.en.png" title="Bloque de informacin del perfil" alt="Bloque de informacin del perfil" /></li>
		<li><strong>Mi red:</strong> Este bloque muestra alguna informacin acerca de tu
red. <img src="/images/doc/user-network-block.en.png" title="Bloque redes del usuario" alt="Bloque redes del usuario" /></li>
		<li><strong> Imagen del perfil:</strong> Este bloque presenta la imagen de
perfil. <img src="/images/doc/profile-image-block.en.png" title="Bloque de imagen del perfil" alt="Bloque de imagen del perfil" /></li>
		<li><strong>Presentacin:</strong> Este bloque muestra las imgenes de una de tus
galerias de imgenes como una presentacin. Puedes editar el bloque para
selecionar cul imagen de la galera ser mostrada. <img src="/images/doc/slideshow-block.en.png" title="Bloque de la presentacin" alt="Bloque de la presentacin" /></li>
		<li><strong>Empresas favoritas:</strong> Enlista tus empresas favoritas. Puedes
elegir cuntas empresas son listadas.  <img src="/images/doc/favorite-enterprises-block.en.png" title="Bloque de empresas favoritas" alt="Bloque de empresas favoritas" /></li>
		<li><strong> Empresas:</strong> Este bloque muestra las empresas de las cuales
el usuario es miembro. Puedes elegir cuntas empresas sern listadas. <img src="/images/doc/enterprises-block.en.png" title="Bloque de empresas" alt="Bloque de empresas" /></li>
	</ul></li>
	<li>En la parte inferior de cada bloque vers algunos botones. Pasando el puntero
sobre cada uno, el nombre de su funcin ser mostrado.  <img src="/images/doc/block-actions.en.png" title="Botones del bloque" alt="Botones del bloque" />
	<ul>
		<li>De izquierda a derecha:
		<ul>
			<li><strong>Mover el bloque hacia arriba:</strong> El bloque cambiar de posicin
con el bloque superior.</li>
			<li><strong>Mover el bloque hacia abajo:</strong> El bloque cambiar de lugar con
el bloque inferior.</li>
			<li><strong>Mover al lado opuesto:</strong> El bloque es movido al otro lado de
tu pgina, hasta abajo de la columna. Si est en la izquierda, ser movido a la
derecha. Si est en la derecha, ser movido a la izquierda.</li>
			<li><strong>Editar:</strong> Este botn solamente ser mostrado si el bloque es
editable. Clic en este botn para configurar el bloque. Algunos bloques
tienen una configuracin especfica. <img src="/images/doc/edit-block.en.png" title="bloque" alt="bloque" />
			<ol>
				<li>Personalizar el ttulo de este bloque: Cada bloque tiene un ttulo
predefinido. Si deseas cambiarlo, ingresa el nuevo ttulo en este campo.</li>
				<li>Mostrar este bloque: Selecciona cmo quieres que sea desplegado este
bloque. Hay 3 opciones:
				<ul>
					<li>En todas las pginas: El bloque ser desplegado en todas las pginas de tu
perfil.</li>
					<li>Solo en la pgina de inicio: El bloque solamente ser desplegado en tu pgina
de inicio.</li>
					<li>No mostrar: El bloque no ser mostrado.</li>
				</ul></li>
			</ol></li>
			<li><strong>Eliminar bloque:</strong> Eliminar el bloque de tu pgina.</li>
			<li><strong>Ayuda en este bloque:</strong> Desplegar un mensaje con una pequea
descripcin del bloque.</li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/editing-header-footer">Editando encabezado y pie de
pgina</a></li>
	<li><a href="/doc/user/editing-appearance">Editando apariencia</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>