<h1 class="order-540">Editando cabeçalho e rodapé</h1>
<p><em>Você pode personalizar sua página, colocando texto ou imagem no
cabeçalho ou rodapé</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Encontre seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Editar cabeçalho e rodapé&#8221;  <img src="/images/doc/control-panel-user-edit-header-footer.en.png" title="Editar cabeçalho e rodapé no controle de painel do usuário" alt="Editar cabeçalho e rodapé no controle de painel do usuário" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Você verá 2 caixas. Na primeira caixa, adicione o conteúdo do seu cabeçalho,
que será mostrado no topo da sua página. Na segunda caixa, adicione o
conteúdo do seu rodapé, que será mostrado na parte inferior da sua página.</li>
	<li>Na parte superior das caixas você poderá ver alguns botões que lhe ajudarão
a formatar seu texto. Passando o mouse sobre o botão, aparecerá o nome da
função do botão.  <img src="/images/doc/wysiwyg-buttons.en.png" title="WYSIWYG buttons" alt="WYSIWYG buttons" />
	<ol>
		<li>Seguindo a ordem da esquerda para a direita:
		<ol>
			<li><strong>Imprimir:</strong> utilize esse botão caso queira imprimir seu o
conteúdo da caixa</li>
			<li><strong>Copiar:</strong> selecione um trecho do texto e clique nesse botão
para copiá-lo</li>
			<li><strong>Colar:</strong> caso já tenha copiado algo, utilize esse botão para
colar no seu texto. O texto será colado no lugar que o cursor estiver</li>
			<li><strong>Desfazer:</strong> clique nesse botão depois de escrever ou formatar
algo e quiser desfazer</li>
			<li><strong>Refazer:</strong> caso tenha desfeito sua última ação, poderá
refazê-la clicando nesse botão</li>
			<li><strong>Localizar:</strong> use este botão para encontrar alguma palavra ou
frase no seu texto</li>
			<li><strong>Localizar/Substituir:</strong> use este botão para encontrar alguma
palavra/frase no texto e substituí-lo por outra</li>
			<li><strong>Tamanho:</strong> para definir o tamanho do texto/palavra, selecione
o text/palavra e altere o tamanho clicando nesse botão</li>
			<li><strong>Formatação:</strong> para utilizar alguma das formatações já
configuradas, selecione um trecho do texto, clique nesse botão e selecione a
formatação desejada</li>
			<li><strong>Negrito:</strong> utilize para formatar seu texto/palavra com um
traço mais grosso que o comum. Essa formatação é utilizada para dar maior
realce às palavras. Ex: <strong>casa</strong>. Para usá-lo, primeiro você
deve selecionar o trecho e depois clicar no botão</li>
			<li><strong>Itálico:</strong> utilize para formatar seu texto/palavra com um
traço inclinado. Essa formatação também é utilizada para dar maior realce às
palavras. Ex: <em>casa</em>. Para usá-lo, primeiro você deve selecionar o
trecho e depois clicar no botão</li>
			<li><strong>Sublinhado:</strong> também usado para destacar uma
palavra/frase. Uma linha é inserida abaixo da palavra. Ex: <span
style="text-decoration: underline;">casa</span>. Para usá-lo, primeiro você
deve selecionar o trecho e depois clicar no botão</li>
			<li><strong>Riscado: </strong>uma linha é inserida no meio da palavra/frase. Ex:
<span style="text-decoration: line-through;">casa</span>. Para usá-lo,
primeiro você deve selecionar o trecho e depois clicar no botão</li>
			<li><strong>Marcadores:</strong> utilizado para criar uma lista, inserindo uma
bolinha antes de cada item, como esta com a lista de botões</li>
			<li><strong>Numeração:</strong> utilizado para criar uma lista numerada,
inserindo o número do item antes de cada item</li>
			<li><strong>Alinhar à esquerda:</strong> utilize esse botão quando quiser que
seu texto fique alinhado à margem esquerda. Nesse caso, a borda direita de
cada linha ficará desalinhada</li>
			<li><strong>Centralizar:</strong> o alinhamento do texto tem como referência o
centro do espaço do texto. Nesse caso, as bordas esquerda e direita de cada
linha ficarão imperfeitas</li>
			<li><strong>Alinhar à direita:</strong> utilize esse botão quando quiser que seu
texto fique alinhado à margem direita. Nesse caso, a borda esquerda de cada
linha ficará desalinhada</li>
			<li><strong>Justificar:</strong> utilize esse botão quando quiser que as linhas
do seu texto fiquem alinhadas tanto à direita como esquerda</li>
			<li><strong>Inserir/editar hyperlink: </strong>deve ser utilizado quando você
quiser inserir ou editar um link para algum endereço</li>
			<li><strong>Remover hyperlink:</strong> caso tenha um link em seu texto, utilize
esse botão para remover o link</li>
			<li><strong>Inserir/editar imagem:</strong> utilize caso queira inserir uma
imagem que está em algum endereço ou para editar uma imagem que já está no
seu texto</li>
			<li><strong>Inserir nova tabela:</strong> utilizado para inserir uma tabela no
texto</li>
			<li><strong>Limpar código incorreto: </strong>esse botão remove código HTML
desnecessário do seu texto. É aconselhável utilizar após colar um texto
formatado originado de outra página</li>
			<li><strong>Editar código fonte:</strong> o texto escrito nesse editor é
transformado em código HTML, para poder ser visualizado nos
navegadoores. Utilize esse botão para visualizar/editar o código HTML do seu
cabeçalho/rodapé.</li>
		</ol></li>
	</ol></li>
	<li>Após editar seu cabeçalho e rodapé, clique no botão &#8220;Salvar&#8221; <img src="/images/doc/edit-header-footer.en.png" title="Editando cabeçalho e rodapé" alt="Editando cabeçalho e rodapé" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
	<li><a href="/doc/user/logout">Sair do sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>