<h1 class="order-420">Editing user settings</h1>
<p><em>You can change your profile information and settings in the system.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In your control panel, click on &#8220;Profile Info and settings&#8221;  <img src="/images/doc/control-panel-person-edit-profile-info.en.png" title="Control panel with edit profile info of person" alt="Control panel with edit profile info of person" /></li>
	<li>You will see a form with your information and settings. This will be explained in parts
	<ol>
		<li><strong>General information:</strong> Fill in with your data  <img src="/images/doc/person-edit-profile-info-general-informationen.en.png" title="General information when editing person profile info" alt="General information when editing person profile info" /></li>
		<li><strong>Change picture:</strong> Insert or change your picture. Click on&quot;File…&quot; and choose the image in your computer. The image must have a maximum of 500Kb e be <em>.jpg</em> , <em>.gif</em> or <em>.png</em> .  <img src="/images/doc/person-edit-profile-info-change-picture.en.png" title="Change picture when editing person profile info" alt="Change picture when editing person profile info" /></li>
		<li><strong>Privacy options:</strong> Choose if your profile will be public or private. When a profile is private, the users that are not friends and that tries to view the profile or some of its contents will be redirected to a page that display only general information. <img src="/images/doc/person-edit-profile-privacy-options.en.png" title="Privacy options when editing enterprise profile info" alt="Privacy options when editing enterprise profile info" /></li>
		<li><strong>Categories:</strong> If enabled in the system, you can choose the categories that the person will have. <img src="/images/doc/person-edit-profile-categories.en.png" title="Categories when editing person profile info" alt="Categories when editing person profile info" /></li>
	</ol></li>
	<li>Then, click on &#8220;Save&#8221; button an the profile will be updated.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>