<h1 class="order-440">Invitar a contactos del correo electrnico.</h1>
<p><em>Puedes inivitar a tus contactos del correo electrnico para tus amigos
dentro del sitema. Si el correo electrnico est registrado en el sistema, el
usuario recibir una invitacin a travs del sistema. Si no est registrado, el
usuario recibir una invitacin en su correo electrnico.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/control-panel-menu.en.png" title="Men de panel de control" alt="Men de panel de control" /></li>
	<li>Despus, da clic en &#8220;Administrar amigos&#8221;  <img src="/images/doc/manage-friends.en.png" title="Administrar amigos" alt="Administrar amigos" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>You will your list of friends and the invitation button. Click on the
button.<br />
  <img src="/images/doc/user-friends-with-invitation-button.en.png" title="Usuarios en tu lista de amigos" alt="Usuarios en tu lista de amigos" /></li>
	<li>Puedes invitar a tus contactos manualmente insertando sus correos
electrnicos o importndolos desde tus contactos.
	<ul>
		<li><strong>Manualmente</strong>: Selecciona la opcin &#8220;Manualmente&#8221;
y clic en &#8220;Siguiente&#8221; <img src="/images/doc/user-manually-invitation-step-1.en.png" title="Invitacin manual para el usuario. Paso 1" alt="Invitacin manual para el usuario. Paso 1" />
		<ul>
			<li>Escribe la direccin de correo electrnico en el primer campo. Solamente debes
escribir una cuenta en cada lnea.</li>
			<li>Dando clic &#8220;Personalice la invitacin de correo&#8221;, puedes editar
el texto que se enviar. Despus, clic en &#8220;Invitar mis amigos&#8221; <img src="/images/doc/user-manually-invitation-step-2.en.png" title="Invitacin manual para el usuario. Paso 2" alt="Invitacin manual para el usuario. Paso 2" /></li>
		</ul></li>
		<li><strong>Importando</strong>: Selecciona una de las otras opciones para
importar tus contactos desde tu correo electrnico. Completa los campos con
tu nombre de usuario y contrasea que usas para accesar a tu cuenta y clic en
&#8220;Siguiente&#8221;. <img src="/images/doc/user-import-invitation-step-1.en.png" title="Importar invitacin para el usuario. Paso 1" alt="Importar invitacin para el usuario. Paso 1" />
		<ul>
			<li>Puedes escribir las direcciones de correo electrnico en el primer campo,
solamente una cuenta por lnea.</li>
			<li>Tambin vers tu lista de correos electrnicos. Verifica las cuentas a las que
deseas enviar una invitacin.</li>
			<li>Dando clic &#8220;Personalice la invitacin de correo&#8221;, puedes editar
el texto que se enviar. Despus, clic en &#8220;Invitar mis amigos&#8221; <img src="/images/doc/user-import-invitation-step-2.en.png" title="Importar invitacin para el usuario. Paso 2" alt="Importar invitacin para el usuario. Paso 2" /></li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>