<h1 class="order-440">Convidar contatos por e-mail</h1>
<p><em>Você pode convidar seus contatos de e-mail para serem seus amigos no
sistema. Se o e-mail estiver cadastrado no sistema, o usuário irá receber o
convite pelo sistema. Se não estiver cadastrado, o usuário receberá um
convite pelo e-mail. </em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/control-panel-menu.en.png" title="Painel de controle no menu" alt="Painel de controle no menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar amigos&#8221;  <img src="/images/doc/manage-friends.en.png" title="Gerenciar Amigos" alt="Gerenciar Amigos" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Você verá sua lista de amigos e o botão de convite. Clique no botão.<br />
  <img src="/images/doc/user-friends-with-invitation-button.en.png" title="Lista de amigos do usuário" alt="Lista de amigos do usuário" /></li>
	<li>Você pode convidar seus contatos manualmente, inserindo os e-mails deles ou
importando os e-mails dos seus contatos.
	<ul>
		<li><strong>Manualmente</strong>: Escolha a opção &#8220;Manualmente&#8221; e
clique no botão &#8220;Próximo&#8221; <img src="/images/doc/user-manually-invitation-step-1.en.png" title="Convite manual para usuário. Passo 1" alt="Convite manual para usuário. Passo 1" />
		<ul>
			<li>Digite os endereços de e-mail no primeiro campo. Você deve digitar apenas um
e-mail por linha.</li>
			<li>Clicando em &#8220;Personalize a mensagem de convite&#8221;, você poderá
editar o texto que será enviado. Depois, clique em &#8220;Convidar meus
amigos&#8221; <img src="/images/doc/user-manually-invitation-step-2.en.png" title="Convite manual para usuário. Passo 2" alt="Convite manual para usuário. Passo 2" /></li>
		</ul></li>
		<li><strong>Importando</strong>: Escolha uma das outras opções para importar
seus contatos a partir de seu e-mail. Preencha os campos com o nome de
usuário e senha que você utiliza para acessar seu e-mail e clique em
&#8220;Próximo&#8221;. <img src="/images/doc/user-import-invitation-step-1.en.png" title="Convite de importação para usuário. Passo 1" alt="Convite de importação para usuário. Passo 1" />
		<ul>
			<li>Você pode digitar endereços de e-mail no primeiro campo, apenas um e-mail
por linha.</li>
			<li>Você também verá a sua lista de e-mails. Marque os e-mails que você quer
enviar convite.</li>
			<li>Clicando em &#8220;Personalize a mensagem de convite&#8221;, você poderá
editar o texto que será enviado. Depois, clique em &#8220;Convidar meus
amigos&#8221; <img src="/images/doc/user-import-invitation-step-2.en.png" title="Convite de importação para usuário. Passo 2" alt="Convite de importação para usuário. Passo 2" /></li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>