<h1 class="order-440">Inviting contacts from e-mail</h1>
<p><em>You can invite e-mail contacts to be your friend on the system. If the e-mail is registered on the system, the user will receive an invitation through the system. If it is not registered, the user will receive an invitation on his e-mail.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/control-panel-menu.en.png" title="Control panel menu" alt="Control panel menu" /></li>
	<li>Then, click on &#8220;Manage friends&#8221;  <img src="/images/doc/manage-friends.en.png" title="Manage Friends" alt="Manage Friends" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>You will your list of friends and the invitation button. Click on the button.<br />
  <img src="/images/doc/user-friends-with-invitation-button.en.png" title="User&#39;s friends list" alt="User&#39;s friends list" /></li>
	<li>You can invite your contacts manually inserting their e-mails or importing the e-mails from your e-mail contacts.
	<ul>
		<li><strong>Manually</strong>: Choose the option &#8220;Manually&#8221; and click on &#8220;Next&#8221; <img src="/images/doc/user-manually-invitation-step-1.en.png" title="Manually invitation for user. Step 1" alt="Manually invitation for user. Step 1" />
		<ul>
			<li>Type the e-mail adresses in the first field. You should type only one e-mail in each line.</li>
			<li>Clicking on &#8220;Personalize invitation mail&#8221;, you can edit the text that will be sent. Then, click on &#8220;Invite my friends&#8221; <img src="/images/doc/user-manually-invitation-step-2.en.png" title="Manually invitation for user. Step 2" alt="Manually invitation for user. Step 2" /></li>
		</ul></li>
		<li><strong>Importing</strong>: Choose one of the other options to import you contacts from your e-mail. Fill in the fields with the username and password you use to access your e-mail and click on &#8220;Next&#8221;. <img src="/images/doc/user-import-invitation-step-1.en.png" title="Import invitation for user. Step 1" alt="Import invitation for user. Step 1" />
		<ul>
			<li>You can type e-mail adresses in the first field, only one e-mail in each line.</li>
			<li>You will also see your list of e-mails. Check the e-mails that you want to send an invitation.</li>
			<li>Clicking on &#8220;Personalize invitation mail&#8221;, you can edit the text that will be sent. Then, click on &#8220;Invite my friends&#8221; <img src="/images/doc/user-import-invitation-step-2.en.png" title="Import invitation for user. Step 2" alt="Import invitation for user. Step 2" /></li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>