<h1 class="order-410">Iniciar sesin en el sistema</h1>
<p><em>Algunas caractersticas del sistema solamente pueden ser usados por
usuarios que han iniciado sesin</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>En la pgina principal del sistema, vers una caja para entrar al sistema.</p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Rellena los campos de texto con el &#8216;nombre de usuario&#8217; y
&#82216;contrasea&#8217; que elegiste al registrarte y da clic en el botn
&#8220;Iniciar Sesin&#8221;  <img src="/images/doc/environment-homepage-with-login-button.en.png" title="Entorno de pgina de inicio con el botn Iniciar sesin" alt="Entorno de pgina de inicio con el botn Iniciar sesin" /></li>
	<li>Despus de dar clic en el botn &#8220;Iniciar sesin&#8221; sers autenticado
en el sistema. Puedes verificar que has iniciado sesin porque tu men ser
mostrado en la parte superior de la pgina.  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/registering-new-user">Registrando nuevo usuario</a></li>
	<li><a href="/doc/user/logout">Salir del sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>