<h1 class="order-410">Logar no sistema</h1>
<p><em>Algumas funções da rede social só podem ser utilizadas quando o usuário
está logado no sistema.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Na página inicial da rede social você verá a caixa para entrar no sistema</p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Preencha os campos com o &#8216;login&#8217 e a &#8216;senha&#8217 que
escolheu durante seu cadastro, e clique no botão &#8220;Entrar&#8221;.  <img src="/images/doc/environment-homepage-with-login-button.en.png" title="Página inicial do ambiente com botão login" alt="Página inicial do ambiente com botão login" /></li>
	<li>Após clicar no botão &#8220;Entrar&#8221; você estará logado no
sistema. Você pode verificar que está logado pois no topo da página vai
aparecer o seu menu  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/registering-new-user">Cadastrar novo usuário</a></li>
	<li><a href="/doc/user/logout">Sair do sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>