<h1 class="order-410">Login into the system</h1>
<p><em>Some system features only can be used when the user is logged in.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>In the system homepage you will see a box to get into the system.</p>
<h2 id="description">Description</h2>
<ol>
	<li>Fill in the fields with the &#8216;login&#8217; and &#8216;password&#8217; you choosed in your registration and click on &#8220;Log in&#8221; button.  <img src="/images/doc/environment-homepage-with-login-button.en.png" title="Environment homepage with login button" alt="Environment homepage with login button" /></li>
	<li>After clicking on &#8220;Log in&#8221; button you will be authenticated in the system. You can verify that you are logged in because your menu will be displayed in the top of page.  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/registering-new-user">Registering new user</a></li>
	<li><a href="/doc/user/logout">Logout of the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>