<h1 class="order-430">Abandonando el sistema</h1>
<p><em>Despus de terminar tu navegacin, te recomendamos abandonar el
sistema</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, clic en &#8220;Cerrar sesin&#8221;  <img src="/images/doc/menu-logout.en.png" title="Men con Cerrar sesin" alt="Men con Cerrar sesin" /></li>
</ol>
<h2 id="description">Descripción</h2>
<p>Despus de pesionar el botn, cerrars sesin en el sistema</p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>