<h1 class="order-430">Sair do sistema</h1>
<p><em>Após terminar sua navegação na rede social, é recomendável sair do
sistema.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No seu menu de usuário, clique em &#8220;Sair&#8221;  <img src="/images/doc/menu-logout.en.png" title="Menu com sair" alt="Menu com sair" /></li>
</ol>
<h2 id="description">Descrição</h2>
<p>Depois de clicar no botão, você será deslogado do sistema</p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>