<h1 class="order-430">Leaving the system</h1>
<p><em>After finishing your navigation, we recommend leaving the system.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on &#8220;Logout&#8221;  <img src="/images/doc/menu-logout.en.png" title="Menu with logout" alt="Menu with logout" /></li>
</ol>
<h2 id="description">Description</h2>
<p>After clicking the button, you will be logged out of the system</p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>