<h1 class="order-400">Registering a new user</h1>
<p><em>To be part of the system, you need to register yourself. After registering, you will be able to join communities, enterprises, add friends and much more.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>In the system homepage you will see a box to get into the system.</li>
	<li>Click on &#8220;New user&#8221;:  <img src="/images/doc/box-register.en.png" title="Register on box" alt="Register on box" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>You will see registration form. Fill it with you information and read and accept the system terms of use.
	<ul>
		<li>The fields with red names are mandatory, so your registration won&#8217;t be done if they are not filled in.</li>
		<li>Your e-mail and login must be unique within the system. So, if you fill in with a login/e-mail that already exists in the system, a message will be shown informing the error and you should choose another login/e-mail.</li>
		<li>After clicking the &#8220;Sign up&#8221; button you will be redirected to your control panel, where you can change your settings and start using the system.<br />
 <img src="/images/doc/signup-form.en.png" title="Signup form" alt="Signup form" /></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Adding friends</a></li>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>