<h1 class="order-400">Registrando un nuevo usuario</h1>
<p><em>Para ser parte del sistema, tienes que registrarte. Despus de
registrarte, sers capaz de unirte a las comunidades, empresas, aadir amigos
y mucho mas.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>En la pgina principal del sistema, vers una caja para entrar al sistema.</li>
	<li>Clic en &#8220;Nuevo usuario&#8221;:  <img src="/images/doc/box-register.en.png" title="Regstrate en la caja" alt="Regstrate en la caja" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Vers el formulario de registro. Llnalo con tu informacin y lee y acepta los
trminos de uso del sistema.
	<ul>
		<li>Los campos con nombres rojos son obligatorios, as que tu registro no ser
realizado si estn vacos.</li>
		<li>Tu correo electrnico y nombre de usuario deben ser nicos en el sistema. Si
llenas el nombre de usuario/correo electrnico con uno que ya existe en el
sistema, se mostrar un mensaje informando el error y debers elegir otro
nombre de usuario/correo electrnico.</li>
		<li>Despus de dar clic en el botn &#8220;Registrarse&#8221; sers redireccionado
a tu panel de control, donde puedes cambiar tus configuracin e comenzar a
usar el sistema.<br />
 <img src="/images/doc/signup-form.en.png" title="Formulario de registro" alt="Formulario de registro" /></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Aadiendo amigos</a></li>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>