<h1 class="order-400">Cadastrar um novo usuário</h1>
<p><em>Para fazer parte do sistema, você precisa se cadastrar. Após o registro,
você poderá se cadastrar em comunidades, empreendimentos, fazer amigos e
muito mais.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Na página inicial da rede social você verá a caixa para entrar no sistema</li>
	<li>Clique no botão &#8220;Novo usuário&#8221;:  <img src="/images/doc/box-register.en.png" title="Registre-se no menu" alt="Registre-se no menu" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Você irá visualizar o formulário de cadastro. Preencha-o com suas
informações e lembre-se de ler e aceitar os termos de uso do sistema.
	<ul>
		<li>Os campos com nomes em vermelho são obrigatórios, então o cadastro não
poderá ser concluído caso eles não estejam preenchidos.</li>
		<li>Seu e-mail e login devem ser únicos no sistema. Então, caso preencha o campo
com um e-mail/login que já exista no sistema, aparecerá uma tela informando
o erro e você deverá escolher outro e-mail/login.</li>
		<li>Depois de clicar no botão &#8220;Registre-se&#8221; você será redirecionado
para o seu painel de controle, onde você poderá mudar suas configurações e
começar a usar o sistema.<br />
 <img src="/images/doc/signup-form.en.png" title="Formulário de registro" alt="Formulário de registro" /></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Adicionar amigos</a></li>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>