<h1 class="order-520">Remover amigos</h1>
<p><em>Como remover um amigo da sua lista de contatos.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/control-panel-menu.en.png" title="Painel de controle no menu" alt="Painel de controle no menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar amigos&#8221;  <img src="/images/doc/manage-friends.en.png" title="Gerenciar Amigos" alt="Gerenciar Amigos" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Na tela de gerenciar amigos, você irá visualizar a sua lista de
amigos. Encontre o amigo que deseja excluir da sua lista de contatos e
clique no ícone com formato de lixeira ao lado da foto da pessoa que você
deseja remover.<br />
  <img src="/images/doc/remove-friend.en.png" title="Remover Amigo" alt="Remover Amigo" /></li>
	<li>Aparecerá uma tela pedindo que confirme a exclusão. Confirme que deseja
remover o amigo.<br />
  <img src="/images/doc/remove-friend-confirmation.en.png" title="Confirmação para remover amigo" alt="Confirmação para remover amigo" /></li>
	<li>Após a confirmação, o usuário não será mais listado na sua lista de amigos.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Adicionar amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>