<h1 class="order-520">Removing friends</h1>
<p><em>How you can remove one friend from your contact list.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/control-panel-menu.en.png" title="Control panel menu" alt="Control panel menu" /></li>
	<li>Then, click on &#8220;Manage friends&#8221;  <img src="/images/doc/manage-friends.en.png" title="Manage Friends" alt="Manage Friends" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In manage friends screen, you will see your friends list. Find the friend you want to remove from your contact list and click on trash icon next to the picture of the person you want to remove.<br />
  <img src="/images/doc/remove-friend.en.png" title="Remove Friend" alt="Remove Friend" /></li>
	<li>You will be asked to confirm the exclusion. Confirm that you want to remove your friend.<br />
  <img src="/images/doc/remove-friend-confirmation.en.png" title="Remove friend confirmation" alt="Remove friend confirmation" /></li>
	<li>After confirmation, the user will not be listed on your friends list anymore.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Adding friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>