<h1 class="order-480">Removing comments</h1>
<p><em>If you are the author of an article or if you have permission to moderate the comments of a profile (community/enterprise), you can remove the unwanted comments posted on it.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Visit an article that you created or that you have permission to moderate the comments. The comments are listed below the article/picture/event</p>
<h2 id="description">Description</h2>
<ol>
	<li>Next to each comment of the article, photo or event you will see a trash icon. To delete one, click on the trash icon.  <img src="/images/doc/comments.en.png" title="Comments" alt="Comments" /></li>
	<li>You will be asked to confirm exclusion. Clickiing on &#8220;Ok&#8221; button, the comment will be removed  <img src="/images/doc/remove-comment-confirmation.en.png" title="Remove comment confirmation" alt="Remove comment confirmation" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
	<li><a href="/doc/user/commenting">Commenting articles, pictures and events</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>