<h1 class="order-480">Eliminando comentarios</h1>
<p><em> Si t eres el autor de un artculo o si tienes permisos para moderar los
comentarios de un perfil (comunidad/empresa), puedes eliminar los
comentarios publicados no deseados.<em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Visita un artculo que creaste o donde tienes permisos para moderar los
comentarios. Se encuentran listados debajo del artculo/imagen/evento</p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Junto a cada comentario del artculo, foto o evento vers el cono de
papelera. Para borrar uno, da clic en cono.  <img src="/images/doc/comments.en.png" title="Comentarios" alt="Comentarios" /></li>
	<li>Se te preguntar para confirmar la exclusin. Dando clic en el botn
&#8220;Aceptar&#8221; los comentarios sern eliminados  <img src="/images/doc/remove-comment-confirmation.en.png" title="Confirmacin para eliminar comentarios" alt="Confirmacin para eliminar comentarios" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
	<li><a href="/doc/user/commenting">Comentando artculos, imgenes y eventos</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>