<h1 class="order-480">Remover comentários</h1>
<p><em>Caso você seja o autor de um artigo ou tenha permissão para moderar os
comentários de um perfil (comunidade/empreendimento), você poderá remover os
comentários indesejáveis postados nele.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Acesse um artigo criado por você ou que você tenha permissão para moderar
ocomentários. Os comentários são listados abaixo do artigo/foto/evento</p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Ao lado de cada comentário do artigo, foto ou evento você verá um ícone de
lixeira. Para excluir algum, clique na lixeira no canto direito da caixa do
comentário  <img src="/images/doc/comments.en.png" title="Comentários" alt="Comentários" /></li>
	<li>Aparecerá a tela para confirmar a exclusão. Clicando no botão
&#8220;Ok&#8221;, o comentário será removido  <img src="/images/doc/remove-comment-confirmation.en.png" title="Confirmação de remover comentário" alt="Confirmação de remover comentário" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
	<li><a href="/doc/user/commenting">Comentar artigos, fotos e eventos</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>