<h1 class="order-520">Eliminando amigos</h1>
<p><em>Cmo puedes eliminar un amigo de tu lista de contacto.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/control-panel-menu.en.png" title="Men de panel de control" alt="Men de panel de control" /></li>
	<li>Despus, da clic en &#8220;Administrar amigos&#8221;  <img src="/images/doc/manage-friends.en.png" title="Administrar amigos" alt="Administrar amigos" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En la pantalla administrar amigos, vers la lista de tus amigos. Encuentra al
amigo que quieres eliminar de tu lista de contactos y da clic en el cono de
papelera de la imagen de la persona que quieres eliminar.<br />
  <img src="/images/doc/remove-friend.en.png" title="Eliminar amigo" alt="Eliminar amigo" /></li>
	<li>Se te pedir que confirmes la exlcusin. Confirma que quieres eliminar a tu
amigo.<br />
  <img src="/images/doc/remove-friend-confirmation.en.png" title="Confirmacin para eliminar amigo" alt="Confirmacin para eliminar amigo" /></li>
	<li>Despus de confirmar, el usuario ya no ser mostrado en tu lista de amigos.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/adding-friends">Aadiendo amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>