<h1 class="order-454">Enviando recortes a tus amigos</h1>
<p><em>Para mantenerte en contacto con tus amigos puedes enviarles
recortes.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Si tienes un amigo en este sistema, puedes encontrarlo con el buscador del
sistema. Usa el <a href="/doc/navegation/searching-people"buscador</a> y haz
clic en la imagen de tu amigo para visitar su pgina.</li>
	<li>En la pgina de la persona vers el enlace &#8220;Ver perfil&#8221; cerca de
su imagen. <img src="/images/doc/other-person-view-profile-link.en.png" title="Enlace para ver el perfil" alt="Enlace para ver el perfil" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En la pgina de perfil, cuando das clic en en la pestaa &#8220;Muro&#8221;
los recortes enviados a los usuarios sern listados. Para dejar tu recorte,
llena las cajas de texto presiona el botn &#8220;Dejar recorte&#8221; <img src="/images/doc/person-wall-writing-scrap.en.png" title="Pestaa muro" alt="Pestaa muro" /></li>
	<li>Despus, tu recorte ser mostrado en el muro de tu perfil <img src="/images/doc/person-wall-scrap-sent.en.png" title="Pestaa muro" alt="Pestaa muro" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/answering-scraps">Responder recortes enviados por
amigos</a></li>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>