<h1 class="order-490">Enviar mensagens</h1>
<p><em>Para interagir com outros usuários da rede, você pode mandar mensagens
através do sistema. As mensagens serão recebidas por e-mail.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize o usuário que deseja enviar uma mensagem utilizando a <a
href="/doc/navigation/searching-people">busca</a> e clique para
visualizá-lo.</li>
	<li>Na página da pessoa você verá o botão &#8220;Contato&#8221; abaixo da foto
dela caso você esteja logado e seja amigo da pessoa no sistema.<br />
  <img src="/images/doc/contact-button.en.png" title="Botão contato" alt="Botão contato" /></li>
</ol>
<h2 id="description">Descrição</h2>
<p>Preencha o formulário. Perceba que os campos &#8220;Assunto&#8221; e
&#8220;Mensagem&#8221; são obrigatórios, então as mensagens não serão
enviadas se você não preenchê-los.</p>
<p>Após clicar no botão &#8220;Enviar&#8221;, a mensagem será enviada para o
e-mail e, se quiser receber uma cópia da mensagem, selecione a opção
&#8220;Quero receber uma cópia da mensagem no meu e-mail&#8221;.<br />
  <img src="/images/doc/send-message.en.png" title="Enviar mensagem" alt="Enviar mensagem" /></p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
	<li><a href="/doc/user/adding-friends">Adicionar amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>