<h1 class="order-490">Sending messages</h1>
<p><em>To interact with other system users, you can send messages through the system. The messages will be received by email.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find the user you want to send a message using the <a href="/doc/navigation/searching-people">search</a> and click to view his/her profile.</li>
	<li>In the person page you will see the &#8220;Contact&#8221; button below her picture if you are logged in and you are friend of the person in the system.<br />
  <img src="/images/doc/contact-button.en.png" title="Contact button" alt="Contact button" /></li>
</ol>
<h2 id="description">Description</h2>
<p>Fill in the form. Note that the fields &#8220;Subject&#8221; and &#8220;Message&#8221; are mandatory, so the message will not be sent if you don&#8217;t fill them.</p>
<p>After clicking on &#8220;Send&#8221; button, the message will be sent to the user e-mail and, if you want to receive a copy of the message, select the option &#8220;I want to receive a copy of the message in my e-mail.&#8221;.<br />
  <img src="/images/doc/send-message.en.png" title="Send message" alt="Send message" /></p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
	<li><a href="/doc/user/adding-friends">Adding friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>