<h1 class="order-454">Sending scraps to friends</h1>
<p><em>To keep in touch with your friends you can send scraps to them.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>If you have a friend in this system, you can find her/him with the system search. Use the <a href="/doc/navigation/searching-people">search</a> and click on your friend picture to visite her/his page.</li>
	<li>In the person page you will see the &#8220;View profile&#8221; link near her picture. <img src="/images/doc/other-person-view-profile-link.en.png" title="Link to view profile" alt="Link to view profile" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>On profile&#8217;s page, when you click on &#8220;Wall&#8221; tab, the scraps sent to the user will be listed. To leave your scrap, fill in the field and press the &#8220;Leave a scrap&#8221; button <img src="/images/doc/person-wall-writing-scrap.en.png" title="Wall tab" alt="Wall tab" /></li>
	<li>Then, your scrap will be listed on profile&#8217;s wall <img src="/images/doc/person-wall-scrap-sent.en.png" title="Wall tab" alt="Wall tab" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/answering-scraps">Answering scraps sent by friends</a></li>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>