<h1 class="order-490">Enviando mensajes</h1>
<p><em>Para interactuar con otros usuarios del sistema, puedes enviar mensajes
a travs del sistema. Los mensajes sern recibidos por correo electrnico.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra al usuario que quieres enviar un mensaje usando <a
href="/doc/navigation/searching-people">buscar</a> y da clic para ver su
perfil.</li>
	<li>En la pgina de la persona vers el botn &#8220;Contacto&#8221; debajo de su
imagen si ests conectado y eres amigo de la persona en el sistema.<br />
  <img src="/images/doc/contact-button.en.png" title="Botn de contacto" alt="Botn de contacto" /></li>
</ol>
<h2 id="description">Descripción</h2>
<p>Rellena el formulario. Nota que los campos &#8220;Asunto&#8221; y
&#8220;Mensaje&#8221; son obligatorios, as que el mensaje no ser enviado si
no los llenas.</p>
<p>Despus de dar clic en botn &#8220;Enviar&#8221;, el mensaje ser enviado al
correo electrnico del usuario, si quieres recibir una copia del mensaje,
seleciona la opcin &#8220;Quiero recibir una copia de el mensaje en mi
correo electrnico.&#8221;.<br />
  <img src="/images/doc/send-message.en.png" title="Enviar mensaje" alt="Enviar mensaje" /></p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
	<li><a href="/doc/user/adding-friends">Aadiendo amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>