<h1 class="order-454">Enviando recados para amigos</h1>
<p><em>Para ficar em contato com seus amigos você pode enviar recados para
eles.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Se você tem um amigo neste sistema, você pode encontrar ele/ela com a busca
do sistema. Utilize a <a href="/doc/navigation/searching-people">busca</a> e
clique no seu amigo para visitar a página dele/dela.</li>
	<li>Na página da pessoa você verá o link &#8220;Ver perfil&#8221; perto da foto
dela. <img src="/images/doc/other-person-view-profile-link.en.png" title="Link para ver perfil" alt="Link para ver perfil" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Na página do perfil, quando você clica na aba &#8220;Mural&#8221;, os
recados enviados para o usuários serão listados. Para deixar seu recado,
preencha o campo e clique no botão &#8220;Deixar um recado&#8221; <img src="/images/doc/person-wall-writing-scrap.en.png" title="Aba mural" alt="Aba mural" /></li>
	<li>Então, seu recado será listado no mural do perfil <img src="/images/doc/person-wall-scrap-sent.en.png" title="Aba mural" alt="Aba mural" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/answering-scraps">Respondendo recados enviados pelos
amigos</a></li>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>