<h1 class="order-462">Visualizando as atividades do perfil</h1>
<p><em>Sempre que quiser ver o que um perfil tem feito no ambiente você pode
visitar o perfil e olhar as atividades dele.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Se você tem um amigo neste sistema, você pode encontrar ele/ela com a busca
do sistema. Utilize a <a href="/doc/navigation/searching-people">busca</a> e
clique no seu amigo para visitar a página dele/dela.</li>
	<li>Na página da pessoa você verá o link &#8220;Ver perfil&#8221; perto da foto
dela. <img src="/images/doc/person-view-profile-link.en.png" title="Link para ver perfil" alt="Link para ver perfil" /></li>
</ol>
<h2 id="description">Descrição</h2>
<p>Na página do perfil, quando você clica na aba &#8220;Atividade&#8221;, as
atividades mais recentes do usuários serão listadas <img src="/images/doc/person-activities-list.pt.png" title="Aba de atividade" alt="Aba de atividade" /></p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/removing-friends">Remover amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceitar amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>