<h1 class="order-462">Viendo actividades de perfil</h1>
<p><em>Cada vez que quieras ver qu est haciendo un perfil, puedes visitarlo y
ver sus actividades.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Si tienes un amigo en este sistema, puedes encontrarlo con el buscador del
sistema. Usa el <a href="/doc/navegation/searching-people"buscador</a> y haz
clic en la imagen de tu amigo para visitar su pgina.</li>
	<li>En la pgina de la persona vers el enlace &#8220;Ver perfil&#8221; cerca de
su imagen. <img src="/images/doc/person-view-profile-link.en.png" title="Enlace para ver el perfil" alt="Enlace para ver el perfil" /></li>
</ol>
<h2 id="description">Descripción</h2>
<p>En la pgina de perfil, cuando des clic en la pestaa &#8220;Actividad&#8221;
la actividad ms reciente del usuario ser enlistada <img src="/images/doc/person-activities-list.pt.png" title="Pestaa de actividad" alt="Pestaa de actividad" /></p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/removing-friends">Eliminando amigos</a></li>
	<li><a href="/doc/user/accepting-friends">Aceptando amigos</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>