<h1 class="order-462">Viewing profile&#8217;s activities</h1>
<p><em>Whenever you want to see what a profile is doing you can visit the profile and view his activities.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>If you have a friend in this system, you can find her/him with the system search. Use the <a href="/doc/navigation/searching-people">search</a> and click on your friend picture to visite her/his page.</li>
	<li>In the person page you will see the &#8220;View profile&#8221; link near her picture. <img src="/images/doc/person-view-profile-link.en.png" title="Link to view profile" alt="Link to view profile" /></li>
</ol>
<h2 id="description">Description</h2>
<p>On profile&#8217;s page, when you click on &#8220;Activity&#8221; tab, the most recent activities of the user will be listed <img src="/images/doc/person-activities-list.pt.png" title="Activity tab" alt="Activity tab" /></p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/removing-friends">Removing friends</a></li>
	<li><a href="/doc/user/accepting-friends">Accepting friends</a></li>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>