<h1 class="order-130">Accepting new members</h1>
<p><em>If a community is moderated, the administrator/moderator needs to approve the requests of new members.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are a community administrator, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>If the community has pending requests, you will see a box with the list of pending tasks on your control panel. In order to accept or deny, you should click on &#8220;Process requests&#8221; button<br />
  <img src="/images/doc/community-control-panel-with-tasks.en.png" title="Community control panel with pending tasks" alt="Community control panel with pending tasks" /></li>
	<li>If you want to accept, choose the option &#8220;Accept&#8221;. You also need to choose wich roles the new member should have. Each role has some permissions, that are defined by the environment administrator.<br />
  <img src="/images/doc/tasks-list-membership-request.en.png" title="Community tasks list" alt="Community tasks list" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creating a community</a></li>
	<li><a href="/doc/community/joining-community">Joining a community</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>