<h1 class="order-130">Aceptando nuevos miembros</h1>
<p><em>Si una comunidades es moderada, el administrador/moderador necesita
aprobar las solicitudes de nuevos miembros.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, haga clic en el botn &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar sern listados con el enlace
&#8220;Administrar&#8221;. Suponiendo que usted es un administrador de una
comunidad, clic &#8220;Administrar&#8221;  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Si la comunidad tiene solicitudes pendientes, necesitas ver la bandeja con
la lista detareas pendientes en tu panel de control. Con el fin de aceptar o
negar, debes dar clic en el botn &#8220;Procesar solicitudes&#8221;<br />
  <img src="/images/doc/community-control-panel-with-tasks.en.png" title="Panel de control de la comunidad con tareas pendientes" alt="Panel de control de la comunidad con tareas pendientes" /></li>
	<li>Si quieres aceptar, selecciona la opcin &#8220;Aceptar&#8221;. Tambin
necesitas seleccionar cul rol debe tener el nuevo miembro. Cada rol tiene
algunos permisos, que son definidos por el administrador del entorno.<br />
  <img src="/images/doc/tasks-list-membership-request.en.png" title="Lista de tareas de la comunidad" alt="Lista de tareas de la comunidad" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creando una comunidad</a></li>
	<li><a href="/doc/community/joining-community">Unindose a una comunidad</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>