<h1 class="order-110">Creando una comunidad</h1>
<p><em>Puedes crear comunidades para interactuar con otros usuarios</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, clic en el panel de control.  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, clic en &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Buscar y dar clic en el botn &#8220;Crear una nueva comunidad&#8221; <img src="/images/doc/groups-list-with-create-community.en.png" title="Lista de grupos" alt="Lista de grupos" /></li>
	<li>Vers un formulario para completar con la informacin de la comunidad. <img src="/images/doc/community-creation-form.en.png" title="Formulario para la reacin de una comunidad" alt="Formulario para la reacin de una comunidad" />
	<ol>
		<li><strong>Nombre:</strong> Rellena con el nombre de la comunidad que quieras
crear.</li>
		<li><strong>Lista de etiquetas:</strong> Completa con etiquetas. Las etiquetas
son claves o trminos asociados a tu comunidad.</li>
		<li><strong>Imagen:</strong> Inserta una imagen. Ser la imagen de tu
comunidad. Clic en &#8220;Archivo&#8230;&#8221; y seleccinala de
tucomputadora. La imgen debe tener un mximo de 500kb y debe ser .jpg, .gif o
.png.</li>
		<li><strong>Los nuevos miembros deben ser aprobados:</strong> Debes seleccionar
si lacomunidad debe ser moderada. Seleccionando la primera opcin, un
moderador necesita aprobar cuando una persona solicita unirse a la
comunidad. Seleccionando la segunda opcin, no se necesita moderacin.</li>
		<li>Despus de llenar los campos, clic en el botn &#8220;Crear&#8221;.</li>
	</ol></li>
	<li>Si el entorno lo permite, la comunidad ya estar creada. De lo contrario, el
administrador del entorno necesitar aprobar/denegar la nueva comunidad.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>