<h1 class="order-110">Criar uma comunidade</h1>
<p><em>Você pode criar comunidades para interagir com outros usuários</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Encontre seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar meus grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Localize o botão &#8220;Criar uma nova comunidade&#8221; e clique nele. <img src="/images/doc/groups-list-with-create-community.en.png" title="Lista de grupos" alt="Lista de grupos" /></li>
	<li>Você verá um formulário que deve ser preenchido com as informações da
comunidade <img src="/images/doc/community-creation-form.en.png" title="Formulário para criação de comunidade" alt="Formulário para criação de comunidade" />
	<ol>
		<li><strong>Nome:</strong> Preencha com o nome da comunidade que deseja criar.</li>
		<li><strong>Lista de marcadores:</strong> Preencha com marcadores associados à
sua comunidade. Marcadores são palavras-chave ou termos associados ao seu
artigo.</li>
		<li><strong>Imagem: </strong>Insira uma imagem. Ela será a imagem da
comunidade. Clique em &#8220;Arquivo&#8230;&#8221; e escolha a imagem no seu
computador. A imagem deve ter no máximo 500Kb e ser do tipo .jpg, .gif ou
.png.</li>
		<li><strong>Novos integrantes devem ser aprovados:</strong> Você deve escolher
se a comunidade deve ser moderada. Escolhendo a primeira opçãom um moderador
precisa aprovar quando uma pessoa solicita a entrada na
comunidade. Escolhendo a segunda opção, não é necessária moderação.</li>
		<li>Após preencher os campos, clique no botão &#8220;Criar&#8221;</li>
	</ol></li>
	<li>Se permitido pelo ambiente, a comunidade já estará criada. Caso contrário, o
administrador do ambiente precisará aprovar/recusar a nova comunidade.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>