<h1 class="order-110">Creating a community</h1>
<p><em>You can create communities to interact to others users</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>Find the button &#8220;Create a new community&#8221; and click on it. <img src="/images/doc/groups-list-with-create-community.en.png" title="Groups list" alt="Groups list" /></li>
	<li>You will see a form to be filled with the community information. <img src="/images/doc/community-creation-form.en.png" title="Form for creation of a community" alt="Form for creation of a community" />
	<ol>
		<li><strong>Name:</strong> Fill in with the name of the community you want to create.</li>
		<li><strong>Tag list:</strong> Fill in with tags. Tags are keywords or terms associated to your community.</li>
		<li><strong>Image:</strong> Insert a picture. It will be the image of your community. Click on &#8220;File&#8230;&#8221; and choose the image in your computer. The image must have a maximum of 500Kb and should be .jpg , .gif or .png.</li>
		<li><strong>New members must be approved:</strong> You should choose if the community should be moderated. Choosing the first option, a moderator needs to approve when a person asks to join the community. Choosing the second option, no moderation is needed.</li>
		<li>After filling the fields, click on &#8220;Create&#8221; button.</li>
	</ol></li>
	<li>If allowed by the environment, the community will be already created. Otherwise, the environment administrator will need to approve/deny the new community.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>