<h1 class="order-160">Editando las bandejas laterales</h1>
<p><em>Puedes personalizar la pgina de tu comunidad, cambiando los bloques que
se desplegarn en ella.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Clic en el botn &#8220;Administrar mis grupos&#8221;  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar sern listados con el enlace
&#8220;Administrar&#8221;. Suponiendo que usted es un administrador de una
comunidad, clic &#8220;Administrar&#8221; <img src="/images/doc/groups-list-with-manage-community.en.png" title="Grupos con permisos para administrar la comunidad" alt="Grupos con permisos para administrar la comunidad" /></li>
	<li>Luego, clic en &#8220;Editar bandejas laterales&#8221;:  <img src="/images/doc/control-panel-community-edit-sideboxes.en.png" title="Editar bandejas laterales en el panel de control de la comunidad." alt="Editar bandejas laterales en el panel de control de la comunidad." /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>El modelo de la pgina se mostrar, siempre con 3 columnas. Si deseas aadir un
nuevo bloque, clic en &#8220;Aadir Bloque&#8221;: <img src="/images/doc/community-edit-sideboxes.en.png" title="Editar bandejas Laterales" alt="Editar bandejas Laterales" /></li>
	<li>Vers los bloques que puedes aadir a tu pgina: <img src="/images/doc/community-sideboxes-add-block.en.png" title="Aadir un bloque" alt="Aadir un bloque" />
	<ol>
		<li>Selecciona dnde deseas aadir el nuevo bloque. Tienes solamente dos opciones,
&#8220;rea 2&#8221; (lado izquierdo) y &#8220;rea 3&#8221; (lado
derecho). No puedes aadir un nuevo bloque al centro de tu pgina.</li>
		<li>Selecciona cul bloque ser aadido.</li>
		<li>Despus de dar clic en el botn &#8220;Aadir&#8221;, el nuevo bloque ser
desplegado en la parte inferior del rea seleccionada.</li>
	</ol></li>
	<li>Tipos de bloques:
	<ul>
		<li><strong>Mostrar uno de tus contenidos:</strong> Este bloque muestra uno de
los artculos de la comunidad. Puedes editar el bloque y seleccionar cul
artculo ser visto en el bloque. <img src="/images/doc/article-block.en.png" title="bloque" alt="bloque" /></li>
		<li><strong>ltimas actualizaciones:</strong> Muestra los contenidos ms recientes
en la comunidad. Puedes seleccionar cuntos artculos sern listados. <img src="/images/doc/recent-content-block.en.png" title="Contenido reciente del bloque" alt="Contenido reciente del bloque" /></li>
		<li><strong>Enlaces (men esttico):</strong> Puedes usarlo para crear un men de
enlaces. Aade, elimina y actualiza los enlaces como lo desees. Si quieres un
enlace al blog de la comunidad, por ejemplo, debes escribir
&#8220;/{profile}/blog&#8221; en el campo &#8220;Direccin&#8221;. El
&#8220;{profile}&#8221; ser remplazado por tu identificador. <img src="/images/doc/links-block.en.png" title="Bloque de enlaces" alt="Bloque de enlaces" /></li>
		<li><strong>Lector de noticias:</strong> Este bloque puede ser usado para listar
las ltimas noticias de cualquier sitio que quieras. Solo necesitas informar
de un <span class="caps">RSS</span> feed dando clic en el botn
&#8220;Editar&#8221;. Tambin puedes seleccionar el nmero de elementos que
sern desplegados. <img src="/images/doc/feed-reader-block.en.png" title="Bloque de lector de noticias" alt="Bloque de lector de noticias" /></li>
		<li><strong>Mapa de localizacin:</strong> Muestra dnde se encuentra la comunidad
en el mundo. <img src="/images/doc/location-map-block.en.png" title="Bloque del mapa de localizacin" alt="Bloque del mapa de localizacin" /></li>
		<li><strong>Miembros:</strong> Muestra los miembros de una comunidad. Puedes
seleccionar cuntos miembros se desplegarn. <img src="/images/doc/members-block.en.png" title="Bloque de miembros" alt="Bloque de miembros" /></li>
		<li><strong>Etiquetas:</strong> Las etiquetas son creadas cuando una persona
aade algunas al contenido creado en la comunidad. Este bloque desplegar las
etiquetas usadas en los contenidos. Puedes seleccionar cuntas etiquetas se
mostrarn. <img src="/images/doc/tags-block.en.png" title="Bloque de etiquetas" alt="Bloque de etiquetas" /></li>
		<li><strong>Informacin del Perfil:</strong> Tiene una imagen y alguna informacin
bsica acerca de la comunidad, como el tiempo que el perfil h sido parte del
entorno y enlaces tiles. <img src="/images/doc/community-info-block.en.png" title="Bloque de informacin del perfil" alt="Bloque de informacin del perfil" /></li>
		<li><strong>Mi red:</strong> Este bloque muestra informacin acerca de la red de
la comunidad. <img src="/images/doc/community-network-block.en.png" title="Bloque de la red de la comunidad" alt="Bloque de la red de la comunidad" /></li>
		<li><strong>Imagen de perfil:</strong> Este bloque presenta la imagen de la
comunidad. <img src="/images/doc/community-image-block.en.png" title="Bloque de imagen del perfil" alt="Bloque de imagen del perfil" /></li>
		<li><strong>Presentacin:</strong> Este bloque muestra las imgenes de una de las
galeras de la comunidad como una presentacin. Puedes editar el bloque para
seleccionar cual galera se mostrar. <img src="/images/doc/slideshow-block.en.png" title="Bloque de la presentacin" alt="Bloque de la presentacin" /></li>
	</ul></li>
	<li>En la parte inferior de cada bloque vers algunos botones. Pasando el puntero
sobre cada uno, el nombre de su funcin ser mostrado.  <img src="/images/doc/block-actions.en.png" title="Botones del bloque" alt="Botones del bloque" />
	<ul>
		<li>De izquierda a derecha:
		<ul>
			<li><strong>Mover el bloque hacia arriba:</strong> El bloque cambiar de posicin
con el bloque superior.</li>
			<li><strong>Mover el bloque hacia abajo:</strong> El bloque cambiar de lugar con
el bloque inferior.</li>
			<li><strong>Mover al lado opuesto:</strong> El bloque es movido al otro lado de
tu pgina, hasta abajo de la columna. Si est en la izquierda, ser movido a la
derecha. Si est en la derecha, ser movido a la izquierda.</li>
			<li><strong>Editar:</strong> Este botn solamente ser mostrado si el bloque es
editable. Clic en este botn para configurar el bloque. Algunos bloques
tienen una configuracin especfica. <img src="/images/doc/edit-block.en.png" title="bloque" alt="bloque" />
			<ol>
				<li>Personalizar el ttulo de este bloque: Cada bloque tiene un ttulo
predefinido. Si deseas cambiarlo, ingresa el nuevo ttulo en este campo.</li>
				<li>Mostrar este bloque: Selecciona cmo quieres que sea desplegado este
bloque. Hay 3 opciones:
				<ul>
					<li>En todas las pginas: El bloque ser desplegado en todas las pginas de tu
perfil.</li>
					<li>Solo en la pgina de inicio: El bloque solamente ser desplegado en tu pgina
de inicio.</li>
					<li>No mostrar: El bloque no ser mostrado.</li>
				</ul></li>
			</ol></li>
			<li><strong>Eliminar bloque:</strong> Eliminar el bloque de tu pgina.</li>
			<li><strong>Ayuda en este bloque:</strong> Desplegar un mensaje con una pequea
descripcin del bloque.</li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/community/editing-header-footer">Editando el encabezado y pie
de pgina</a></li>
	<li><a href="/doc/community/editing-appearance">Editando la apariencia</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>