<h1 class="order-120">Invitar a contactos del correo electrnico.</h1>
<p><em>Si eres administrador de una comunidad, puedes invitar a contactos del
correo electrnico a unirse a tu comunidad. Si el correo electrnico est
registrado en el sistema, el usuario recibir una invitacin a travs del
sistema. Si no est registrado, el usuario recibir la invitacin en su correo
electrnico.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, haga clic en el botn &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar sern listados con el enlace
&#8220;Administrar&#8221;. Suponiendo que usted es un administrador de una
comunidad, clic &#8220;Administrar&#8221;  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En el panel de control, clic en &#8220;Administrar miembros&#8221; <img src="/images/doc/community-control-panel-manage-members.en.png" title="Administrar miembros en el panel de control" alt="Administrar miembros en el panel de control" /></li>
	<li>Vers la lista de miembros de la comunidad y el botn de invitacin. Clic en el
botn.<br />
  <img src="/images/doc/community-members-with-invitation-button.en.png" title="Lista de los miembros de la comunidad" alt="Lista de los miembros de la comunidad" /></li>
	<li>Puedes invitar a tus contactos manualmente insertando sus correos
electrnicos o importndolos desde tus contactos.
	<ul>
		<li><strong>Manualmente</strong>: Selecciona la opcin &#8220;Manualmente&#8221;
y clic en &#8220;Siguiente&#8221; <img src="/images/doc/community-manually-invitation-step-1.en.png" title="Invitacin manual para la comunidad. Paso 1" alt="Invitacin manual para la comunidad. Paso 1" />
		<ul>
			<li>Escribe la direccin de correo electrnico en el primer campo. Solamente debes
escribir una cuenta en cada lnea.</li>
			<li>Dando clic &#8220;Personalice la invitacin de correo&#8221;, puedes editar
el texto que se enviar. Despus, clic en &#8220;Invitar mis amigos&#8221; <img src="/images/doc/community-manually-invitation-step-2.en.png" title="Invitacin manual para la comunidad. Paso 2" alt="Invitacin manual para la comunidad. Paso 2" /></li>
		</ul></li>
		<li><strong>Importando</strong>: Selecciona una de las otras opciones para
importar tus contactos desde tu correo electrnico. Completa los campos con
tu nombre de usuario y contrasea que usas para accesar a tu cuenta y clic en
&#8220;Siguiente&#8221;. <img src="/images/doc/community-import-invitation-step-1.en.png" title="Importar invitacin para la comunidad. Paso 1" alt="Importar invitacin para la comunidad. Paso 1" />
		<ul>
			<li>Puedes escribir las direcciones de correo electrnico en el primer campo,
solamente una cuenta por lnea.</li>
			<li>Tambin vers tu lista de correos electrnicos. Verifica las cuentas a las que
deseas enviar una invitacin.</li>
			<li>Dando clic &#8220;Personalice la invitacin de correo&#8221;, puedes editar
el texto que se enviar. Despus, clic en &#8220;Invitar mis amigos&#8221; <img src="/images/doc/community-import-invitation-step-2.en.png" title="Importar invitacin para la comunidad. Paso 2" alt="Importar invitacin para la comunidad. Paso 2" /></li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creando una comunidad</a></li>
	<li><a href="/doc/community/joining-community">Unindose a una comunidad</a></li>
	<li><a href="/doc/community/accepting-members">Aceptando miembros</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>