<h1 class="order-120">Inviting contacts from e-mail</h1>
<p><em>If you are a community administrator, you can invite e-mail contacts to join your community. If the e-mail is registered on the system, the user will receive an invitation through the system. If it is not registered, the user will receive an invitation on his e-mail.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are a community administrator, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In community control panel, click on &#8220;Manage members&#8221; <img src="/images/doc/community-control-panel-manage-members.en.png" title="Manage members in control panel" alt="Manage members in control panel" /></li>
	<li>You will see the members list of community and the invitation button. Click on the button.<br />
  <img src="/images/doc/community-members-with-invitation-button.en.png" title="Community&#39;s members list" alt="Community&#39;s members list" /></li>
	<li>You can invite your contacts manually inserting their e-mails or importing the e-mails from your e-mail contacts.
	<ul>
		<li><strong>Manually</strong>: Choose the option &#8220;Manually&#8221; and click on &#8220;Next&#8221; <img src="/images/doc/community-manually-invitation-step-1.en.png" title="Manually invitation for community. Step 1" alt="Manually invitation for community. Step 1" />
		<ul>
			<li>Type the e-mail adresses in the first field. You should type only one e-mail in each line.</li>
			<li>Clicking on &#8220;Personalize invitation mail&#8221;, you can edit the text that will be sent. Then, click on &#8220;Invite my friends&#8221; <img src="/images/doc/community-manually-invitation-step-2.en.png" title="Manually invitation for community. Step 2" alt="Manually invitation for community. Step 2" /></li>
		</ul></li>
		<li><strong>Importing</strong>: Choose one of the other options to import you contacts from your e-mail. Fill in the fields with the username and password you use to access your e-mail and click on &#8220;Next&#8221;. <img src="/images/doc/community-import-invitation-step-1.en.png" title="Import invitation for community. Step 1" alt="Import invitation for community. Step 1" />
		<ul>
			<li>You can type e-mail adresses in the first field, only one e-mail in each line.</li>
			<li>You will also see your list of e-mails. Check the e-mails that you want to send an invitation.</li>
			<li>Clicking on &#8220;Personalize invitation mail&#8221;, you can edit the text that will be sent. Then, click on &#8220;Invite my friends&#8221; <img src="/images/doc/community-import-invitation-step-2.en.png" title="Import invitation for community. Step 2" alt="Import invitation for community. Step 2" /></li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creating a community</a></li>
	<li><a href="/doc/community/joining-community">Joining a community</a></li>
	<li><a href="/doc/community/accepting-members">Accepting members</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>