<h1 class="order-100">Unindose a una comunidad</h1>
<p><em>Puedes ser parte de una comunidad e interactuar con los otros
miembros. Para hacer eso, puedes unirte a una comunidad, como se explica a
continuacin.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Para unirte a una comunidad, primero necesitas acceder a su pgina. Ingresa
la direccin de la comunidad en la barra de direcciones o busca la comunidad
en el sistema y haz clic para verla.</p>
<p>Para aprender cmo puedes encontrar una comunidad en el sistema, lee: <a
href="/doc/navigation/searching-communities">Buscando Comunidades</a>.</p>
<h2 id="description">Descripción</h2>
<ol>
	<li>En la pgina de la comunidad, clic en el botn &#8220;+ Unirse&#8221; debajo
de la imagen de la comunidad.  <img src="/images/doc/joining-community-button.en.png" title="Comunidad con botn unirse" alt="Comunidad con botn unirse" /></li>
	<li>Despus de dar clic en el botn &#8220;S, quiero unirme&#8221;, estars listo
para ser miembro de la comunidad si sta no es moderada.  <img src="/images/doc/join-community-confirmation.en.png" title="La confirmacin despus de pedir unirse a una comunidad" alt="La confirmacin despus de pedir unirse a una comunidad" /></li>
	<li>Si la comunidad es moderada, el administrador necesita aprobar tu solicitud
antes de que comiences a interactuar.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>