<h1 class="order-100">Entrar em uma comunidade</h1>
<p><em>Você pode fazer parte de uma comunidade e interagir com os outros
integrantes dela. Para isso você pode entrar na comunidade, como explicado a
seguir.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Para entrar em uma comunidade, primeiro você deve acessar a página
dela. Para isso, digite o endereço da comunidade na barra de endereços ou
procure pela comunidade na rede social e clique para visualizá-la.</p>
<p>Para aprender a encontrar comunidades no sistema, acesse: <a
href="/doc/navigation/searching-communities">Encontrar comunidades</a>.</p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Na página da comunidade, clique no botão &#8220;+ Entrar&#8221; abaixo da
imagem da comunidade.  <img src="/images/doc/joining-community-button.en.png" title="Comunidade com o botão entrar" alt="Comunidade com o botão entrar" /></li>
	<li>Após clicar no botão &#8220;Sim, quero entrar&#8221;, você já fará parte da
comunidade se ela não for moderada.  <img src="/images/doc/join-community-confirmation.en.png" title="Confirmação após pedido de entrar na comunidade" alt="Confirmação após pedido de entrar na comunidade" /></li>
	<li>Se a comunidade for moderada, o administrador precisará aprovar seu pedido
antes de você poder começar a interagir.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>