<h1 class="order-100">Joining a community</h1>
<p><em>You can be part of a community and interact with its others members. To do that, you can join a community, as explained below.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>To join a community, first you need to access its page. Enter the community address on address bar or search for the community in the system and click to view it.</p>
<p>To learn how you can find community in the system, read: <a href="/doc/navigation/searching-communities">Finding communities</a>.</p>
<h2 id="description">Description</h2>
<ol>
	<li>In community&#8217;s page, click on &#8220;+ Join&#8221; button below community&#8217;s image.  <img src="/images/doc/joining-community-button.en.png" title="Community with join button" alt="Community with join button" /></li>
	<li>After clicking on &#8220;Yes, I want to join&#8221; button, you will already be member of the community if it is not moderated.  <img src="/images/doc/join-community-confirmation.en.png" title="Confirmation after asking to join a community" alt="Confirmation after asking to join a community" /></li>
	<li>If the community is moderated, the administrator will need to approve your request before you start interacting.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>