<h1 class="order-140">Moderar artigos</h1>
<p><em>Integrantes da comunidade podem publicar artigos na comunidade. Se a
comunidade for moderada, o administrador/moderador precisará aprovar or
negar o pedido de publicação.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique no botão &#8220;Gerenciar meus grupos&#8221;  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
	<li>Você verá a lista de grupos (comunidades/empreendimentos) que você é
membro. Os grupos que você pode gerenciar são listados com um link
&#8220;Gerenciar&#8221;. Supondo que você é administrador de uma comunidade,
clique em &#8220;Gerenciar&#8221;.  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Lista de grupos com permissão de gerenciar empreendimento" alt="Lista de grupos com permissão de gerenciar empreendimento" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Se a comunidate tiver solicitações pendentes, você verá no painel de
controle uma caixa com a lista de solicitações pendentes. Para aceitar ou
ignorar, você deve clicar no botão &#8220;Processar solicitações&#8221;<br />
  <img src="/images/doc/community-control-panel-with-approval-task.en.png" title="Painel de controle da comunidade com tarefas pendentes" alt="Painel de controle da comunidade com tarefas pendentes" /></li>
	<li>Você verá a lista de tarefas. <img src="/images/doc/tasks-list-approval-request.en.png" title="Lista de tarefas da comunidade" alt="Lista de tarefas da comunidade" />
	<ol>
		<li>Se você deseja aceitar, escolha a opção &#8220;Aceitar&#8220;. Se você
ignorar o pedido, escolha &#8220;Ignorar&#8221;.</li>
		<li><strong>Nome para publicação</strong>: Quando um artigo é aprovadom ele será
listado como conteúdo da comunidade. Se você acha que o artigo deve ter o
nome original, deixe este campo em branco. Se você deseja mudá-lo, preencha
com o nome que você quiser.</li>
		<li><strong>Escolha a pasta onde o artigo deve ser publicado</strong>: Você pode
escolher a pasta onde o artigo será listado.</li>
		<li><strong>Destacar este artigo</strong>: Se a comunidade é a fonte de notícias
do ambiente, você pode marcar essa opção para destacar o artigo na página
inicial do ambiente.</li>
		<li><strong>Comentário para o autor</strong>: O texto escrito aqui será enviado
para o requisitante após a sua decisão.</li>
	</ol></li>
</ol>
<p>Depois de clicar no botão &#8220;Ok!&#8221;, sua decisão será processada. Se
você aceitou o artigo, ele será listado como conteúdo da comunidade.</p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/community/creating-community">Criar uma comunidade</a></li>
	<li><a href="/doc/community/joining-community">Entrar em uma comunidade</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>