<h1 class="order-140">Moderando artculos</h1>
<p><em>Los miembros de la comunidad pueden publicar artculos en la misma. Si
lacomunidad es moderada, el administrador/moderador necesitan aprobar o
negar la publicacin.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, haga clic en el botn &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar sern listados con el enlace
&#8220;Administrar&#8221;. Suponiendo que usted es un administrador de una
comunidad, clic &#8220;Administrar&#8221;  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Si la comunidad tiene solicitudes pendientes, necesitas ver la bandeja con
la lista detareas pendientes en tu panel de control. Con el fin de aceptar o
negar, debes dar clic en el botn &#8220;Procesar solicitudes&#8221;<br />
  <img src="/images/doc/community-control-panel-with-approval-task.en.png" title="Panel de control de la comunidad con tareas pendientes" alt="Panel de control de la comunidad con tareas pendientes" /></li>
	<li>Vers la lista de tareas. <img src="/images/doc/tasks-list-approval-request.en.png" title="Lista de tareas de la comunidad" alt="Lista de tareas de la comunidad" />
	<ol>
		<li>Si deseas aceptar, selecciona la opcin &#8220;Aceptar&#8221;. Si deseas
ignorar la solicitud, selecciona &#8220;Ignorar&#8221;.</li>
		<li><strong>Nombre para la publicacin</strong>: Cuando un artculo es aprobado,
ser listado como contenido de la comunidad. Si piensas que el artculo debe
tener el nombre original, deja este espacio en blanco. Si deseas cambiarlo,
rellnalo con el nombre que deseas.</li>
		<li><strong>Selecciona los pasos donde el artculo debe ser publicado</strong>:
Puedes seleccionar la carpeta donde el artculo ser listado.</li>
		<li><strong>Resaltar este artculo</strong>: Si la comunidad es la fuente de
noticias del entorno, puedes marcar esta opcin para resaltar el artculo en
la pgina principal del entorno.</li>
		<li><strong>Comentario por autor</strong>: El texto escrito aqu ser enviado al
solicitante despus de tu decisin.</li>
	</ol></li>
</ol>
<p>Despus de hacer clic en el botn &#8220;Ok!&#8221;, tu decisin ser
procesada. Si aceptaste el artculo, ser listado como contenido de la
comunidad.</p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creando una comunidad</a></li>
	<li><a href="/doc/community/joining-community">Unindose a una comunidad</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>