<h1 class="order-140">Moderating articles</h1>
<p><em>Community&#8217;s members can publish articles on community. If the community is moderated, the administrator/moderator needs to approve or deny the publication.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are a community administrator, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>If the community has pending requests, you will see a box with the list of pending tasks on your control panel. In order to accept or deny, you should click on &#8220;Process requests&#8221; button<br />
  <img src="/images/doc/community-control-panel-with-approval-task.en.png" title="Community control panel with pending tasks" alt="Community control panel with pending tasks" /></li>
	<li>You will see the tasks list. <img src="/images/doc/tasks-list-approval-request.en.png" title="Community tasks list" alt="Community tasks list" />
	<ol>
		<li>If you want to accept, choose the option &#8220;Accept&#8221;. If you want to ignore the request, choose &#8220;Ignore&#8221;.</li>
		<li><strong>Name for publishing</strong>: When an article is approved, it will be listed as content of the community. If you think the article should have its original name, leave this field blank. If you want to change it, fill in with the name you want.</li>
		<li><strong>Choose the folder where the article must be published</strong>: You can choose the folder where the article will be listed.</li>
		<li><strong>Highlight this article</strong>: If the community is the news source of the environment, you can check this option to highlight the article on environment&#8217;s homepage.</li>
		<li><strong>Comment for author</strong>: The text written here will be sent to the requestor after your decision.</li>
	</ol></li>
</ol>
<p>After clicking on button &#8220;Ok!&#8221;, your decision will be processed. If you accepted the article, it will be listed as community&#8217;s content.</p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creating a community</a></li>
	<li><a href="/doc/community/joining-community">Joining a community</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>