<h1 class="order-122">Enviando e-mail para os membros</h1>
<p><em>Se você é um administrador de comunidade, você pode enviar e-mails para
todos os membros da comunidade.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique no botão &#8220;Gerenciar meus grupos&#8221;  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
	<li>Você verá a lista de grupos (comunidades/empreendimentos) que você é
membro. Os grupos que você pode gerenciar são listados com um link
&#8220;Gerenciar&#8221;. Supondo que você é administrador de uma comunidade,
clique em &#8220;Gerenciar&#8221;.  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Lista de grupos com permissão de gerenciar empreendimento" alt="Lista de grupos com permissão de gerenciar empreendimento" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No painel de controle da comunidade, clique em &#8220;Gerenciar
integrantes&#8221; <img src="/images/doc/community-control-panel-manage-members.en.png" title="Gerenciar integrantes no painel de controle" alt="Gerenciar integrantes no painel de controle" /></li>
	<li>Você verá a lista de integrantes da comunidade e o botão para enviar
e-mail. Clique no botão.<br />
  <img src="/images/doc/community-members-with-send-mail-button.en.png" title="Lista de integrantes da comunidade" alt="Lista de integrantes da comunidade" /></li>
	<li>Preencha o campo &#8220;Assunto&#8221; com o assunto do e-mail e o
campo&#8220;Corpo&#8221; com o conteúdo do e-mail que você quer
enviar. Depois, clique em &#8220;Enviar&#8221; <img src="/images/doc/community-send-email.en.png" title="Enviando e-mail para os membros da comunidade" alt="Enviando e-mail para os membros da comunidade" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/community/creating-community">Criar uma comunidade</a></li>
	<li><a href="/doc/community/joining-community">Entrar em uma comunidade</a></li>
	<li><a href="/doc/community/accepting-members">Aceitar integrantes</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>