<h1 class="order-122">Enviando un correo electrnico a los miembros</h1>
<p><em>Si tu eres un administrador de una comunidad, puedes enviar un correo
electrnico a todos los miembros de tu comunidad.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, haga clic en el botn &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar sern listados con el enlace
&#8220;Administrar&#8221;. Suponiendo que usted es un administrador de una
comunidad, clic &#8220;Administrar&#8221;  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En el panel de control, clic en &#8220;Administrar miembros&#8221; <img src="/images/doc/community-control-panel-manage-members.en.png" title="Administrar miembros en el panel de control" alt="Administrar miembros en el panel de control" /></li>
	<li>Vers la lista de miembros de la comunidad y el botn de enviar correo
electrnico. Clic en el botn.<br />
  <img src="/images/doc/community-members-with-send-mail-button.en.png" title="Lista de los miembros de la comunidad" alt="Lista de los miembros de la comunidad" /></li>
	<li>Rellena el campo &#8220;Asunto&#8221; con el asunto del correo electrnico y
el campo &#8220;Cuerpo&#8221; con el contenido de el correo electrnico que
deseas enviar. Despus, clic en &#8220;Enviar&#8221; <img src="/images/doc/community-send-email.en.png" title="Enviando correo electrnico a los miembros de la comunidad" alt="Enviando correo electrnico a los miembros de la comunidad" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creando una comunidad</a></li>
	<li><a href="/doc/community/joining-community">Unindose a una comunidad</a></li>
	<li><a href="/doc/community/accepting-members">Aceptando miembros</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>