<h1 class="order-122">Sending e-mail to members</h1>
<p><em>If you are a community administrator, you can send e-mail to all members of your community.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are a community administrator, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-community.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In community control panel, click on &#8220;Manage members&#8221; <img src="/images/doc/community-control-panel-manage-members.en.png" title="Manage members in control panel" alt="Manage members in control panel" /></li>
	<li>You will see the members list of community and the send e-mail button. Click on the button.<br />
  <img src="/images/doc/community-members-with-send-mail-button.en.png" title="Community&#39;s members list" alt="Community&#39;s members list" /></li>
	<li>Fill in the &#8220;Subject&#8221; field with the subject of the e-mail and the &#8220;Body&#8221; field with the content of the e-mail you want to send. Then, click on &#8220;Send&#8221; <img src="/images/doc/community-send-email.en.png" title="Sending e-mail to community members" alt="Sending e-mail to community members" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/community/creating-community">Creating a community</a></li>
	<li><a href="/doc/community/joining-community">Joining a community</a></li>
	<li><a href="/doc/community/accepting-members">Accepting members</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>