<h1>GoogleCsePlugin</h1>
<p>Un complemento que utiliza Google Custom Search como motor de bsqueda
general de Noosfero.</p>
<h2>Uso</h2>
<ul>
	<li>Registra un ID de Google Custom Search en http://www.google.com/cse</li>
	<li>Ajusta por lo menos la configuracin bsica, lista de sitios y el tema de tu
ID de Google Cse</li>
	<li>Configura el entorno de Noosfero con este ID
	<ul>
		<li>&gt;&gt; env = Environment.find( &#8230; )</li>
		<li>&gt;&gt; env.settings[:google_cse_id] = &#8216;&lt;<span
class="caps">PUT</span> ID <span class="caps">AQU</span>&gt;&#8217;</li>
		<li>&gt;&gt; env.save!</li>
	</ul></li>
	<li>Eso es todo! El campo de texto de bsqueda hasta arriba de Noosfero se usar
para hacer bsquedas.</li>
</ul>