<h1>GoogleCsePlugin</h1>
<p>A plugin that uses the Google Custom Search as Noosfero general search engine.</p>
<h2>Usage</h2>
<ul>
	<li>Register a Google Custom Search ID at http://www.google.com/cse</li>
	<li>Set at least basic config, site list and look and fell of your Google Cse ID</li>
	<li>Configure Noosfero environment with this ID
	<ul>
		<li>&gt;&gt; env = Environment.find( &#8230; )</li>
		<li>&gt;&gt; env.settings[:google_cse_id] = &#8216;&lt;<span class="caps">PUT</span> ID <span class="caps">HERE</span>&gt;&#8217;</li>
		<li>&gt;&gt; env.save!</li>
	</ul></li>
	<li>That&#8217;s all! The top search text-field of Noosfero will be used to make searches</li>
</ul>