<h1>Google Analytics</h1>
<p>Seguimiento y anlisis web para las personas y las comunidades.</p>
<h2>Uso</h2>
<p>Crea y configura una cuenta de Google Analytics siguiendo estos pasos:</p>
<ol>
	<li>Abrir <a href="http://www.google.com/analytics/">Google Analytics</a><br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step1.en.png" title="Configuracin de Google - Paso 1" alt="Configuracin de Google - Paso 1" /></li>
	<li>Ingresar en Google Analytics<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step2.en.png" title="Configuracin de Google - Paso 2" alt="Configuracin de Google - Paso 2" /></li>
	<li>Siguiendo las instrucciones de ingreso<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step3.en.png" title="Configuracin de Google - Paso 3" alt="Configuracin de Google - Paso 3" /></li>
	<li>Rellenar la <em><span class="caps">URL</span> del sitio web</em> con tu
direccin de perfil (ej.: softwarelivre.org/joenio), <em>Nombre de la
cuenta</em> con tu nombre, leer y aceptar los trminos de uso<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step4.en.png" title="Configuracin de Google - Paso 4" alt="Configuracin de Google - Paso 4" /></li>
	<li>Aceptar opciones predefinidas, guardar y tomar nota de tu <em>Web Property
ID</em> (ej.: UA-23455430-3)<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step5.en.png" title="Configuracin de Google - Paso 5" alt="Configuracin de Google - Paso 5" /></li>
	<li>Ingresar en Noosfero, ir a tu panel de control, presiona <em>Editar
Perfil</em>y rellena <em>Google Analytics Profile ID</em> con tu ID<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step6.en.png" title="Configuracin de Google - Paso 6" alt="Configuracin de Google - Paso 6" /></li>
</ol>
<h2>Informacin</h2>
<ul>
	<li><a href="http://support.google.com/analytics">Soporte de Google
Analytics</a></li>
</ul>