<h1>Google Analytics</h1>
<p>Rastreamento e análise web para pessoas e comunidades.</p>
<h2>Utilização</h2>
<p>Crie e configure sua conta do Google Analytics seguindo esses passos:</p>
<ol>
	<li>Acesse <a href="http://www.google.com/analytics/">Google Analytics</a><br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step1.en.png" title="Configurações do Google - Passo 1" alt="Configurações do Google - Passo 1" /></li>
	<li>Cadastre-se no Google Analytics<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step2.en.png" title="Configurações do Google - Passo 2" alt="Configurações do Google - Passo 2" /></li>
	<li>Siga as instruções de cadastro<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step3.en.png" title="Configurações do Google - Passo 3" alt="Configurações do Google - Passo 3" /></li>
	<li>Preencha <em>Website&#8217;s <span class="caps">URL</span></em> com o
endereço do seu perfil (ex.: softwarelivre.org/joenio), <em>Account
Name</em> com seu nome e leia e aceite os termos de uso<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step4.en.png" title="Configurações do Google - Passo 4" alt="Configurações do Google - Passo 4" /></li>
	<li>Aceite as opções padrão, salve e anote seu  <em>Web Property ID</em> (ex.:
UA-23455430-3)<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step5.en.png" title="Configurações do Google - Passo 5" alt="Configurações do Google - Passo 5" /></li>
	<li>Faça login no Noosfero, acesse seu painel de controle, clique em <em>Editar
perfil</em> e preencha <em>ID do Perfil no Google Analytics</em> com o ID
acima<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step6.en.png" title="Configurações do Google - Passo 6" alt="Configurações do Google - Passo 6" /></li>
</ol>
<h2>Informações</h2>
<ul>
	<li><a href="http://support.google.com/analytics">Suporte do Google
Analytics</a></li>
</ul>