<h1>Google Analytics</h1>
<p>Tracking and web analytics for people and communities.</p>
<h2>Usage</h2>
<p>Create and configure Google Analytics account following these steps:</p>
<ol>
	<li>Open <a href="http://www.google.com/analytics/">Google Analytics</a><br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step1.en.png" title="Google Setup - Step 1" alt="Google Setup - Step 1" /></li>
	<li>Sign in to Google Analytics<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step2.en.png" title="Google Setup - Step 2" alt="Google Setup - Step 2" /></li>
	<li>Follow signup instructions<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step3.en.png" title="Google Setup - Step 3" alt="Google Setup - Step 3" /></li>
	<li>Fill in <em>Website&#8217;s <span class="caps">URL</span></em> with your profile address (eg.: softwarelivre.org/joenio), <em>Account Name</em> with your name and read and accept terms of use<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step4.en.png" title="Google Setup - Step 4" alt="Google Setup - Step 4" /></li>
	<li>Accept default options, save and take note of your <em>Web Property ID</em> (eg.: UA-23455430-3)<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step5.en.png" title="Google Setup - Step 5" alt="Google Setup - Step 5" /></li>
	<li>Login to Noosfero, go to your control panel, follow <em>Edit Profile</em> and fill in <em>Google Analytics Profile ID</em> with ID above<br />
<img src="/plugins/google_analytics/images/doc/google-analytics-setup-step6.en.png" title="Google Setup - Step 6" alt="Google Setup - Step 6" /></li>
</ol>
<h2>Info</h2>
<ul>
	<li><a href="http://support.google.com/analytics">Google Analytics Support</a></li>
</ul>