<h1>GoogleCsePlugin</h1>
<p>Um plugin que utiliza a busca customizada do Google como busca geral do
Noosfero.</p>
<h2>Utilização</h2>
<ul>
	<li>Registre um ID para a busca customizada do Google em <a
href="http://www.google.com/cse">http://www.google.com/cse</a></li>
	<li>Defina no mínimo a configuração básica, site e aparência do seu Google Cse
ID</li>
	<li>Configure o ambiente do Noosfero com esse ID
	<ul>
		<li>>> env = Environment.find( ... )</li>
		<li>>> env.settings[:google_cse_id] = &#8216;&lt;PUT <span class="caps">ID
HERE</span>&gt;&#8217;</li>
		<li>>> env.save!</li>
	</ul></li>
	<li>Isso é tudo! O campo de texto da busca do topo do Noosfero será utilizada
para fazer as buscas</li>
</ul>