<h1>SendEmailPlugin</h1>
<p>Permite enviar e-mails por um formulário</p>
<h2>Utilização</h2>
<ul>
	<li>Crie um formulário <span class="caps">HTML</span> utilizando using
RawHTMLBlock ou RawHTMLArticle que invoca a 'action' {sendemail}</li>
	<li>Adicione os campos &#8220;to&#8221; e &#8220;message&#8221; e um botão de
submit</li>
	<li>Tenha certeza de preencher o campo &#8216;to&#8217; com endereços permitidos
nas configurações do plugin</li>
</ul>
<h2>formulário <span class="caps">HTML</span></h2>
<h3>Atributo 'action' do formulário</h3>
<p>Você deve utilizar a macro {sendemail} como 'action' do formulário, ela será
expandida como:</p>
<ul>
	<li><strong>/profile/&lt;identifier&gt;/plugins/send_email/deliver</strong> no
contexto do perfil</li>
	<li><strong>/plugin/send_email/deliver</strong> no contexto do ambiente</li>
</ul>
<h3>Campo &#8216;Subject&#8217;</h3>
<p>Assunto da mensagem.</p>
<p>(padrão: &#8216;Novo e-mail&#8217;)</p>
<h3>Campo &#8216;Messagem&#8217;</h3>
<p>Corpo da mensagem</p>
<p>(obrigatório)</p>
<h3>Campo &#8216;To&#8217;</h3>
<p>Endereço do destinatário. Aceita múltiplos endereços separados por vírgula.</p>
<p>(obrigatório)</p>
<h3>campos extras</h3>
<p>Os outros parâmetros no formulário <span class="caps">HTML</span> irão
compor o corpo da mensagem no formato &#8220;chave: valor&#8221;</p>
<h3>Exemplo</h3>
<pre>
&lt;form action='{sendemail}' method='post'&gt;
   To: &lt;input type='text' name='to'/&gt;
   Subject: &lt;input type='text' name='subject'/&gt;
   Message: &lt;input type='text' name='message'/&gt;
   &lt;input type='submit'/&gt;
&lt;/form&gt;
</pre>
<h2>Opções</h2>
<h3>Utilizando ajax</h3>
<p>Ajax é suportado utilizando #ajax-form como 'id' do </p>
<p>Exemplo</p>
<pre>
&lt;form action='{sendemail}' id='ajax-form'&gt;
   To: &lt;input type='text' name='to'/&gt;
   Subject: &lt;input type='text' name='subject'/&gt;
   Message: &lt;input type='text' name='message'/&gt;
   &lt;input type='submit'/&gt;
&lt;/form&gt;
</pre>
<h2>Informações</h2>
<p>Esseplugin foi inspirado pelo <a
href="http://foswiki.org/Extensions/SendEmailPlugin">Foswiki
SendEmailPlugin</a></p>