<h1>SendEmailPlugin</h1>
<p>Allows to send e-mails through an e-mail form.</p>
<h2>Usage</h2>
<ul>
	<li>Create a <span class="caps">HTML</span> form using RawHTMLBlock or RawHTMLArticle that invokes the {sendemail} action</li>
	<li>Add a &#8220;to&#8221; and &#8220;message&#8221; field and a submit button</li>
	<li>Make sure to fill in allowed &#8216;to&#8217; addresses in plugin settings</li>
</ul>
<h2><span class="caps">HTML</span> form</h2>
<h3>Form action</h3>
<p>You should use {sendemail} macro as form action, it will be expanded as:</p>
<ul>
	<li><strong>/profile/&lt;identifier&gt;/plugin/send_email/deliver</strong> in profile context</li>
	<li><strong>/plugin/send_email/deliver</strong> in environment context</li>
</ul>
<h3>&#8216;Subject&#8217; field</h3>
<p>Subject of message.</p>
<p>(default: &#8216;New mail&#8217;)</p>
<h3>&#8216;Message&#8217; field</h3>
<p>Body of message.</p>
<p>(required)</p>
<h3>&#8216;To&#8217; field</h3>
<p>Target address. Accepts multiple addresses separated by comma.</p>
<p>(required)</p>
<h3>extra fields</h3>
<p>Each other params in <span class="caps">HTML</span> form will compose message body in a format &#8220;key: value&#8221;</p>
<h3>Example</h3>
<pre>
&lt;form action='{sendemail}' method='post'&gt;
   To: &lt;input type='text' name='to'/&gt;
   Subject: &lt;input type='text' name='subject'/&gt;
   Message: &lt;input type='text' name='message'/&gt;
   &lt;input type='submit'/&gt;
&lt;/form&gt;
</pre>
<h2>Options</h2>
<h3>Using ajax</h3>
<p>Ajax is supported using #ajax-form as id of <span class="caps">HTML</span> form.</p>
<p>Example:</p>
<pre>
&lt;form action='{sendemail}' id='ajax-form'&gt;
   To: &lt;input type='text' name='to'/&gt;
   Subject: &lt;input type='text' name='subject'/&gt;
   Message: &lt;input type='text' name='message'/&gt;
   &lt;input type='submit'/&gt;
&lt;/form&gt;
</pre>
<h2>Info</h2>
<p>This plugin was inspired by <a href="http://foswiki.org/Extensions/SendEmailPlugin">Foswiki SendEmailPlugin</a></p>