<h1>SendEmailPlugin</h1>
<p>Permite enviar correos electrnicos a travs de un formulario de correo
electrnico.</p>
<h2>Uso</h2>
<ul>
	<li>Crear un formulario <span class="caps">HTML</span> usando RawHTMLBlock o
RawHTMLArticle que invoquen la accin {sendemail}</li>
	<li>Aadir un campo &#8220;destinatario&#8221; y &#8220;mensaje&#8221; y un botn
de enviar.</li>
	<li>Asegrate de completar una direccin permitida en &#8216;destinatario&#8217;
en la configuracin de complementos.</li>
</ul>
<h2>Formulario <span class="caps">HTML</span></h2>
<h3>Formulario de accin</h3>
<p>Debes usar un macro {sendmail} como formulario de accin, que se ampliar
como:</p>
<ul>
	<li><strong>/profile/&lt;identifier&gt;/plugin/send_email/deliver</strong> in
profile context</li>
	<li><strong>/plugin/send_email/deliver</strong> en contexto del entorno</li>
</ul>
<h3>Campo de &#8216;asunto&#8217;</h3>
<p>Asunto del mensaje.</p>
<p>(predefinido: &#8216;Nuevo correo&#8217;)</p>
<h3>Campo del &#8216;Mensaje&#8217;</h3>
<p>Cuerpo del mensaje.</p>
<p>(requerido)</p>
<h3>Campo &#8216;destinatario&#8217;</h3>
<p>Direccin objetivo. Acepta mltiples direcciones separadas por comas.</p>
<p>(requerido)</p>
<h3>campos extras</h3>
<p>Cada parmetro en el formulario <span class="caps">HTML</span> compondr el
cuerpo del mensaje en un formato &#8220;clave: valor&#8221;</p>
<h3>Example</h3>
<pre>
&lt;form action='{sendemail}' method='post'&gt;
   To: &lt;input type='text' name='to'/&gt;
   Subject: &lt;input type='text' name='subject'/&gt;
   Message: &lt;input type='text' name='message'/&gt;
   &lt;input type='submit'/&gt;
&lt;/form&gt;
</pre>
<h2>Opciones</h2>
<h3>Usando ajax</h3>
<p>Ajax es soportado usando #ajax-form como id de un formuario <span
class="caps">HTML</span></p>
<p>Ejemplo:</p>
<pre>
&lt;form action='{sendemail}' id='ajax-form'&gt;
   To: &lt;input type='text' name='to'/&gt;
   Subject: &lt;input type='text' name='subject'/&gt;
   Message: &lt;input type='text' name='message'/&gt;
   &lt;input type='submit'/&gt;
&lt;/form&gt;
</pre>
<h2>Informacin</h2>
<p>Este complemento fue inspirado por <a
href="http://foswiki.org/Extensions/SendEmailPlugin">Foswiki
SendEmailPlugin</a></p>