<h1 class="order-750">Shopping Cart</h1>
<p><em>Buy the products you want.</em></p>
<ul>
	<li><a href="#how-to-access">How to Access</a></li>
	<li><a href="#adding-new-products">Adding new products</a></li>
	<li><a href="#editing-quantities">Editing quantities</a></li>
	<li><a href="#removing-products">Removing products</a></li>
	<li><a href="#cleaning-cart">Cleaning the cart</a></li>
	<li><a href="#show-and-hide">Show and hide cart</a></li>
	<li><a href="#checkout">Checking out</a></li>
</ul>
<h2 id="how-access">How to access</h2>
<p>First of all, you need to be at the page of the enterprise from which you are going to buy your products:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-enterprise-homepage.en.png" title="Enterprise Homepage" alt="Enterprise Homepage" /></p>
<p>Now you are going to access the products&#8217; page of this enterprise. Most of the enterprises has a link at the side bar directing you to their products&#8217; list:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-products-side-bar-link.en.png" title="Link to the products list" alt="Link to the products list" /></p>
<p>If there is no link to the products, you can try accessing the list straight through the url:</p>
<p>/catalog/enterprise-identifier.</p>
<h2 id="adding-new-products">Adding new products</h2>
<p>After reaching the products&#8217; list, if the enterprise enabled the shopping-cart plugin, you will see the button &#8216;Add to cart&#8217; on each product listed. This is how it looks like in the catalog:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-catalog.en.png" title="Catalog" alt="Catalog" /></p>
<p>And here in the products search:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-asset-products.en.png" title="Search" alt="Search" /></p>
<p>If you press this button, you will see in the up-right corner your cart sliding down with the new product added:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-first-product-added.en.png" title="First product" alt="First product" /></p>
<p>From now on, your cart will always be there until it gets empty or you choose to hide it.<br />
If you want to add new products just do the same thing. If you try to add a product that&#8217;s already in your cart, it will add one to the quantity of that product.</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-some-products.en.png" title="Cart with some products" alt="Cart with some products" /></p>
<p><span class="caps">OBS</span>: you can only add products from the same enterprise in the cart. If you want to buy products from different enterprises, then you should finish the buy with one and then start the new buy with the other.</p>
<h2 id="editing-quantities">Editing quantities</h2>
<p>To edit the quantity of each product you have in your cart is really easy. You just need to click on the quantity and write the quantity you want:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-editing-quantity.en.png" title="Editing quantity" alt="Editing quantity" /></p>
<p>After leaving the field, the quantity will be automatically updated:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-quantity-updated.en.png" title="Quantity updated" alt="Quantity updated" /></p>
<h2 id="removing-products">Removing products</h2>
<p>You can remove any product from your cart simply pressing the &#8216;delete&#8217; button (which has a little thrash as icon):</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-deleting-product.en.png" title="Deleting product" alt="Deleting product" /></p>
<p>After pressing this button you will be asked for a confirmation:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-deleting-confirmation.en.png" title="Delete confirmation" alt="Delete confirmation" /></p>
<p>And after confirming, the product will be removed. If the product removed is the last one, the cart will disappear too.</p>
<h2 id="cleaning-cart">Cleaning the cart</h2>
<p>If you changed your mind about the products you added or you did too many mistakes to keep going on, at any time you can clean your cart and start it again. Just follow the link &#8220;Clean cart&#8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cleaning-cart.en.png" title="Cleaning cart" alt="Cleaning cart" /></p>
<p>After following this link you will be asked for a confirmation:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cleaning-confirmation.en.png" title="Cleaning confirmation" alt="Cleaning confirmation" /></p>
<p>And after confirming, your carted is empty again.</p>
<h2 id="show-and-hide">Show and hide cart</h2>
<p>The cart is a feature that is always over your page on the top-right corner, so sometimes you might get nervous trying to see something that is under it. Don&#8217;t worry! In you cart is a &#8220;Hide cart&#8221; button:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-hide-button.en.png" title="Cart hide" alt="Cart hide" /></p>
<p>This button will slide up your cart when pressed leaving just a little &#8220;Show cart&#8221; so that you can slide it down again:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cart-hided.en.png" title="Cart hided" alt="Cart hided" /></p>
<p>When you hide your cart nothing happens to the products you already added.<br />
If you miss your beatiful cart again just press &#8220;Show cart&#8221; and it will slide down gracefully back to you.  ^^</p>
<h2 id="checkout">Checking out</h2>
<p>So, now you already choosed your products and its quantities and want to checkout your products.<br />
As you can see in your cart, there is a &#8220;Shopping Checkout&#8221; button:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-shopping-checkout.en.png" title="Checkout" alt="Checkout" /></p>
<p>After pressing this button, a box will appear with some fields for you to fill and your cart review:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-fields.en.png" title="Filling informations" alt="Filling informations" /></p>
<p>If you are already a member of the social network your informations will be filled automatically:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-fields-filled.en.png" title="Informations automatically filled" alt="Informations automatically filled" /></p>
<p>If due to some reason you fill a field erroneously or do not fill a required field, a little message will appear under the field indicating the problem so that you can fill your informations correctly:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-invalid-fields.en.png" title="Invalid fields" alt="Invalid fields" /></p>
<p>After filling your information press the button &#8220;Send buy request&#8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-send-buy-request.en.png" title="Send request" alt="Send request" /></p>
<p>This button will send your request to the enterprise and will also send you an email with your request so that you can confirm the products and your informations. Now the enterprise might contact you to discuss further details.</p>
<p><a href="#online-doc-text">Back to top</a></p>