<h1 class="order-750">Carrinhos de Compras</h1>
<p><em>Compre os produtos que você deseja.</em></p>
<ul>
	<li><a href="#how-to-access">Como acessar</a></li>
	<li><a href="#adding-new-products">Adcionando novos produtos</a></li>
	<li><a href="#editinr-quantities">Editando quantidades</a></li>
	<li><a href="#removing-products">Removendo produtos</a></li>
	<li><a href="#cleaning-cart">Limpando o carrinho</a></li>
	<li><a href="#show-and-hide">Mostrar e esconder o carrinho</a></li>
	<li><a href="#checkout">Finalizando compra</a></li>
</ul>
<h2 id="how-access">Como acessar</h2>
<p>Antes de mais nada, você precisa estar na página do empreendimento do qual
vocêirá comprar seus produtos:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-enterprise-homepage.en.png" title="Homepage do Empreendimento" alt="Homepage do Empreendimento" /></p>
<p>Agora você irá acessar a página dos produtos desse empreendimento. A maioria
dos empreendimentos tem um link na barra lateral direcionando para a sua
lista de produtos:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-products-side-bar-link.en.png" title="Link para a lista de produtos" alt="Link para a lista de produtos" /></p>
<p>Se não houver um link para os produtos, você pode tentar acessar a lista
diretamente através da url:</p>
<p>/catalog/identificador-do-empreendimento.</p>
<h2 id="adding-new-products">Adicionando novos produtos</h2>
<p>Depois de alcançar a lista de produtos, caso a o empreendimento habilitou o
plugin shopping-cart, você irá ver o botão &#8216;Adicionar ao
carrinho&#8217; em cada produto listado. Aqui como ele aparece no catálogo:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-catalog.en.png" title="Catálogo" alt="Catálogo" /></p>
<p>E aqui na busca de produtos:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-asset-products.en.png" title="Busca" alt="Busca" /></p>
<p>Se você apertar esse botão você verá seu carrinho deslizando para baixo no
topo direito com o novo produto adicionado:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-first-product-added.en.png" title="Primeiro produto" alt="Primeiro produto" /></p>
<p>A partir de agora, seu carrinho ficará sempre visível até ele ficar vazio ou
você decidir escondê-lo.<br />
Se você quiser adicionar novos produtos basta fazer a mesma coisa. Se você
tentar adicionar um produto que já está no seu carrinho, ele irá acrescentar
em um a quantidade do produto.</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-some-products.en.png" title="Carrinho com alguns produtos" alt="Carrinho com alguns produtos" /></p>
<p><span class="caps">OBS</span>: você só pode adicionar produtos de um mesmo
empreendimento no carrinho. Se você quer comprar produtos de um
empreendimento diferente, você deve finalizar sua compra com um e então
começar a nova compra com o outro.</p>
<h2 id="editing-quantities">Editando quantidades</h2>
<p>Alterar a quantidade de cada produto que você tem no carrinho é muito
fácil. Você só precisa clicar na quantidade e escrever a quantidade que você
quer:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-editing-quantity.en.png" title="Editando a quantidade" alt="Editando a quantidade" /></p>
<p>Depois de deixar o campo, a quantidade sera atualizada automaticamente:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-quantity-updated.en.png" title="Quantidade atualizada" alt="Quantidade atualizada" /></p>
<h2 id="removing-products">Removendo produtos</h2>
<p>Você pode remover qualquer produto do carrinho simplesmente pressionando o
botão de deletar (que tem o pequeno ícone de uma lixeira):</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-deleting-product.en.png" title="Deletando produto" alt="Deletando produto" /></p>
<p>Depois de apertar o botão, você deverá realizar a confirmação:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-deleting-confirmation.en.png" title="Confirmação de remoção" alt="Confirmação de remoção" /></p>
<p>E após confirmar, o produto será removido. Se o produto removido for o
último, o carrinho irá desaparecer.</p>
<h2 id="cleaning-cart">Limpando o carriho</h2>
<p>Se você mudou de ideia sobre os produtos que você adicionou ou você
cometeuerros demais para continuar, a qualquer momento você pode limpar o
seu carrinho e começar de novo. Basta clicar no link &#8220;Limpar
carrinho&#8220;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cleaning-cart.en.png" title="Limpando carrinho" alt="Limpando carrinho" /></p>
<p>Após clicar nesse link você precisa dar a sua confirmação:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cleaning-confirmation.en.png" title="Confirmação de limpeza" alt="Confirmação de limpeza" /></p>
<p>E depois de confirmar, seu carrinho estará limpo de novo.</p>
<h2 id="show-and-hide">Mostra e esconder o carrinho</h2>
<p>O carrinho é uma funcionalidade que está sempre sobre a página no canto
superior direito, então em alguns momentos você pode ficar nervoso tentando
ver algo que pode estar embaixo dele. Não se preocupe! No seu carrinho tem
um botão &#8220;Esconder carrinho&#8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-hide-button.en.png" title="Esconder carrinho" alt="Esconder carrinho" /></p>
<p>Quando clicado, esse botão irá deslizar para cima o seu carrinho deixando
apenas um pequeno &#8220;Mostrar carrinho&#8221; para que você possa
desliza-lo para baixo novamente:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cart-hided.en.png" title="Carrinho escondido" alt="Carrinho escondido" /></p>
<p>Quando você esconde seu carrinho nada acontecerá com os produtos que você já
adicionou.<br />
Se você sentir falta do seu lindo carrinho novamente, basta apertar
&#8220;Mostrar carrinho&#8221; e ele irá deslizar graciosamente de volta
para você.</p>
<h2 id="checkout">Finzalizando a compra</h2>
<p>Então, agora você já escolheu os seus produtos e as respectivas quantidades
e você quer finalizar o seu pedido.<br />
Como você pode ver no seu carrinho, tem um botão &#8220;Finalizar
Pedido&#8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-shopping-checkout.en.png" title="Finalizando compra" alt="Finalizando compra" /></p>
<p>Depois de apertar esse botão, uma caixa irá aparecer com alguns campos para
você preencher e uma revisão do seu carrinho:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-fields.en.png" title="Preenchendo informações" alt="Preenchendo informações" /></p>
<p>Se você já é um membro da rede social suas informações serão preenchidas
automaticamente:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-fields-filled.en.png" title="Informações automaticamente preenchidas" alt="Informações automaticamente preenchidas" /></p>
<p>Se por alguma razão você preencher um campo erroneamente ou não preencher um
campo obrigatório, uma pequena mensagem irá aparecer embaixo do campo
indicando o problema para que você possa preencher suas informações
corretamente:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-invalid-fields.en.png" title="Campos inválidos" alt="Campos inválidos" /></p>
<p>Depois de preencher suas informações aperte o botão &#8220;Enviar pedido de
compra&#8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-send-buy-request.en.png" title="Enviar requisição" alt="Enviar requisição" /></p>
<p>Esse botão irá enviar a sua requisição para o empreendimento e também irá
lhe mandar um email com o seu pedido para que você possa confirmar os seus
produtos e as suas informações. Agora o empreendimento deve te contactar
para discutir demais detalhes.</p>
<p><a href="#online-doc-text">Voltar ao topo</a></p>