<h1 class="order-750">Carrito de compras</h1>
<p><em>Compra los productos que quieras.</em></p>
<ul>
	<li><a href="#how-to-access">Cmo entrar</a></li>
	<li><a href="#adding-new-products">Aadiendo nuevos productos</a></li>
	<li><a href="#editing-quantities">Edtiando cantidades</a></li>
	<li><a href="#removing-products">Eliminando productos</a></li>
	<li><a href="#cleaning-cart">Limpiando el carrito</a></li>
	<li><a href="#show-and-hide">Mostrar y ocultar carrito</a></li>
	<li><a href="#checkout">Realizar pago</a></li>
</ul>
<h2 id="how-access">Cmo acceder</h2>
<p>Primero que nada, necesitas estar en la pgina de la empresa desde donde vas
a comprar tus productos:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-enterprise-homepage.en.png" title="Pgina de inicio de la empresa" alt="Pgina de inicio de la empresa" /></p>
<p>Ahora vas a entrar a la pgina de los productos de esta empresa. La mayora de
las empresas tienen un enlace en la barra lateral direccionnandote a su
lista de productos:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-products-side-bar-link.en.png" title="Enlace a la lista de productos" alt="Enlace a la lista de productos" /></p>
<p>Si no hay un enlace a los productos, puedes intentar entrar a la lista
directamente desde la url:</p>
<p>/catalog/enterprise-identifier.</p>
<h2 id="adding-new-products">Aadiendo nuevos productos</h2>
<p>Despus de alcanzar la lista de productos, si la empresa habilit el plugin de
carrito de compras, vers el botn &#8216;Aadir al carrito&#8217; en cada
producto listado. As es como se ve en el catlogo:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-catalog.en.png" title="Catlogo" alt="Catlogo" /></p>
<p>Y aqu en la bsqueda de productos:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-asset-products.en.png" title="Search" alt="Search" /></p>
<p>Si presionas este botn, vers en la esquina superior derecha tu carrito
deslizarse hacia abajo con el nuevo producto aadido:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-first-product-added.en.png" title="Primer producto" alt="Primer producto" /></p>
<p>A partit de ahora, tu carrito estar siempre ah hasta que se vace o decidas
ocultarlo.<br />
Si quieres aadir nuevos productos solo haz lo mismo. Si deseas aladir un
producto que se encuentra ya en tu carrito, aadir uno a la cantidad de ese
producto.</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-some-products.en.png" title="Carrito con algunos productos" alt="Carrito con algunos productos" /></p>
<p><span class="caps">OBS</span>: puedes solamente aadir productos de la
empresa al carrito. Si deseas comprar productos de diferentes empresas,
entonces debes finalizar la compra con una y comenzar la nueva compra con la
otra.</p>
<h2 id="editing-quantities">Editando cantidades</h2>
<p>Para editar la cantidad de cada producto que tienes en tu carrito es
verdaderamente sencillo. Solo necesitas hacer clic en la cantidad y escribir
la cantidad que deseas:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-editing-quantity.en.png" title="Editando cantidad" alt="Editando cantidad" /></p>
<p>Despus de abandonar este campo, la cantidad se actuaizar automticamente:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-quantity-updated.en.png" title="Cantidad actualizada" alt="Cantidad actualizada" /></p>
<h2 id="removing-products">Eliminando productos</h2>
<p>Puedes eliminar cualquier producto de tu carrito simplemente presionando el
botn &#82126;borrar&#8217; (el cual tiene un pequeo cono de basurero):</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-deleting-product.en.png" title="Eliminando un producto" alt="Eliminando un producto" /></p>
<p>Despus de presionar este botn, se te preguntar por una confirmacin:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-deleting-confirmation.en.png" title="Borrar confirmacin" alt="Borrar confirmacin" /></p>
<p>Y despus de confirmar, el producto ser eliminado. Si el producto eliminado
es el ltimo, el carrito desaparecer tambin.</p>
<h2 id="cleaning-cart">Limpiando el carrito</h2>
<p>Si ambiaste de opinin sobre los productos que aadiste o hiciste muchos
errores para continuar, a cualquier hora puedes limpiar tu carrito y
comenzar de nuevo. Solo sigue el enlace &#8220;Limpiar carrito&%8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cleaning-cart.en.png" title="Carrito de compras" alt="Carrito de compras" /></p>
<p>Despus de seguir este enlace, se te preguntar por una confirmcin:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cleaning-confirmation.en.png" title="Confirmacin de limpieza" alt="Confirmacin de limpieza" /></p>
<p>Y despus de confirmar, tu carrito est vaco de nuevo.</p>
<h2 id="show-and-hide">Mostrar y ocultar carrito</h2>
<p>El carrito es una caractersticas que est siempre sobre tu pgina en la
esquina superior derecha, as que en veces podras estr nervioso tratando de
ver algo que est debajo. No te preocupes! En tu carrito hay un botn
&#8220;Ocultar carrito&#8221;:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-hide-button.en.png" title="Ocultar carrito" alt="Ocultar carrito" /></p>
<p>Este botn se desplazar hacia arriba tu carrito cuando lo presiones, dejando
un pequeo &#8220;Mostrar carrito&#8221; para que puedas desplazarlo hacia
abajo de nuevo:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-cart-hided.en.png" title="Carrito ocultado" alt="Carrito ocultado" /></p>
<p>Cuando ocultas tu carrito nada afecta a los productos que has aadido.<br />
Si pierdes tu hermoso carrito de nuevo, solo presiona &#8220;Mostrar
carrito&#8221; y se desplazar hacia abajo de vuelta a ti. ^^</p>
<h2 id="checkout">Relizando el pago</h2>
<p>As, ahora elegiste tus productos y sus cantidades y deseas realizar el pago
de los mismos.<br />
Como puedes ver en tu carrito, hay un botn &#8220;Realizar pago de la
compra&#8221; </p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-shopping-checkout.en.png" title="Caja" alt="Caja" /></p>
<p>Despus de presionar este botn, una caja aparecer con algunos campos para que
los llenes y revises tu carrito: </p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-fields.en.png" title="Llenando informacin" alt="Llenando informacin" /></p>
<p>Si eres ya un miembro de la red social, tu informacin ser llenada
automticamente:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-fields-filled.en.png" title="Informacin llenada automticamente" alt="Informacin llenada automticamente" /></p>
<p>Si, debido a alguna razn, llenas un campo errneamente o no llenas un campo
requerido, un pequeo mensaje aparecer bajo el campo indicando el problema
para que puedas llenarlo con la informacin correcta:</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-invalid-fields.en.png" title="Campos invlidos" alt="Campos invlidos" /></p>
<p>Despus de llenar tu informacin presiona el botn &#8220;Enviar solicitud de
compra&#8221;</p>
<p><img src="/plugins/shopping_cart/images/doc/shopping-cart-send-buy-request.en.png" title="Enviar solicitud" alt="Enviar solicitud" /></p>
<p>Este botn enviar tu solicitud a la empresa y te enviar un correo electrnico
con tu solicitud para que puedas confirmar los productos y tu
informacin. Ahora la empresa podra contactarte para discutir detalles
adicionales.</p>
<p><a href="#online-doc-text">Volver arriba</a></p>