<h1>Variables Plugin</h1>
<p>A set of simple variables to be used in a macro context.</p>
<h2>Usage</h2>
<ul>
	<li>Create a <span class="caps">HTML</span> content using RawHTMLBlock, TinyMceArticle or other<br />
  article with <span class="caps">HTML</span> support</li>
	<li>Add a <span class="caps">HTML</span> div tag with css class &#8220;macro&#8221; (see Example)</li>
	<li>Add inner that div tag the variable desired, like {profile}</li>
</ul>
<h2>Usage with TinyMceArticle</h2>
<p>The Noosfero&#8217;s macros add a extra button in toolbar of the editor<br />
to use macros in a single way, that way this plugin add a option<br />
called &#8220;Variables&#8221; under this option.</p>
<h2>Supported variables</h2>
<ul>
	<li>{profile} &#8211; will be replaced by the identifier of the profile</li>
	<li>{name} &#8211; will be replaced by the name of the profile</li>
</ul>
<h2>Example</h2>
<pre>
&lt;div class="macro" data-macro="variables_plugin/profile"&gt;
  the identifier of the profile = {profile}
  the name of the profile = {name}
&lt;/div&gt;
</pre>
<h2>Info</h2>
<p>This plugin was inspired by the solution proposed by the Serpro in<br />
the merge-request #419 on the Gitorious:</p>
<ul>
	<li>https://gitorious.org/noosfero/noosfero/merge_requests/419</li>
</ul>
<p>And improved by the guys from the UnB.</p>