<h1>Noosfero online manual</h1>
<p>This is the Noosfero online manual. In these pages you will find useful information on how to use Noosfero, manage a Noosfero environment and customize Noosfero in several ways.</p>
<p>To display the manual about a given topic, first choose a section in the left menu, and then choose a topic within the section.</p>