<h1>Manual en lnea de Noosfero</h1>
<p>Este es el manual en lnea de noosfero. En estas pginas encontrars informacin
til de como usar Noosfero, administrar su entorno y personalizarlo de
diferentes maneras.</p>
<p>Para visualizar el manual acerca de un tema determinado, haga clic a la
seccin en el men de la izquierda y, a continuacin, elija un tema dentro de
la seccin.</p>