<h1>Manual online do Noosfero</h1>
<p>Este é o manual online do Noosfero. Nessa páginas você vai encontrar
informaçoes úteis para usar o Noosfero, gerenciar um ambiente Noosfero e
personalizar Noosfero de várias formas.</p>
<p>Para exibir o manual sobre um dado tópico, primeiro escolha uma seção no
menu à esquerda, e então escolha um tópico na seção.</p>