<h1 class="order-620">Advanced search</h1>
<p><em>When an user is navigating on the system, he can do a search to find articles, communities, people, enterprises or products.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Do a search as explained in <a href="/doc/navigation/searching">Searching</a></p>
<h2 id="description">Description</h2>
<ol>
	<li>Click on &#8220;More options&#8221; to specify the search  <img src="/images/doc/search-more-options.en.png" title="More options button on search" alt="More options button on search" /></li>
	<li>Type what you want to search on the system  <img src="/images/doc/search-more-options-open.en.png" title="More options on search" alt="More options on search" />
	<ol>
		<li>Select the State where you want to find what you are looking for</li>
		<li>Select the City where you want to find what you are looking for</li>
		<li>The distance that you define in this field will be used to find what you want. The system will search the articles/people/communities/events/enterprises/products that are up to that distance from the city specified</li>
		<li>Choose what you are looking for</li>
		<li>Click on &#8220;Search&#8221; button to do the search.</li>
	</ol></li>
	<li>In this example, we searched for &#8220;free software&#8221; in articles/people/communities/events/enterprises/products. Then you will see a screen with the search result. Each box brings one kind of information with a limited number of results. To see more results of a box, click on &#8220;See all&#8221; link below the box.  <img src="/images/doc/search-results-with-example.en.png" title="Advanced search results with example" alt="Advanced search results with example" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching">Searching</a></li>
	<li><a href="/doc/navigation/searching-people">Findind people</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/searching-products-services">Finding products and services</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>