<h1 class="order-620">Bsqueda avanzada</h1>
<p><em>Cuando un usuario est navegando en el sistema, puede realizar una
bsqueda para encontrar artculos, comunidades, personas, empresas o
productos.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Realizar una bsqueda como se explica en <a
href="/doc/navigation/searching">Buscando</a></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Haz clic en &#8220;Ms ocpiones&#8221; para especificar la bsqueda  <img src="/images/doc/search-more-options.en.png" title="Botn ms ocpiones en la bsqueda" alt="Botn ms ocpiones en la bsqueda" /></li>
	<li>Ingresa qu es lo que quieres buscar en el sistema  <img src="/images/doc/search-more-options-open.en.png" title="Ms opciones en la bsqueda" alt="Ms opciones en la bsqueda" />
	<ol>
		<li>Selecciona el Estado donde quieres encontrar lo que ests buscando</li>
		<li>Selecciona la ciudad donde quieres encontrar lo que ests buscando</li>
		<li>La distancia que defines en este campo ser utilizada para encontrar lo que
quieres. El sistema buscar los
artculos/personas/comunidades/eventos/empresas/productos que estn dentro de
esta distancia desde la ciudad especificada</li>
		<li>Elige aquello que ests buscando</li>
		<li>Presiona el botn &#8220;Buscar&#8221; para realizar la bsqueda.</li>
	</ol></li>
	<li>En este ejemplo, buscamos &#8220;software gratuito&#8221; en
artculos/personas/comunidades/eventos/empresas/productos. Luego vers una
pantalla con el resultado de la bsqueda. Cada bloque muestra uun tipo de
informacin con un nmero limitado de resultados. Para ver ms resultados de un
bloque, haz clic en el enalce &#8220;Ver todos&#8221; debajo del bloque.  <img src="/images/doc/search-results-with-example.en.png" title="Resultados de bsqueda avanzada con un ejemplo" alt="Resultados de bsqueda avanzada con un ejemplo" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>