<h1 class="order-620">Busca avançada</h1>
<p><em>Para encontrar artigos, comunidades, pessoas, empreendimentos ou
produtos e serviços, o usuário que está navegando no sistema pode fazer uma
busca no sistema.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Faça uma busca como explicado em <a href="/doc/searching">Fazendo buscas</a></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Clique em &#8220;Mais opções&#8221; para especificar a busca  <img src="/images/doc/search-more-options.en.png" title="Mais opções na busca" alt="Mais opções na busca" /></li>
	<li>Escreva o que deseja procurar no sistema;  <img src="/images/doc/search-more-options-open.en.png" title="Mais opções na busca" alt="Mais opções na busca" />
	<ol>
		<li>Defina em qual Estado a busca será feita;</li>
		<li>Escolha a Cidade onde deseja encontrar o que procura;</li>
		<li>A distância que você definir nesse campo será usada para encontrar o que
você deseja. O portal irá procurar os
artigos/pessoas/comunidades/eventos/empreendimentos/produtos que estejam até
essa distância da cidade especificada;</li>
		<li>Marque o que você está procurando;</li>
		<li>Clique no botão &#8220;Busca&#8221; para fazer a pesquisa.</li>
	</ol></li>
	<li>Nesse exemplo, procuramos &#8220;free software&#8221; em
artigos/pessoas/comunidades/eventos/empreendimentos/produtos. Então
aparecerá uma tela com o resultado da busca. Cada caixa reúne um tipo de
informação com um número limitado de resultados. Para ver mais resultados de
uma caixa, clique no link &#8220;Ver todos&#8221; logo abaixo da caixa.  <img src="/images/doc/search-results-with-example.en.png" title="Resultado da busca avançada com exemplo" alt="Resultado da busca avançada com exemplo" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Busca</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrarpessoas</a></li>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrar
empreendimentos</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrar produtos e
serviços</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>