<h1 class="order-619">Balão de comunidades</h1>
<p><em>Quando um usuário está navegando no ambiente, ele poderá ver detalhes de
uma comunidade e pedir para ser membro rapidamente.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Se habilitado pelo ambiente, em todos os lugares que a comunidade aparecer
você poderá clicar no canto superior esquerdo para ver o balão de comunidade <img src="/images/doc/community-balloon-closed-en.png" title="Lista para o balão de comunidade" alt="Lista para o balão de comunidade" /></p>
<h2 id="description">Descrição</h2>
<p>O balão de comunidade possui links que permitem acesso direto a algumas
páginas da comunidade <img src="/images/doc/community-balloon-en.png" title="Links do balão de comunidade" alt="Links do balão de comunidade" /></p>
<ol>
	<li>Mural: lista os recados enviados para essa comunidade</li>
	<li>Membros: lista os integrantes da comunidade</li>
	<li>Agenda: lista os eventos criados na comunidade</li>
	<li>Entrar: se você não é membro da comunidade, você rapidamente poderá
requisitar a entrada clicando nesse link</li>
	<li>Sair:  se você é membro da comunidade, você rapidamente sairá da comunidade
clicando nesse link</li>
	<li>Enviar um e-mail: se você é um membro da comunidade, você poderá enviar um
e-mail para os administradores da comunidade clicando nesse link</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>