<h1 class="order-619">Community balloon</h1>
<p><em>When an user is navigating on the system, he can see details of a community and become a member quickly.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>If enabled on environment, wherever a community appears you can click on the top-left corner to see the community balloon <img src="/images/doc/community-balloon-closed-en.png" title="Community balloon link" alt="Community balloon link" /></p>
<h2 id="description">Description</h2>
<p>The community balloon has links to allow direct access to some community&#8217;s pages <img src="/images/doc/community-balloon-en.png" title="Community balloon links" alt="Community balloon links" /></p>
<ol>
	<li>Wall: lists scraps sent to this community</li>
	<li>Members: lists the community&#8217;s members</li>
	<li>Agenda: lists the events created on community</li>
	<li>Join: if you are not a member of community, you can quickly join it clicking on this link</li>
	<li>Leave: if you are a member of community, you can quickly leave it clicking on this link</li>
	<li>Send an e-mail: if you are a member of community, you can send an e-mail to the community admins clicking on this link</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>