<h1 class="order-619">Globo de la comunidad</h1>
<p><em>Cuando un usario est navegado en el sistema, puede ver los detalles de
una comunidad u convertirse en miembro rpidamente.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Si est disponible en el sistema, donde sea que una comunidad aparezca puedes
hacer clic en la esquina superior izquierda para ver el globo de la
comunidad <img src="/images/doc/community-balloon-closed-en.png" title="Enlace de globo de la comunidad" alt="Enlace de globo de la comunidad" /></p>
<h2 id="description">Descripción</h2>
<p>El globo de la comunidad tiene enlaces para permitir el acceso directo a
ciertas pginas de la comunidad <img src="/images/doc/community-balloon-en.png" title="Enlaces del globo de la comunidad" alt="Enlaces del globo de la comunidad" /></p>
<ol>
	<li>Muro: muestra los recortes enviados a esta comunidad</li>
	<li>Miembros: lista a los miembros de los comunidad</li>
	<li>Agenda: lista los eventos creados en la comunidad</li>
	<li>Unirse: si no eres miembro de la comunidad, puedes rpidamente unirte
presionando este enlace</li>
	<li>Abandonar: si eres un miembro de la comunidad, puedes rpidamente abandonarla
presionando este enlace</li>
	<li>Enviar un correo electrnico: si eres un miembro de la comunidad, puedes
enivar un correo electrnico a los administradores de la misma presionando
este enalce</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>