<h1 class="order-612">Finding more recent people</h1>
<p><em>To find the people who joined the system in recent times.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Find on top of page the term &#8220;People&#8221; and click on the arrow below it:<br />
  <img src="/images/doc/menu-more-recent-people.en.png" title="More recent people on top menu" alt="More recent people on top menu" /></p>
<h2 id="description">Description</h2>
<ol>
	<li>The people will be listed ordered by creation date with most recent first. Below the profile&#8217;s picture, you will see the date that the person joined the network <img src="/images/doc/more-recent-people-detail.en.png" title="Profile with creation date" alt="Profile with creation date" /></li>
	<li>Fill in the search field with what you want to look for and click on &#8220;Search&#8221; <img src="/images/doc/more-recent-people.en.png" title="More recent people search field" alt="More recent people search field" /></li>
	<li>Then you will see the search results ordered by creation date <img src="/images/doc/more-recent-people-with-example.en.png" title="More recent people search results with example" alt="More recent people search results with example" /></li>
	<li>Clicking on one of the search results, you will be redirected to the homepage of choosen person.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching">Searching</a></li>
	<li><a href="/doc/navigation/finding-more-active-people">Finding more recent people</a></li>
	<li><a href="/doc/navigation/finding-more-popular-people">Finding more popular people</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/searching-products-services">Finding products and services</a></li>
	<li><a href="/doc/navigation/advanced-search">Advanced search</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>