<h1 class="order-614">Buscando personas ms activas</h1>
<p><em>Encontrar personas que crean ms contenido.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encontrar encima de la pgina el trmino &#8220;Personas&#8221; y haciendo
clic en la flecha debajo de l:<br />
  <img src="/images/doc/menu-more-active-people.en.png" title="Personas ms activas en el men superior" alt="Personas ms activas en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Las personas sern ordenados por nmero de contenidos creados con las ms
activas primero. Debajo de la imagen de perfil, vers el nmero de artculos
creados por la persona. <img src="/images/doc/more-active-people-detail.en.png" title="Perfil con nmero de artculos" alt="Perfil con nmero de artculos" /></li>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221; <img src="/images/doc/more-active-people.en.png" title="Personas ms activas en la caja de busqueda" alt="Personas ms activas en la caja de busqueda" /></li>
	<li>Luego, vers los resultados de la bsqueda ordenados por el nmero de
contenidos creados por la persona <img src="/images/doc/more-active-people-with-example.en.png" title="Resultados de bsqueda de personas ms activas con ejemplo" alt="Resultados de bsqueda de personas ms activas con ejemplo" /></li>
	<li>Presionando uno de los resultados de la bsqueda, sers redigirido a la pgina
de inicio de la persona elegida.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/finding-more-recent-people">Encontrando personas ms
recientes</a></li>
	<li><a href="/doc/navegation/finding-more-popular-people">Buscando personas ms
populares</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>