<h1 class="order-613">Encontrando comunidades ms recientes</h1>
<p><em>Encontrar las comunidades creadas ltimamente en el sistema.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encuentra en la parte superior de la pgina el trmino
&#8220;comunidades&#8221; y presiona la flecha debajo de l:<br />
  <img src="/images/doc/menu-more-recent-communities.en.png" title="Comunidades ms recientes en el men superior" alt="Comunidades ms recientes en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Las comunidades se enlistarn ordenadas por fecha de creacin con la ms
reciente primero. Debajo de la imagen de perfil, vers la fecha en la que la
comunidad fue creada <img src="/images/doc/more-recent-communities-detail.en.png" title="Perfil con fecha de creacin" alt="Perfil con fecha de creacin" /></li>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221; <img src="/images/doc/more-recent-communities.en.png" title="Campo de bsqueda de las comunidades ms recientes" alt="Campo de bsqueda de las comunidades ms recientes" /></li>
	<li>Luego vers los resultados de la bsqueda ordenador por fecha de creacin <img src="/images/doc/more-recent-communities-with-example.en.png" title="Resultados de la bsqueda de comunidades ms recientes con ejemplo" alt="Resultados de la bsqueda de comunidades ms recientes con ejemplo" /></li>
	<li>Presionando sobre alguno de los resultados de la bsqueda, sers redirigido a
la pgina de inicio de la comunidad elegida.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/finding-more-active-communities">Encontrando
comunidades ms recientes</a></li>
	<li><a href="/doc/navigation/finding-more-popular-communities">Encontrando
comunidades ms populares</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>