<h1 class="order-616">Finding more popular people</h1>
<p><em>To find the people who has more friends.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Find on top of page the term &#8220;People&#8221; and click on the arrow below it:<br />
  <img src="/images/doc/menu-more-popular-people.en.png" title="More popular people on top menu" alt="More popular people on top menu" /></p>
<h2 id="description">Description</h2>
<ol>
	<li>The people will be listed ordered by number of friends with most popular first. Below the profile&#8217;s picture, you will see the number of friends the person has <img src="/images/doc/more-popular-people-detail.en.png" title="Profile with number of friends" alt="Profile with number of friends" /></li>
	<li>Fill in the search field with what you want to look for and click on &#8220;Search&#8221; <img src="/images/doc/more-popular-people.en.png" title="More popular people search field" alt="More popular people search field" /></li>
	<li>Then you will see the search results ordered by the number of friends the person has on environment <img src="/images/doc/more-popular-people-with-example.en.png" title="More popular people search results with example" alt="More popular people search results with example" /></li>
	<li>Clicking on one of the search results, you will be redirected to the homepage of choosen person.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching">Searching</a></li>
	<li><a href="/doc/navigation/finding-more-recent-people">Finding more recent people</a></li>
	<li><a href="/doc/navigation/finding-more-active-people">Finding more popular people</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/searching-products-services">Finding products and services</a></li>
	<li><a href="/doc/navigation/advanced-search">Advanced search</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>