<h1 class="order-617">Finding more popular communities</h1>
<p><em>To find the communities who has more members.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Find on top of page the term &#8220;communities&#8221; and click on the arrow below it:<br />
  <img src="/images/doc/menu-more-popular-communities.en.png" title="More popular communities on top menu" alt="More popular communities on top menu" /></p>
<h2 id="description">Description</h2>
<ol>
	<li>The communities will be listed ordered by number of members with most popular first. Below the profile&#8217;s picture, you will see the number of members the community has <img src="/images/doc/more-popular-communities-detail.en.png" title="Profile with number of members" alt="Profile with number of members" /></li>
	<li>Fill in the search field with what you want to look for and click on &#8220;Search&#8221; <img src="/images/doc/more-popular-communities.en.png" title="More popular communities search field" alt="More popular communities search field" /></li>
	<li>Then you will see the search results ordered by the number of members the community has <img src="/images/doc/more-popular-communities-with-example.en.png" title="More popular communities search results with example" alt="More popular communities search results with example" /></li>
	<li>Clicking on one of the search results, you will be redirected to the homepage of choosen community.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching">Searching</a></li>
	<li><a href="/doc/navigation/finding-more-recent-communities">Finding more recent communities</a></li>
	<li><a href="/doc/navigation/finding-more-active-communities">Finding more popular communities</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/searching-products-services">Finding products and services</a></li>
	<li><a href="/doc/navigation/advanced-search">Advanced search</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>