<h1 class="order-616">Encontrando personas ms populares</h1>
<p><em>Para encontrar las personas con ms amgios.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encontrar encima de la pgina el trmino &#8220;Personas&#8221; y haciendo
clic en la flecha debajo de l:<br />
  <img src="/images/doc/menu-more-popular-people.en.png" title="Personas ms populares en el men superior" alt="Personas ms populares en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Las personas sera listadas ordenadas por nmero de amigos con las ms
populares primero. Debajo de la imagen de perfil, vers el nmero de amigos
que la persona tiene <img src="/images/doc/more-popular-people-detail.en.png" title="Perfil con nmero de amigos" alt="Perfil con nmero de amigos" /></li>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221; <img src="/images/doc/more-popular-people.en.png" title="Campo de bsqueda de personas ms populares" alt="Campo de bsqueda de personas ms populares" /></li>
	<li>Luego vers los resultados de bsqueda ordenados por el nmero de amigos que la
persona tiene en el entorno <img src="/images/doc/more-popular-people-with-example.en.png" title="Resultado de bsqueda para personas ms populares con ejemplo" alt="Resultado de bsqueda para personas ms populares con ejemplo" /></li>
	<li>Presionando uno de los resultados de la bsqueda, sers redigirido a la pgina
de inicio de la persona elegida.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/finding-more-recent-people">Encontrando personas ms
recientes</a></li>
	<li><a href="/doc/navigation/finding-more-active-people">Encontrando personas ms
populares</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>