<h1 class="order-612">Ecnontrando personas ms recientes</h1>
<p><em> Encontrar personas que se unieron al sistema recientemente. </em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encontrar encima de la pgina el trmino &#8220;Personas&#8221; y haciendo
clic en la flecha debajo de l:<br />
  <img src="/images/doc/menu-more-recent-people.en.png" title="Personas ms recientes en el men superior" alt="Personas ms recientes en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Las personas se mostrarn ordenadas por fecha de creacin con las ms recientes
en primer lugar.Debajo de la imagen del perfil, se ver la fecha en que la
persona se uni a la red. <img src="/images/doc/more-recent-people-detail.en.png" title="Perfil con fecha de creacin" alt="Perfil con fecha de creacin" /></li>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221; <img src="/images/doc/more-recent-people.en.png" title="Campo de bsqueda de personas ms recientes" alt="Campo de bsqueda de personas ms recientes" /></li>
	<li>Luego vers los resultados de la bsqueda ordenador por fecha de creacin <img src="/images/doc/more-recent-people-with-example.en.png" title="Resultados de bsqueda de personas ms recientes con ejemplo" alt="Resultados de bsqueda de personas ms recientes con ejemplo" /></li>
	<li>Presionando uno de los resultados de la bsqueda, sers redigirido a la pgina
de inicio de la persona elegida.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navegation/finding-more-active-people"> Encontrando ms
personas recientes. </a></li>
	<li><a href="/doc/navegation/finding-more-popular-people">Buscando personas ms
populares</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>