<h1 class="order-617">Encontrar comunidades mais populares</h1>
<p><em>Para encontrar as comunidades que possuem mais membros.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Localize na barra superior o termo &#8220;Comunidades&#8221; e clique na
seta abaixo dele:<br />
  <img src="/images/doc/menu-more-popular-communities.en.png" title="Comunidades mais populares no menu superior" alt="Comunidades mais populares no menu superior" /></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>As comunidades serão listadas ordenadas pelo número de membros com as mais
populares primeiro. Abaixo da imagem do perfil, você verá o número de
membros que a comunidade tem <img src="/images/doc/more-popular-communities-detail.en.png" title="Perfil com número de membros" alt="Perfil com número de membros" /></li>
	<li>Preencha o campo de busca com o termo que deseja procurar e clique no botão
&#8220;Busca&#8221; <img src="/images/doc/more-popular-communities.en.png" title="Campo de busca de comunidades mais populares" alt="Campo de busca de comunidades mais populares" /></li>
	<li>Então você verá o resultado da busca ordenado pelo número de membros que a
comunidade tem <img src="/images/doc/more-popular-communities-with-example.en.png" title="Resultado da busca por comunidades mais populares com exemplo" alt="Resultado da busca por comunidades mais populares com exemplo" /></li>
	<li>Clicando em um dos resultados da busca, você será direcionada para a página
inicial da comunidade escolhida.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Busca</a></li>
	<li><a href="/doc/navigation/finding-more-recent-communitie">Encontrar
comunidades mais recentes</a></li>
	<li><a href="/doc/navigation/finding-more-active-communities">Encontrar
comunidades mais populares</a></li>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrar
empreendimentos</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrar produtos e
serviços</a></li>
	<li><a href="/doc/navigation/advanced-search">Busca avançada</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>