<h1 class="order-616">Encontrar pessoas mais populares</h1>
<p><em>Para encontras as pessoas que tem mais amigos.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Encontre no topo da página o termo &#8220;Pessoas&#8221; e clique na seta
abaixo dele:<br />
  <img src="/images/doc/menu-more-popular-people.en.png" title="Pessoas mais populares no menu superior" alt="Pessoas mais populares no menu superior" /></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>As pessoas serão listadas ordenadas pelo número de amigos com os mais
populares primeiro. Abaixo da imagem do perfil, você verá o número de amigos
que a pessoa tem. <img src="/images/doc/more-popular-people-detail.en.png" title="Perfil com o número de amigos" alt="Perfil com o número de amigos" /></li>
	<li>Preencha o campo de busca com o termo que deseja procurar e clique no botão
&#8220;Busca&#8221; <img src="/images/doc/more-popular-people.en.png" title="Campo de busca de pessoas mais populares" alt="Campo de busca de pessoas mais populares" /></li>
	<li>Então você verá o resultado da busca ordenado pelo número de amigos que a
pessoa tem no ambiente <img src="/images/doc/more-popular-people-with-example.en.png" title="Resultado da busca por pessoas mais populares com exemplo" alt="Resultado da busca por pessoas mais populares com exemplo" /></li>
	<li>Clicando em um dos resultados da busca, você será direcionada para a página
inicial do empreendimento escolhido.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Busca</a></li>
	<li><a href="/doc/navigation/finding-more-recent-people">Encontrar pessoas mais
recentes</a></li>
	<li><a href="/doc/navigation/finding-more-active-people">Encontrar pessoas mais
populares</a></li>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrar
empreendimentos</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrar produtos e
serviços</a></li>
	<li><a href="/doc/navigation/advanced-search">Busca avançada</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>