<h1 class="order-618">Balão de pessoa</h1>
<p><em>Quando um usuário está navegando no ambiente, ele poderá ver detalhes da
pessoa e requisitar amizade rapidamente.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Se habilitado no ambiente, em todos os lugares que a pessoa aparecer você
poderá clicar no canto superior esquerdo para ver o balão da pessoa <img src="/images/doc/person-balloon-closed-en.png" title="Link para o bçao de pessoa" alt="Link para o bçao de pessoa" /></p>
<h2 id="description">Descrição</h2>
<p>O balão de pessoa possui links que permitem acesso direto a algumas páginas
da pessoa <img src="/images/doc/person-balloon-en.png" title="Links do balão de pessoas" alt="Links do balão de pessoas" /></p>
<ol>
	<li>Mural: lista os recados enviados para a pessoa</li>
	<li>Amigos: lista os amigos da pessoa</li>
	<li>Comunidades: lista as comunidades que a pessoa é membro</li>
	<li>Adicionar: Se você não é amigo da pessoa, você pode rapidamente pedir para
ser amigo clicando nesse link</li>
	<li>Enviar um e-mail: se você e amigo da pessoa, você poderá enviar um e-mail
para ela clicando nesse link</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>