<h1 class="order-618">Person balloon</h1>
<p><em>When an user is navigating on the system, he can see details of a person and become a friend quickly.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>If enabled on environment, wherever a person appears you can click on the top-left corner to see the person balloon <img src="/images/doc/person-balloon-closed-en.png" title="Person balloon link" alt="Person balloon link" /></p>
<h2 id="description">Description</h2>
<p>The person balloon has links to allow direct access to some person&#8217;s pages <img src="/images/doc/person-balloon-en.png" title="person balloon links" alt="person balloon links" /></p>
<ol>
	<li>Wall: lists scraps sent to this person</li>
	<li>Friends: lists the person&#8217;s friends</li>
	<li>Communities: lists the person&#8217;s communities</li>
	<li>Add: if you are not friend of the person, you can quickly ask to add her clicking on this link</li>
	<li>Send an e-mail: if you are a friend of the person, you can send an e-mail to the her clicking on this link</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>