<h1 class="order-618">Globo de personas</h1>
<p><em>Cuando un usuario est navegando en el sistema, puede ver detalles de una
persona y convertirse en su amigo rpidamente.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Si est disponible en el sistema, en cualquier lugar que aparezca una persona
puedes hacer clic en la esquina superior izquierda para ver el globo de
personas <img src="/images/doc/person-balloon-closed-en.png" title="Enlace de globo de persona" alt="Enlace de globo de persona" /></p>
<h2 id="description">Descripción</h2>
<p>El globo de persona cuenta con enlaces que permiten el acceso directo a las
pginas de una persona <img src="/images/doc/person-balloon-en.png" title="enlaces de globos de persona" alt="enlaces de globos de persona" /></p>
<ol>
	<li>Muro: muestra los recortes enviados a esta persona</li>
	<li>Amigos: enlista los amigos de la persona</li>
	<li>Comunidades: enlista las comunidades de la persona</li>
	<li>Agregar: si no eres amigo de la persona, puedes rpidamente solicitar aadirla
haciendo clic en este link</li>
	<li>Enva un correo electrnico: si eres amigo de la persona, pueden enviarle un
correo electrnico presionando este enlace</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>