<h1 class="order-640">Encontrando productos y servicios</h1>
<p><em>Para encontrar un producto o servicio en el sistema, puedes usar la
bsqueda especfica por productos y servicios.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encuentra en la parte superior de la pgina el trmino &#8220;Productos&#8221;
y presinalo<br />
  <img src="/images/doc/menu-products.en.png" title="Productos en el men superior" alt="Productos en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221;  <img src="/images/doc/products-search-field.en.png" title="Campo de bsqueda de productos" alt="Campo de bsqueda de productos" /></li>
	<li>Luego vers los resultados de la bsqueda. Para ver ms resultados, haz clic en
las pginas debajo de los resultados de bsqueda.  <img src="/images/doc/products-search-results-with-example.en.png" title="Resultados de bsqueda de productos con ejemplo" alt="Resultados de bsqueda de productos con ejemplo" /></li>
	<li>Presionando en alguno de los resultados de bsqueda, sers redirigido a la
pgina de inicio de la empresa que tiene el producto/servicio.</li>
</ol>
<h3>Ms opciones</h3>
<p>En todo tipo de bsqueda, puedes especificarla presionando el enlace
&#8220;Ms ocpiones&#8221;. Las ocpiones mostradas son explicadas en <a
href="/doc/navigation/advances-search">Bsqueda avanzada</a></p>
<h3>Mostrar en el mapa</h3>
<p>Si se encuentra disponible en el sistema, cuando busques por produtos,
servicios o empresas y el sistema lo permita, vers el botn &#8220;Mostrar en
el mapa&#8221;. Presionando este botn, la bsqueda de resultados ser mostrada
en un mapa, con conos de casa indicando la localizacin de las empresas.</p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>