<h1 class="order-640">Encontrar produtos e serviços</h1>
<p><em>Para encontrar um produto ou serviço no sistema você pode utilizar a
busca específica para produtos e serviços. Isto será explicado neste
artigo.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Encontre no topo da págin o termo &#8220;Produtos&#8221; e clique nele<br />
  <img src="/images/doc/menu-products.en.png" title="Produtos no menu superior" alt="Produtos no menu superior" /></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Preencha o campo de busca com o termo que deseja procurar e clique no botão
&#8220;Busca&#8221;  <img src="/images/doc/products-search-field.en.png" title="Campo de busca de produtos" alt="Campo de busca de produtos" /></li>
	<li>Então você verá o resultado da busca. Para ver mais resultados, clique nas
páginas abaixo do resultado da busca.  <img src="/images/doc/products-search-results-with-example.en.png" title="resultado da busca por produtos com exemplo" alt="resultado da busca por produtos com exemplo" /></li>
	<li>Clicando em um dos resultados da busca, você será direcionada para a página
inicial do empreendimento que possui o produto ou serviço escolhido.</li>
</ol>
<h3>Mais opções</h3>
<p>Em todas as opções de busca, você pode especificar mais a busca clicando no
link &#8220;Mais opções&#8221;. As opções que aparecem na tela são
explicadas no artigo <a href="/doc/navigation/advanced-search">Busca
avançada</a></p>
<h3>Mostrar no mapa</h3>
<p>Quando você está procurando produtos, serviços ou empreendimentos, e o
sistema permite, você verá o botão &#8220;Mostrar no mapa&#8221;. Clicando
nesse botão, o resultado da busca será mostrado num mapa, com ícones de
casinhas indicando os lugares onde os empreendimentos estão.</p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Busca</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrar
empreendimentos</a></li>
	<li><a href="/doc/navigation/advanced-search">Busca avançada</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>