<h1 class="order-600">Encontrando comunidades</h1>
<p><em> Encontrar una comunidad en el sistema, puedes usar la bsqueda especfica
para comunidades.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encuentra en la parte superior de la pgina el trmino
&#8220;Comunidades&#8221; y haz clic en l:<br />
  <img src="/images/doc/menu-communities.en.png" title="Comunidades en el men superior" alt="Comunidades en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221;  <img src="/images/doc/communities-search-field.en.png" title="Campo de bsqueda de comunidades" alt="Campo de bsqueda de comunidades" /></li>
	<li>Luego vers los resultados de la bsqueda. Para ver ms resultados, haz clic en
las pginas debajo de los resultados de bsqueda.  <img src="/images/doc/communities-search-results-with-example.en.png" title="Rsultados de bsqueda de comunidades con ejemplo" alt="Rsultados de bsqueda de comunidades con ejemplo" /></li>
	<li>Presionando sobre alguno de los resultados de la bsqueda, sers redirigido a
la pgina de inicio de la comunidad elegida.</li>
</ol>
<h3>Ms opciones</h3>
<p>En todo tipo de bsqueda, puedes especificarla presionando el enlace
&#8220;Ms ocpiones&#8221;. Las ocpiones mostradas son explicadas en <a
href="/doc/navigation/advances-search">Bsqueda avanzada</a></p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>