<h1 class="order-610">Finding people</h1>
<p><em>To find an user in the system, you can use the search specific for people.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Find on top of page the term &#8220;People&#8221; and click on it:<br />
  <img src="/images/doc/menu-people.en.png" title="People on top menu" alt="People on top menu" /></p>
<h2 id="description">Description</h2>
<ol>
	<li>Fill in the search field with what you want to look for and click on &#8220;Search&#8221;  <img src="/images/doc/people-search-field.en.png" title="People search field" alt="People search field" /></li>
	<li>Then you will see the search results. To see more results, click on the pages below the search results.  <img src="/images/doc/people-search-results-with-example.en.png" title="Communities search results with example" alt="Communities search results with example" /></li>
	<li>Clicking on one of the search results, you will be redirected to the homepage of choosen person.</li>
</ol>
<h3>More options</h3>
<p>In all kind of search you can specify the search clicking on &#8220;More options&#8221; link. The options displayed are explained in <a href="/doc/navigation/advanced-search">Advanced search</a></p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching">Searching</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/searching-products-services">Finding products and services</a></li>
	<li><a href="/doc/navigation/advanced-search">Advanced search</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>