<h1 class="order-600">Encontrar comunidades</h1>
<p><em>Para encontrar uma comunidade no sistema você pode utilizar a busca
específica para comunidades.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Localize na barra superior o termo &#8220;Comunidades&#8221; e clique nele:<br />
  <img src="/images/doc/menu-communities.en.png" title="Comunidades no menu superior" alt="Comunidades no menu superior" /></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Preencha o campo de busca com o termo que deseja procurar e clique no botão
&#8220;Busca&#8221;  <img src="/images/doc/communities-search-field.en.png" title="Campo de busca de comunidades" alt="Campo de busca de comunidades" /></li>
	<li>Então você verá o resultado da busca. Para ver mais resultados, clique nas
páginas abaixo do resultado da busca.  <img src="/images/doc/communities-search-results-with-example.en.png" title="Resultado da busca por comunidades com exemplo" alt="Resultado da busca por comunidades com exemplo" /></li>
	<li>Clicando em um dos resultados da busca, você será direcionada para a página
inicial da comunidade escolhida.</li>
</ol>
<h3>Mais opções</h3>
<p>Em todas as opções de busca, você pode especificar mais a busca clicando no
link &#8220;Mais opções&#8221;. As opções que aparecem na tela são
explicadas no artigo <a href="/doc/navigation/advanced-search">Busca
avançada</a></p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Busca</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrar
empreendimentos</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrar produtos e
serviços</a></li>
	<li><a href="/doc/navigation/advanced-search">Busca avançada</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>