<h1 class="order-640">Finding products and services</h1>
<p><em>To find a product or service in the system, you can use the search specific for products and services.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Find on top of page the term &#8220;Products&#8221; and click on it<br />
  <img src="/images/doc/menu-products.en.png" title="Products on top menu" alt="Products on top menu" /></p>
<h2 id="description">Description</h2>
<ol>
	<li>Fill in the search field with what you want to look for and click on &#8220;Search&#8221;  <img src="/images/doc/products-search-field.en.png" title="Products search field" alt="Products search field" /></li>
	<li>Then you will see the search results. To see more results, click on the pages below the search results.  <img src="/images/doc/products-search-results-with-example.en.png" title="Products search results with example" alt="Products search results with example" /></li>
	<li>Clicking on one of the search results, you will be redirected to the homepage of the enterprise that has the product/service.</li>
</ol>
<h3>More options</h3>
<p>In all kind of search you can specify the search clicking on &#8220;More options&#8221; link. The options displayed are explained in <a href="/doc/navigation/advanced-search">Advanced search</a></p>
<h3>Display on map</h3>
<p>If available on the system, when you are searching for products, services or enterprises and the system allows, you will see the &#8220;Display on map&#8221; button. Clicking on this button, the search results will be displayed on a map, with house icons indicating the location of enterprises.</p>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching">Searching</a></li>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/advanced-search">Advanced search</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>