<h1 class="order-650">Encontrar empreendimentos</h1>
<p><em>Para encontrar um empreendimento no sistema, você pode usar a busca
específica de empreendimentos.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Localize na barra superior o termo &#8220;Empreendimentos&#8221; e clique
nele:<br />
  <img src="/images/doc/menu-enterprises.en.png" title="Empreendimentos no menu superior" alt="Empreendimentos no menu superior" /></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Preencha o campo de busca com o termo que deseja procurar e clique no botão
&#8220;Busca&#8221;  <img src="/images/doc/enterprises-search-field.en.png" title="Campo de busca dos empreendimentos" alt="Campo de busca dos empreendimentos" /></li>
	<li>Então você verá o resultado da busca. Para ver mais resultados, clique nas
páginas abaixo do resultado da busca.  <img src="/images/doc/enterprises-search-results-with-example.en.png" title="Resultado da busca por empreendimento com exemplo" alt="Resultado da busca por empreendimento com exemplo" /></li>
	<li>Clicando em um dos resultados da busca, você será direcionada para a página
inicial do empreendimento escolhido.</li>
</ol>
<h3>Mais opções</h3>
<p>Em todas as opções de busca, você pode especificar mais a busca clicando no
link &#8220;Mais opções&#8221;. As opções que aparecem na tela são
explicadas no artigo <a href="/doc/navigation/advanced-search">Busca
avançada</a></p>
<h3>Mostrar no mapa</h3>
<p>Quando você está procurando produtos, serviços ou empreendimentos, e o
sistema permite, você verá o botão &#8220;Mostrar no mapa&#8221;. Clicando
nesse botão, o resultado da busca será mostrado num mapa, com ícones de
casinhas indicando os lugares onde os empreendimentos estão.</p>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Busca</a></li>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrar produtos e
serviços</a></li>
	<li><a href="/doc/navigation/advanced-search">Busca avançada</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>