<h1 class="order-610">Encontrando personas</h1>
<p><em>Para encontrar un usuario en el sistema, puedes usar el buscador
especfico para personas.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encontrar en la parte superior de la pgina el termino &#8220;Personas&#8221;
y haz clic en l:<br />
  <img src="/images/doc/menu-people.en.png" title="Personas en el men superior" alt="Personas en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Rellena el campo de bsqueda con aquello que quieres buscar y haz clic en
&#8220;Buscar&#8221;  <img src="/images/doc/people-search-field.en.png" title="Campo de bsqueda de personas" alt="Campo de bsqueda de personas" /></li>
	<li>Luego vers los resultados de la bsqueda. Para ver ms resultados, haz clic en
las pginas debajo de los resultados de bsqueda.  <img src="/images/doc/people-search-results-with-example.en.png" title="Rsultados de bsqueda de comunidades con ejemplo" alt="Rsultados de bsqueda de comunidades con ejemplo" /></li>
	<li>Presionando uno de los resultados de la bsqueda, sers redigirido a la pgina
de inicio de la persona elegida.</li>
</ol>
<h3>Ms opciones</h3>
<p>En todo tipo de bsqueda, puedes especificarla presionando el enlace
&#8220;Ms ocpiones&#8221;. Las ocpiones mostradas son explicadas en <a
href="/doc/navigation/advances-search">Bsqueda avanzada</a></p>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching">Buscando</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>