<h1 class="order-630">Searching on the system</h1>
<p><em>To find articles, communities, people, enterprises or products and services, an user in the system, can do a search.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<p>Find on top bar the term &#8220;Search&#8221; and click on it:<br />
  <img src="/images/doc/menu-search.en.png" title="Search on top menu" alt="Search on top menu" /></p>
<h2 id="description">Description</h2>
<ol>
	<li>Fill in the search field with what you want to look for and press &#8220;Enter&#8221; on keyboard</li>
	<li>Then you will see a screen with the search result. Each box brings one kind of information with a limited number of results. To see more results of a box, click on &#8220;See all&#8221; link below the box.  <img src="/images/doc/search-results-with-example.en.png" title="Search results with example" alt="Search results with example" /></li>
	<li>Clicking on &#8220;See all&#8221; link of community&#8217;s box, then you will see all the articles found on search.  <img src="/images/doc/search-view-all-results-with-example.en.png" title="View all results on search with example" alt="View all results on search with example" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Finding people</a></li>
	<li><a href="/doc/navigation/searching-communities">Finding communities</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Finding enterprises</a></li>
	<li><a href="/doc/navigation/searching-products-services">Finding products and services</a></li>
	<li><a href="/doc/navigation/advanced-search">Advanced search</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>