<h1 class="order-630">Buscar na rede</h1>
<p><em>Para encontrar artigos, comunidades, pessoas, empreendimentos ou
produtos e serviços, o usuário que está navegando no sistema pode fazer uma
busca.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<p>Encontre na barra superior o termo &#8220;Busca&#8221; e clique nele:<br />
  <img src="/images/doc/menu-search.en.png" title="Busca no menu superior" alt="Busca no menu superior" /></p>
<h2 id="description">Descrição</h2>
<ol>
	<li>Preencha o campo de busca com o termo que deseja procurar e pressione
&#8220;Enter&#8221; no teclado</li>
	<li>Então você verá o resultado da busca na tela. Cada caixa reúne um tipo de
informação com um número limitado de resultados. Para ver mais resultados de
uma caixa, clique no link &#8220;Ver todos&#8221; abaixo da caixa.  <img src="/images/doc/search-results-with-example.en.png" title="Resultado da busca com exemplo" alt="Resultado da busca com exemplo" /></li>
	<li>Clicando no link &#8220;Ver todos&#8221; da caixa, você verá todos os
artigos encontrados na busca.  <img src="/images/doc/search-view-all-results-with-example.en.png" title="Ver todos os resultados da busca com exemplo" alt="Ver todos os resultados da busca com exemplo" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Encontrar pessoas</a></li>
	<li><a href="/doc/navigation/searching-communities">Encontrar comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrar
empreendimentos</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrar produtos e
serviços</a></li>
	<li><a href="/doc/navigation/advanced-search">Busca avançada</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>