<h1 class="order-630">Buscando en el sistema</h1>
<p><em>Para encontrar artculos, comunidades, personas, empresas o productos y
servicios, un usuario en el sistema, puedes realizar una bsqueda.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<p>Encuentra en la barra superior el trmino &#8220;Buscar&#8221; y haz clic en
l:<br />
  <img src="/images/doc/menu-search.en.png" title="Bsqueda en el men superior" alt="Bsqueda en el men superior" /></p>
<h2 id="description">Descripción</h2>
<ol>
	<li>Rellena el campo de bsqueda con aquello que deseas buscar y presiona
&#8220;Enter&#8221; en el teclado</li>
	<li>Luego vers una pantalla con el resultado de la bsqueda. Cada bloque muestra
un tipo de informacin con un nmero limitado de resultados. Para ver ms
resultados de una caja, haz clic en el enlace &#8220;Ver todos&#8221; debajo
del bloque.  <img src="/images/doc/search-results-with-example.en.png" title="Buscar resultados con un ejemplo" alt="Buscar resultados con un ejemplo" /></li>
	<li>Presionando el enlance &#8220;Ver todos&#8221; de un bloque de comunidad,
vers despus todos los artculos encontrados en la bsqueda.  <img src="/images/doc/search-view-all-results-with-example.en.png" title="Ver todos los resultados de la bsqueda con un ejemplo" alt="Ver todos los resultados de la bsqueda con un ejemplo" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/navigation/searching-people">Encontrando personas</a></li>
	<li><a href="/doc/navigation/searching-communities">Buscando Comunidades</a></li>
	<li><a href="/doc/navigation/searching-enterprises">Encontrando empresas</a></li>
	<li><a href="/doc/navigation/searching-products-services">Encontrando productos
y servicios</a></li>
	<li><a href="/doc/navigation/advanced-search">Bsqueda avanzada</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>