<h1 class="order-20">Exportar a lista de usuários</h1>
<p><em>Se você é um administrador de ambiente, você pode exportar a lista de
todos os usuários nos formatos <span class="caps">XML</span> ou <span
class="caps">CSV</span>.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu-admin.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Administração:  <img src="/images/doc/menu-admin.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar usuários&#8221;  <img src="/images/doc/admin-panel-manage-users.en.png" title="Gerenciar integrantes no painel de administrador" alt="Gerenciar integrantes no painel de administrador" /></li>
</ol>
<h2 id="description">Descrição</h2>
<p>Em &#8220;Gerenciar usuários&#8221;, escolha em qual formato você quer
exportar a lista. Há duas opções: &#8220;CSV&#8221; e &#8220;XML&#8221;.</p>
<p>Clique no link do formato que você escolheu e baixe a lista:  <img src="/images/doc/admin-panel-export-users.en.png" title="Link para download da lista de usuários em gerenciar usuários" alt="Link para download da lista de usuários em gerenciar usuários" /></p>
<p><a href="#online-doc-text">Voltar ao topo</a></p>