<h1 class="order-20">Export the list of users</h1>
<p><em>If you are an environment administrator, you can export the list of all users in <span class="caps">XML</span> or <span class="caps">CSV</span> formats.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu-admin.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Administration:  <img src="/images/doc/menu-admin.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage users&#8221; link:  <img src="/images/doc/admin-panel-manage-users.en.png" title="Manage users in admin panel" alt="Manage users in admin panel" /></li>
</ol>
<h2 id="description">Description</h2>
<p>In &#8220;Manage users&#8221;, choose which format you want to export the list. There are 2 options, &#8220;<span class="caps">CSV</span>&#8221; and &#8220;<span class="caps">XML</span>&#8221;.</p>
<p>Click on the link of the format you choosed and download it:  <img src="/images/doc/admin-panel-export-users.en.png" title="Download list of users link on manage users" alt="Download list of users link on manage users" /></p>
<p><a href="#online-doc-text">Back to top</a></p>