<h1 class="order-20">Exportar la lista de usuarios</h1>
<p><em>Si estas en un entorno de administrador, puedes exportar la lista de
todos los usuarios en formatos <span class="cap">XML</span> o <span
class="caps">CSV</span>.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu-admin.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men usuario, clic en Administracin:  <img src="/images/doc/menu-admin.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Luego, clic en el enlace &#8220;Administrar usuarios&#8221;:  <img src="/images/doc/admin-panel-manage-users.en.png" title="Administrar usuarios en el panel de administrador" alt="Administrar usuarios en el panel de administrador" /></li>
</ol>
<h2 id="description">Descripción</h2>
<p>En &#8220;Administrar usuarios&#8221;, elige en cul formato quieres exportar
la lista. Hay 2 opciones, &#8220;<span class="caps">CSV</span>&#8221; y
&#8220;<span class="caps">XML</span>&#8221;.</p>
<p>Clic en el enlace del formato que elegiste y descrgalo:  <img src="/images/doc/admin-panel-export-users.en.png" title="Descarga la lista del enlace de usuarios en administrar usuarios" alt="Descarga la lista del enlace de usuarios en administrar usuarios" /></p>
<p><a href="#online-doc-text">Volver arriba</a></p>