<h1 class="order-10">Enviando un correo electrnico a los miembros</h1>
<p><em>Si ests en un entorno de administrador, puedes enviar correos
electrnicos a todos los miembros de tu entorno.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu-admin.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men usuario, clic en Administracin:  <img src="/images/doc/menu-admin.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Luego, clic en el enlace &#8220;Administrar usuarios&#8221;:  <img src="/images/doc/admin-panel-manage-users.en.png" title="Administrar usuarios en el panel de administrador" alt="Administrar usuarios en el panel de administrador" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En &#8220;Administrar usuarios&#8221;, clic en el enlace &#8220;Enviar
correo electrnico a los usuarios&#8221;:  <img src="/images/doc/admin-panel-send-email.en.png" title="Enviar enlace de correo electrnico para adminisrar usuarios" alt="Enviar enlace de correo electrnico para adminisrar usuarios" /></li>
	<li>Rellena el campo &#8220;Asunto&#8221; con el asunto del correo electrnico y
el campo &#8220;Cuerpo&#8221; con el contenido de el correo electrnico que
deseas enviar. Despus, clic en &#8220;Enviar&#8221; <img src="/images/doc/admin-send-email.en.png" title="Enviando correo electrnico a los miembros del entorno" alt="Enviando correo electrnico a los miembros del entorno" /></li>
</ol>
<p><a href="#online-doc-text">Volver arriba</a></p>