<h1 class="order-10">Sending e-mail to members</h1>
<p><em>If you are an environment administrator, you can send e-mail to all members of your environment.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu-admin.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Administration:  <img src="/images/doc/menu-admin.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage users&#8221; link:  <img src="/images/doc/admin-panel-manage-users.en.png" title="Manage users in admin panel" alt="Manage users in admin panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In &#8220;Manage users&#8221;, click on &#8220;Send e-mail to users&#8221; link:  <img src="/images/doc/admin-panel-send-email.en.png" title="Send e-mail link on manage users" alt="Send e-mail link on manage users" /></li>
	<li>Fill in the &#8220;Subject&#8221; field with the subject of the e-mail and the &#8220;Body&#8221; field with the content of the e-mail you want to send. Then, click on &#8220;Send&#8221; <img src="/images/doc/admin-send-email.en.png" title="Sending e-mail to environment members" alt="Sending e-mail to environment members" /></li>
</ol>
<p><a href="#online-doc-text">Back to top</a></p>