<h1 class="order-10">Enviando e-mail para os membros</h1>
<p><em>Se você é administrador de um ambiente, você pode enviar e-mail para
todos os membros do seu ambiente</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu-admin.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Administração:  <img src="/images/doc/menu-admin.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar usuários&#8221;  <img src="/images/doc/admin-panel-manage-users.en.png" title="Gerenciar integrantes no painel de administrador" alt="Gerenciar integrantes no painel de administrador" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Em &#8220;Gerenciar usuários&#8221;, clique no link &#8220;Enviar e-mail
para os usuários&#8221;:  <img src="/images/doc/admin-panel-send-email.en.png" title="Link enviar e-mail em gerenciar usuários" alt="Link enviar e-mail em gerenciar usuários" /></li>
	<li>Preencha o campo &#8220;Assunto&#8221; com o assunto do e-mail e o
campo&#8220;Corpo&#8221; com o conteúdo do e-mail que você quer
enviar. Depois, clique em &#8220;Enviar&#8221; <img src="/images/doc/admin-send-email.en.png" title="Enviando e-mail para os membros do ambiente" alt="Enviando e-mail para os membros do ambiente" /></li>
</ol>
<p><a href="#online-doc-text">Voltar ao topo</a></p>