<h1 class="order-200">Activando tu empresa</h1>
<p><em>Si tienes una empresa que est registrada en el sistema, deberas tener el
cdigo de activacin de la empresa.</em></p>
<p><em> Este artculo muestra cmo puedes activar tu empresa en el
sistema. Despus, puedes actualizar su informacin, aadir miembros, productos
y mucho ms.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas Relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Debajo de las acciones del panel de control, vers una caja. Llena el campo
con el cdigo de activacin de la empresa y haz clic en &#820;Activar&#8221;.<br />
  <img src="/images/doc/enterprise-activation-box.en.png" title="Panel de control y bandeja de activacin de la empresa" alt="Panel de control y bandeja de activacin de la empresa" /></li>
	<li>Vers una pantalla con el primer paso de la activacin, la pregunta acerca de
la empresa. Debes llenar el campo con la respuesta correcta, o tu empresa
ser bloqueada. Si ests seguro que la respuesta es correcta, clic en el botn
&#8220;Continuar&#8221;.  <img src="/images/doc/activation-question.en.png" title="Pregunta de activacin" alt="Pregunta de activacin" /></li>
	<li>Si la respuesta es errnea, la empresa ser bloqueada y necesitars contactar
al administrador del sistema para desbloquearla. Si la respuesta es
correcta, irs al segundo paso. En ste, debes leer los trminos de uso y
aceptarlos y, si los aceptas, elige la opcin &#8220;Le los trminos de uso y
los acepto.&#8221;. Despus, haz clic en el botn &#8220;Continuar&#8221;.<br />
  <img src="/images/doc/enterprise-activation-terms.en.png" title="Trminos de uso de la empresa" alt="Trminos de uso de la empresa" /></li>
	<li>Luego, recibirs una confirmacin que tu empresa fue activada. En esta
pantalla, puedes ir a panel de control de tu empresa y actualizarla o ir a
tu panel de control.  <img src="/images/doc/activation-conlusion.en.png" title="Conclusin de activacin de tu empresa" alt="Conclusin de activacin de tu empresa" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editando configuracin de
la empresa</a></li>
	<li><a href="/doc/user/registering-new-user"> Registrando un nuevo usuario</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>