<h1 class="order-200">Ativar seu empreendimento</h1>
<p><em>Se você tem um empreendimento cadastrado no sistema, você deve ter o
código de ativação do empreendimento.</em></p>
<p><em>Este artigo mostra como você pode ativar seu empreendimento no
sistema. Depois disso, você poderá atualizar as informações, adicionar
integrantes, produtos e muito mais.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos Relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>Abaixo das ações do painel de controle, você verá uma caixa. Preencha o
campo com o código de ativação do empreendimento e clique em
&#8220;Activar&#8221;.<br />
  <img src="/images/doc/enterprise-activation-box.en.png" title="Painel de controle e caixa de ativação de empreendimento" alt="Painel de controle e caixa de ativação de empreendimento" /></li>
	<li>Você verá uma tela com o primeiro passo da ativação, a pergunta sobre o
empreendimento. Você deve preencher o campo com a resposta correta, ou seu
empreendimento será bloqueado. Se você tiver certeza que sua resposta está
correta, clique no botão &#8220;Continue&#8221;  <img src="/images/doc/activation-question.en.png" title="Pergunta de ativação" alt="Pergunta de ativação" /></li>
	<li>Se a resposta estiver errada, o empreendimento será bloqueado e você
precisará entrar em contato com o administrador do sistema para
desbloqueá-lo. Se a resposta for correta, você passará para o passo 2. Neste
passo, você deve ler os termos de uso e, se concordar com ele, escolher a
opção &#8220;Eu li os termos de uso e aceito-os&#8221;. Depois disto, clique
no botão &#8220;Continue&#8221; button.<br />
  <img src="/images/doc/enterprise-activation-terms.en.png" title="Termos de uso de Empreendimento" alt="Termos de uso de Empreendimento" /></li>
	<li>Depois, você receberá uma confirmação que seu empreendimento foi
ativado. Nesta tela, você pode ir para o painel de controle do seu
empreendimento e atualizá-lo ou ir para o seu painel de controle.  <img src="/images/doc/activation-conlusion.en.png" title="Conclusão da ativação de empreendimento" alt="Conclusão da ativação de empreendimento" /></li>
</ol>
<h2 id="relatedtopics">Tópicos Relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editar
informações/configurações do empreendimento</a></li>
	<li><a href="/doc/user/registering-new-user">Cadastrar um novo usuário</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>