<h1 class="order-200">Activating your enterprise</h1>
<p><em>If you have an enterprise that is registered in the system, you might have the activation code of the enterprise.</em></p>
<p><em>This article shows how you can activate your enterprise in the system. After that, you can update information, add members, products and much more.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related Topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>Below the control panel actions, you will see a box. Fill in the field with the enterprise activation code and click on &#8220;Activate&#8221;.<br />
  <img src="/images/doc/enterprise-activation-box.en.png" title="Control panel and enterprise activation box" alt="Control panel and enterprise activation box" /></li>
	<li>You will see a screen with the first activations step, the question about the enterprise. You must fill in the field with the correct answer, or your enterprise will be blocked. If you are sure that your answer is right, click on &#8220;Continue&#8221; button.  <img src="/images/doc/activation-question.en.png" title="Activation question" alt="Activation question" /></li>
	<li>If the answer is wrong, the enterprise will be blocked and you need to contact the system admin to unblock it. If the answer is right, you will go to step 2. In this step, you should read the terms of use and, if you agree with it, choose the option &#8220;I read the terms of use and accepted them.&#8221;. After that, click on &#8220;Continue&#8221; button.<br />
  <img src="/images/doc/enterprise-activation-terms.en.png" title="Enterprise terms of use" alt="Enterprise terms of use" /></li>
	<li>Then, you will receive a confirmation that your enterprise was activated. In this screen, you can go to enterprise&#8217;s control panel and update it or go to your control panel.  <img src="/images/doc/activation-conlusion.en.png" title="Conclusion of enterprise activation" alt="Conclusion of enterprise activation" /></li>
</ol>
<h2 id="relatedtopics">Related Topics</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editing enterprise settings</a></li>
	<li><a href="/doc/user/registering-new-user">Registering a new user</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>