<h1 class="order-212">Aadiendo productos a una empresa</h1>
<p><em> Si eres un adiministrador de empresa, puedes aadir productos a la
misma.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Ir a la pgina de la empresa. Usa el <a
href="/doc/navegation/searching-enterprises">buscar</a> y clic en la empresa
que quieres aadir un producto.</li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En panel de control de la empresa, clic en &#8220;Administrar productos y
servicios&#8221; <img src="/images/doc/control-panel-manage-products.en.png" title="Panel de control con administrador de productos" alt="Panel de control con administrador de productos" /></li>
	<li>Vers la lista de productos ya registrados. para aadir un nuevo
producto/servicio clic en el botn &#8220; Nuevo producto o servicio&#8221; <img src="/images/doc/enterprise-product-list-new-product-button.en.png" title="Lista de productos de la empresa en Administrar productos" alt="Lista de productos de la empresa en Administrar productos" /></li>
	<li>Seleciona la categora de tu producto. El botn &#8220;Guardar y
continuar&#8221; se activar si se te permite aadir un producto en la
categora elegida. De lo contrario, debes seguir navegando a travs de las
subcategorias hasta que elijas una que permita el regisro de
productos.Cuando termines de elegir la categora, pulsa el botn
&#8220;Guardar y continuar:<br />
<img src="/images/doc/enterprise-new-product-no-category.en.png" title="Primer categora del producto" alt="Primer categora del producto" /><br />
<img src="/images/doc/enterprise-new-product-second-category.en.png" title="Segunda categora del producto" alt="Segunda categora del producto" /><br />
<img src="/images/doc/enterprise-new-product-last-category.en.png" title="tima categora del producto" alt="tima categora del producto" /></li>
	<li>A continuacin, vers el producto que acabas de crear. Por defecto, el nombre
del producto es el mismo que la categora del producto. En esta pgina puedes
cambiar la categora del producto, nombre, unidad, imagen, informacin bsica y
aadir entradas haciendo clic en el enlace indicado por nmeros. <img src="/images/doc/enterprise-product.en.png" title="Producto creado" alt="Producto creado" />
	<ol>
		<li>&#8220;Editar nombre y unidad&#8221;: Rellena el formulario con el nombre
del producto y elige la unidad de la misma (unidad, litro, kilo) y pulsa el
botn &#8220Guardar&#8221; <img src="/images/doc/enterprise-product-edit-name-form.en.png" title="Editar nombre del formulario" alt="Editar nombre del formulario" /></li>
		<li>&#8220;Cambiar imagen&#8221;: Elige una imagen y presiona el botn
&#8220Guardar&#8221; <img src="/images/doc/enterprise-product-change-image-form.en.png" title="Cambiar formulario de imagen" alt="Cambiar formulario de imagen" /></li>
		<li>&#8220;Aadir precio y otra informacin bsica&#8221;: Llena el formulario con
la informacin sobre tu producto y presiona el botn &#8220;Guardar&#8221; <img src="/images/doc/enterprise-product-edit-basic-info-form.en.png" title="Editar formulario de informacin bsica" alt="Editar formulario de informacin bsica" /></li>
		<li>&#8220; Aade alguna descripcin sobre tu producto&#8221;: Escribe alguna
informacin sobre tu producto y presiona el botn &#8220;Guardar&#8221; <img src="/images/doc/enterprise-product-edit-description-form.en.png" title="Editar formulario de descripcin" alt="Editar formulario de descripcin" /></li>
		<li>&#8220;Entrada y material llano&#8221;: Clic en la etiqueta y a continuacin
presiona el botn aadir nueva entrada <img src="/images/doc/enterprise-product-add-input-button.en.png" title="Pestaa de entradas" alt="Pestaa de entradas" />
		<ol>
			<li>Llena en el formulario con la categora de la entrada que ests aadiendo y
presiona el botn &#8220;Guardar y continuar&#8221; <img src="/images/doc/enterprise-product-add-input-form.en.png" title="Pestaa de entradas" alt="Pestaa de entradas" /></li>
		</ol></li>
	</ol></li>
	<li>Ahora el producto est listo para ser mostrado <img src="/images/doc/enterprise-product-complete.en.png" title="Producto final creado" alt="Producto final creado" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editando configuracin de
la empresa</a></li>
	<li><a href="/doc/enterprise/activating-enterprise"> Activando tu empresa</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>