<h1 class="order-212">Adding products to an enterprise</h1>
<p><em>If you are an enterprise administrator, you can add products to the enterprise.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Go to the enterprise&#8217;s page. Use the <a href="/doc/navigation/searching-enterprises">search</a> and click on the enterprise you want to add a product.</li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In enterprise&#8217;s control panel, click on &#8220;Manage products and services&#8221; <img src="/images/doc/control-panel-manage-products.en.png" title="Control panel with manage products" alt="Control panel with manage products" /></li>
	<li>You will see the list of products already registered. To add a new product/service click on &#8220;New product or service&#8221; button <img src="/images/doc/enterprise-product-list-new-product-button.en.png" title="Product list of enterprise on manage products" alt="Product list of enterprise on manage products" /></li>
	<li>Choose the category of your product. The button &#8220;Save and continue&#8221; will become active if you are allowed to add a product on the choosen category. Otherwise, you should keep browsing through the category&#8217;s children until you choose a category that allows registration of products. When you finish choosing the category, press the &#8220;Save and continue button&#8221;:<br />
<img src="/images/doc/enterprise-new-product-no-category.en.png" title="First category of product" alt="First category of product" /><br />
<img src="/images/doc/enterprise-new-product-second-category.en.png" title="Second category of product" alt="Second category of product" /><br />
<img src="/images/doc/enterprise-new-product-last-category.en.png" title="Last category of product" alt="Last category of product" /></li>
	<li>Then you will see the product you have just created. By default, the product&#8217;s name is the same as the product&#8217;s category. In this page you can change the product&#8217;s category, name, unit, image, basic information and add inputs clicking on the link indicated by numbers <img src="/images/doc/enterprise-product.en.png" title="Product created" alt="Product created" />
	<ol>
		<li>&#8220;Edit name and unit&#8221;: Fill in the form with the name of your product and choose the unit of it (unit, litre, kilo) and press the &#8220;Save&#8221; button <img src="/images/doc/enterprise-product-edit-name-form.en.png" title="Edit name form" alt="Edit name form" /></li>
		<li>&#8220;Change image&#8221;: Choose an image and press the &#8220;Save&#8221; button <img src="/images/doc/enterprise-product-change-image-form.en.png" title="Change image form" alt="Change image form" /></li>
		<li>&#8220;Add price and other basic information&#8221;: Fill in the form with the information about your product and press the &#8220;Save&#8221; button <img src="/images/doc/enterprise-product-edit-basic-info-form.en.png" title="Edit basic info form" alt="Edit basic info form" /></li>
		<li>&#8220;Add some description about your product&#8221;: Write some information about your product and press the &#8220;Save&#8221; button <img src="/images/doc/enterprise-product-edit-description-form.en.png" title="Edit description form" alt="Edit description form" /></li>
		<li>&#8220;Input and raw material&#8221;: Click on the tab and then press the button to add a new input <img src="/images/doc/enterprise-product-add-input-button.en.png" title="Inputs tab" alt="Inputs tab" />
		<ol>
			<li>Fill in the form with the category of the input you are adding and press the &#8220;Save and continue&#8221; button <img src="/images/doc/enterprise-product-add-input-form.en.png" title="Inputs tab" alt="Inputs tab" /></li>
		</ol></li>
	</ol></li>
	<li>Now the product is ready to be displayed <img src="/images/doc/enterprise-product-complete.en.png" title="Product created final" alt="Product created final" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editing enterprise settings</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Activating your enterprise</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>