<h1 class="order-212">Adicionando produtos em um empreendimento</h1>
<p><em>Se você é administrador de um empreendimento, você pode adicionar
produtos no empreendimentoterá</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Vá para a página do empreendimento. Utilize a <a
href="/doc/navigation/searching-enterprises">busca</a> e clique no
empreendimento que deseja adicionar um produto.</li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No painel de controle do empreendimento, clique em &#8220;Gerenciar produtos
e serviçoes&#8221; <img src="/images/doc/control-panel-manage-products.en.png" title="Painel de controle com gerenciar produtos" alt="Painel de controle com gerenciar produtos" /></li>
	<li>Você verá a lista de produtos já cadastrados. Para adicionar um novo
produto/serviço clique no botão &#8220;Novo produto ou serviço&#8221; <img src="/images/doc/enterprise-product-list-new-product-button.en.png" title="Lista de produtos de um empreendimento em gerenciar produtos" alt="Lista de produtos de um empreendimento em gerenciar produtos" /></li>
	<li>Escolha a categoria do seu produto. O botão &#8220;Salvar e continuar&#8221;
ficará ativo se for permitido o cadastro de produto na categoria
escolhida. Caso esteja inativo, você deverá continuar navegando pelos filhos
das categorias até encontrar uma categoria que permita o cadastro de
produtos. Quando você terminar de escolher a categoria, pressione o botão
&#8220;Salvar e continuar&#8221;:<br />
<img src="/images/doc/enterprise-new-product-no-category.en.png" title="Primeira categoria de produto" alt="Primeira categoria de produto" /><br />
<img src="/images/doc/enterprise-new-product-second-category.en.png" title="Segunda categoria de produto" alt="Segunda categoria de produto" /><br />
<img src="/images/doc/enterprise-new-product-last-category.en.png" title="Última categoris de produto" alt="Última categoris de produto" /></li>
	<li>Então você verá o produto que você acabou de criar. Por padrão o nome do
produto é o mesmo da categoria. Nessa página você pode alterar a categoria,
nome, unidade, imagem, informações básicas e adicionar insumos para o seu
produto clicando nos links indicados pelos números <img src="/images/doc/enterprise-product.en.png" title="Produto criado" alt="Produto criado" />
	<ol>
		<li>&#8220;Editar nome e unidade&#8221;: Preencha o formulário com o nome do seu
produto e escolha a unidade dele (unidade, litro, quilo) e clique no botão
&#8220;Salvar&#8221; <img src="/images/doc/enterprise-product-edit-name-form.en.png" title="Formulário d eeditar nome" alt="Formulário d eeditar nome" /></li>
		<li>&#8220;Alterar imagem&#8221;: Escolha uma imagem e clique no botão
&#8220;Salvar&#8221; <img src="/images/doc/enterprise-product-change-image-form.en.png" title="Formulário de alterar imagem" alt="Formulário de alterar imagem" /></li>
		<li>&#8220;Adicionar preço e outras informações básicas&#8221;: Preencha o
formulário com as informações sobre seu produto e clique no botão
&#8220;Salvar&#8221; <img src="/images/doc/enterprise-product-edit-basic-info-form.en.png" title="Formulário de edição de informação básica" alt="Formulário de edição de informação básica" /></li>
		<li>&#8220;Adicione alguma descrição sobre seu produto&#8221;: Escreva alguma
informação sobre seu produto e clique no botão &#8220;Salvar&#8221; <img src="/images/doc/enterprise-product-edit-description-form.en.png" title="Formulário de edição da descrição" alt="Formulário de edição da descrição" /></li>
		<li>&#8220;Insumos e matéria-prima&#8221;: Clique na aba e depois clique no
botão para adicionar um novo insumo <img src="/images/doc/enterprise-product-add-input-button.en.png" title="Aba de insumos" alt="Aba de insumos" />
		<ol>
			<li>Preencha o formulário com a categoria do insumo que você está adicionando e
clique no botão &#8220;Salvar e continuar&#8221; <img src="/images/doc/enterprise-product-add-input-form.en.png" title="Aba de insumos" alt="Aba de insumos" /></li>
		</ol></li>
	</ol></li>
	<li>Agora o produto está pronto para ser mostrado <img src="/images/doc/enterprise-product-complete.en.png" title="Produto criado completo" alt="Produto criado completo" /></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editar
informações/configurações do empreendimento</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Ativar seu
empreendimento</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>