<h1 class="order-260">Disabling an enterprise</h1>
<p><em>If you are an administrator of any enterprise and you don&#8217;t want that it appears in the system anymore, you can disable it by following this steps.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are administrator of enterprise &#8220;My enterprise&#8221;, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In enterprise&#8217;s control panel, click on &#8220;Disable Enterprise&#8221;<br />
  <img src="/images/doc/control-panel-disable-enterprise.en.png" title="Control panel with disable enterprise" alt="Control panel with disable enterprise" /></li>
	<li>You will see the confirmation screen. If you are sure that you want to disable the enterprise, click on &#8220;Yes, I want to disable&#8221;.<br />
  <img src="/images/doc/disable-enterprise-confirmation.en.png" title="Enterprise disabling confirmation" alt="Enterprise disabling confirmation" /></li>
</ol>
<h2 id="relatedtopics">Related Topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Activating enterprise</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>