<h1 class="order-260">Desabilitar um empreendimento</h1>
<p><em>Se você é administrador de um empreendimento e você nãoquer que ele
apareça mais no sistema, você pode desabilitá-lo seguindo esses passos.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique no botão &#8220;Gerenciar meus grupos&#8221;  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
	<li>Aparecerá a lista de grupos (comunidades/empreendimentos) que você é
membro. Os grupos que você pode gerenciar são listados com um link
&#8220;Gerenciar&#8221;. Supondo que você é administrador do empreendimento
&#8220;Meu empreendimento&#8221;, clique em &#8220;Gerenciar&#8221;.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Lista de grupos com permissão de gerenciar empreendimento" alt="Lista de grupos com permissão de gerenciar empreendimento" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No painel de controle do empreendimento, clique em &#8220;Gerenciar
Integrantes&#8221;<br />
  <img src="/images/doc/control-panel-disable-enterprise.en.png" title="Painel de controle com desabilitar empreendimento" alt="Painel de controle com desabilitar empreendimento" /></li>
	<li>Você verá a tela de confirmação. Se você tiver certeza que deseja
desabilitar o empreendimento, clique em &#8220;Sim, eu quero
desabilitar&#8221;.<br />
  <img src="/images/doc/disable-enterprise-confirmation.en.png" title="Confirmação da desabilitação do empreendimento" alt="Confirmação da desabilitação do empreendimento" /></li>
</ol>
<h2 id="relatedtopics">Tópicos Relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Ativar empreendimento</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>