<h1 class="order-260">Deshabilitando una empresa</h1>
<p><em>Si eres administrador de una empresa y no quieres que ya no aparezca en
el sistema, puedes deshabilitarla siguiendo estos pasos.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, haga clic en el botn &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de las cuales eres
miembro. Los grupos que puedes administrar se enlistan con un enlace
&#8220;Administrar&#8221;. Suponiendo que eres el administrador de la emprea
&#8220;Mi empresa&#8221;, clic en el enlace &#8220; Administrar&#8221;  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En panel de control de la empresa, clic en &#8220;Deshabilitar
empresa%#8221;<br />
  <img src="/images/doc/control-panel-disable-enterprise.en.png" title="Panel de control con deshabilitar empresa" alt="Panel de control con deshabilitar empresa" /></li>
	<li>Vers la pantalla de confirmacin. Si ests seguro que quieres deshabilitar la
empresa, clic en &#8220;S, quiero deshabilitarla&#8221;.<br />
  <img src="/images/doc/disable-enterprise-confirmation.en.png" title="Confirmacin de deshabilitacin de empresa" alt="Confirmacin de deshabilitacin de empresa" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Activando empresa</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>