<h1 class="order-220">Editing enterprise settings</h1>
<p><em>If you are administrator of an enterprise, you can edit its settings.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find your user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are administrator of enterprise &#8220;My enterprise&#8221;, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In enterprise&#8217;s control panel, click on &#8220;Enterprise Info and settings&#8221;<br />
  <img src="/images/doc/control-panel-enterprise-edit-profile-info.en.png" title="Control panel with edit profile info" alt="Control panel with edit profile info" /></li>
	<li>Then you will see a form with the information and settings of the enterprise. This screen will be explained in parts</li>
	<li><strong>General information:</strong> Fill in with your enterprise&#8217;s data. If you want the &#8220;Contact&#8221; button to be displayed when a person visit your enterprise&#8217;s page, select &#8220;Enable &#8216;contact us&#8217;&#8221;.<br />
  <img src="/images/doc/enterprise-edit-profile-info-general-information.en.png" title="General information when editing enterprise profile info" alt="General information when editing enterprise profile info" /></li>
	<li><strong>Moderation options:</strong> Choose how the article&#8217;s moderation on enterprise will be. Choose the first option if you want the enterprise&#8217;s administrators to approve/deny the articles published and choose the second if approval is not needed.<br />
  <img src="/images/doc/enterprise-edit-profile-info-moderation-options.en.png" title="Moderation options when editing enterprise profile info" alt="Moderation options when editing enterprise profile info" /></li>
	<li><strong>Change picture:</strong> Insert a picture or change enterprise&#8217;s picture. Click on &#8220;File&#8230;&#8221; and choose the image in your computer. The image must have a maximum of 500Kb e be <em>.jpg</em> , <em>.gif</em> or <em>.png</em> .
	<ul>
		<li><img src="/images/doc/enterprise-edit-profile-info-add-picture.en.png" title="Add picture when editing enterprise profile info" alt="Add picture when editing enterprise profile info" /></li>
		<li><img src="/images/doc/enterprise-edit-profile-info-change-picture.en.png" title="Change picture when editing enterprise profile info" alt="Change picture when editing enterprise profile info" /></li>
	</ul></li>
	<li><strong>Privacy options:</strong> Choose if enterprise profile will be public or private. When an enterprise is private, the users that are not friends and tries to view the enterprise&#8217;s profile or its contents will be redirected to a page that show only general information.<br />
  <img src="/images/doc/enterprise-edit-profile-privacy-options.en.png" title="Privacy options when editing enterprise profile info" alt="Privacy options when editing enterprise profile info" /></li>
	<li><strong>Categories:</strong> If enabled on the system, you can choose the categories that the enterprise will have.<br />
  <img src="/images/doc/enterprise-edit-profile-categories.en.png" title="Privacy options when editing enterprise profile info" alt="Privacy options when editing enterprise profile info" /></li>
	<li>Then, click on &#8220;Save&#8221; button&quot; and the profile will be updated.</li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Activating enterprise</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>