<h1 class="order-240">Editing appearance</h1>
<p><em>You can customize the page of your enterprise, changing the template of it.</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Click on &#8220;Manage my groups&#8221; button:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are a community administrator, click on &#8220;Manage&#8221; link. <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Groups list with permission to manage community" alt="Groups list with permission to manage community" /></li>
	<li>Then, click on &quot;Edit Appearance:  <img src="/images/doc/control-panel-enterprise-edit-appearance.en.png" title="Edit appearance on user control panel" alt="Edit appearance on user control panel" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>You will see the available templates:
	<ol>
		<li><strong>default:</strong> This template uses 3 columns.</li>
		<li><strong>rightbar:</strong> In this template, your pages will have 2 columns. Your blocks will be displayed on the collumn on the right.</li>
		<li><strong>lefttbar:</strong> In this template, your pages will have 2 columns. Your blocks will be displayed on the collumn on the left.</li>
	</ol></li>
	<li>You can change your template clicking on the link &#8220;Use this template&#8221;<br />
<img src="/images/doc/edit-appearance.en.png" title="Edit appearance" alt="Edit appearance" /></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/user/login">Login into the system</a></li>
	<li><a href="/doc/user/logout">Logout of the system</a></li>
	<li><a href="/doc/enterprise/editing-header-footer">Editing header and footer</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>