<h1 class="order-250">Editando encabezado y pie de pgina</h1>
<p><em>Puedes personalizar la pgina de tu empresa, aadiendo algo de texto o
imgenes en el encabezado o pie de pgina.</p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Clic en el botn &#8220;Administrar mis grupos&#8221;  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar sern listados con el enlace
&#8220;Administrar&#8221;. Suponiendo que usted es un administrador de una
comunidad, clic &#8220;Administrar&#8221; <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
	<li>Luego, clic en &#8220;Editar Encabezado y Pie de Pgina&#8221;:  <img src="/images/doc/control-panel-enterprise-edit-header-footer.en.png" title="Ediar encabezado y pie de pgina en el panel de control de la empresa" alt="Ediar encabezado y pie de pgina en el panel de control de la empresa" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>Vers 2 bandejas. En la primer bandeja, agrega el contenido de tu encabezado,
que ser desplegado en la parte superior de tu pgina. En la segunda bandeja,
agrega el contenido de tu pie de pgina, que ser desplegado en la parte
inferior de tu pgina.</li>
	<li>En la parte superior de ambas bandejas vers algunos botones, que te ayudarn
a aplicarle un formato a tu texto. Pasando el puntero sobre ellos, el nombre
de su funcin ser desplegada.  <img src="/images/doc/wysiwyg-buttons.en.png" title="Botones WYSIWYG" alt="Botones WYSIWYG" />
	<ol>
		<li>De izquierda a derecha:
		<ol>
			<li><strong>Imprimir: </strong> utiliza este botn si deseas imprimir el
contenido de tu bandeja.</li>
			<li><strong>Copiar:</strong> selecciona una seccin del texto y haz clic en este
botn para copiarla</li>
			<li><strong>Pegar:</strong> si copiaste algo, entonces utiliza este botn para
pegarlo en tu texto. Ser pegado en la posicin actual del cursor.</li>
			<li><strong>Deshacer:</strong> clic en este botn despus de escribir o dar
formato a un texto y desea deshacer la accin.</li>
			<li><strong>Rehacer:</strong> clic en este botn si oprimiste el botn de
&#8220;deshacer&#8221; y deseas rehacer tu ltima accin.</li>
			<li><strong>Buscar:</strong> clic en este botn para buscar alguna palabra o
frase en tu texto.</li>
			<li><strong>Buscar/Remplazar:</strong> clic en este botn para buscar alguna
palabra o frase en tu texto y remplazarlo por otra.</li>
			<li><strong>Tamao de fuente:</strong> usado para definir el tamao de los
caracteres. Selecciona el texto/palabra y cambia el tamao oprimiendo este
botn.</li>
			<li><strong>Formato:</strong> Si deseas usar uno de los formatos
preconfigurados, selecciona texto/palabra, clic en este botn y escoge el
formato deseado.</li>
			<li><strong>Negrita:</strong> Da formato a tu texto/palabras con una lnea ms
gruesa que lo normal usual. Es usado para enfatizar palabras. Por ejemplo:
<strong>Inicio</strong>. Para usarlo, primero debes seleccionar el
texto/palabras y despues clic en este botn.</li>
			<li><strong>Cursiva</strong> Da formato a tu texto/palabras como oblicua. Este
formato tambin es usado para enfatizar palabras. Ejemplo:
<em>home</em>. Para usarlo, primero debes seleccionar el texto/palabras y
despues clic en este botn.</li>
			<li><strong>Subrayado:</strong> Tambin usado para enfatizar palabras/frases. Una
lnea es dibujada bajo la palabra. Ejemplo: <span style="text-decoration:
underline;">Inicio</span> . Para usarlo, primero debes seleccionar el
texto/palabras y despues clic en este botn.</li>
			<li><strong>Tachado:</strong> Una lnea es dibujada en medio de la
palabra/frase. Ejemplo: <span
style="text-decoration:line-through;">Inicio</span> . Para usarlo, primero
debes seleccionar el texto/palabras y despues clic en este botn.</li>
			<li><strong>Lista desordenada:</strong> crea una lista, insertando una pequea
vieta antes de cada elemento.</li>
			<li><strong>Lista ordenada</strong> crea una lista numerada, insertando un nmero
antes de cada elemento.</li>
			<li><strong>Alineacin a la izquierda:</strong> Usa este botn si deseas que tu
texto est alineado a la izquierda. En este caso, el borde derecho de cada
lnea estar desalineado.</li>
			<li><strong>Alinear al centro</strong> La alineacin del texto est basada en el
centro. En este caso, los bordes izquierdo y derecho estarn desalineados.</li>
			<li><strong>Alineacin a la derecha:</strong> usa este botn si deseas que tu
texto est alineado a la derecha. En este caso, el borde izquierdo de cada
lnea estar desalineado.</li>
			<li><strong>Justificar:</strong> usa este botn si deseas que tu texto est
alineado por ambos lados. En este caso los bordes izquierdo y derecho de
cada lnea estarn alineados.</li>
			<li><strong>Insertar/editar enlace:</strong> usa sto cuando quieras insertar o
editar un enlace hacia alguna direccin.</li>
			<li><strong>Desvincular:</strong> Si tienes un enlace en tu texto, clic en este
botn para remover el vnculo.</li>
			<li><strong>Insertar/editar imagen:</strong> Usa esto si deseas insertar o
editar una imagen que se encuentra en el texto.</li>
			<li><strong>Inserta una nueva tabla:</strong> usa sto para insertar una tabla en
tu texto</li>
			<li><strong>Limpieza de cdigo desordenado:</strong> clic en este botn para
remover el cdigo malo de <span class="caps">HTML</span>. Debes usarlo despus
de pegar un texto con formato desde otro lugar.</li>
			<li><strong>Editar fuente <span class="caps">HTML</span>:</strong> el texto
escrito en este editor es transformado en cdigo <span
class="caps">HTML</span> para ser visto en los navegadores. Usa este botn
para ver/editar el cdigo <span class="caps">HTML</span> de tu encabezado/pie
de pgina.</li>
		</ol></li>
	</ol></li>
	<li>Despus de editar el encabezado y pie de pgina, haga clic en el botn
&#8220;Guardar&#8221; <img src="/images/doc/edit-header-footer.en.png" title="Editando encabezado y pie de pgina" alt="Editando encabezado y pie de pgina" /></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
	<li><a href="/doc/user/logout">Salir del sistema</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>