<h1 class="order-230">Editar blocos laterais</h1>
<p><em>Você pode personalizar a página de seu empreendimento, alterando os
blocos que serão mostrados nela.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Encontre seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Clique no botão &#8220;Gerenciar meus grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
	<li>Você verá a lista de grupos (comunidades/empreendimentos) que você é
membro. Os grupos que você pode gerenciar são listados com um link
&#8220;Gerenciar&#8221;. Supondo que você é administrador de um
empreendimento, clique em &#8220;Gerenciar&#8221;. <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Lista de grupos com permissão de gerenciar empreendimento" alt="Lista de grupos com permissão de gerenciar empreendimento" /></li>
	<li>Depois, clique em &#8220;Editar blocos laterais&#8221;:  <img src="/images/doc/control-panel-enterprise-edit-sideboxes.en.png" title="Editar blocos laterais no painel de controle do empreendimento" alt="Editar blocos laterais no painel de controle do empreendimento" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>O modelo da página será mostrado, sempre com 3 colunas. Caso queira
adicionar um novo bloco, clique em &#8220;Adicionar um bloco&#8221;: <img src="/images/doc/enterprise-edit-sideboxes.en.png" title="Editar blocos laterais" alt="Editar blocos laterais" /></li>
	<li>Você verá os blocos que pode adicionar na sua página: <img src="/images/doc/enterprise-sideboxes-add-block.en.png" title="Adicionar um bloco" alt="Adicionar um bloco" />
	<ol>
		<li>Selecione onde você quer adicionar o novo bloco. Você tem apenas duas
opções, &#8220;Área 2&#8221; (lado esquerdo) e &#8220;Área 3&#8221; (lado
direito). Você não pode adicionar um novo bloco no meio da sua página.</li>
		<li>Escolha o bloco que será adicionado.</li>
		<li>Depois de clicar no botão &#8220;Adicionar&#8221; o novo bloco será mostrado
na parte inferior da área selecionada.</li>
	</ol></li>
	<li>Tipos de blocos:
	<ul>
		<li><strong>Apresentar um de seus conteúdos:</strong> Este bloco apresenta um
dos artigos do empreendimento. Você pode editar o bloco para selecionar qual
artigo será mostrado no bloco. <img src="/images/doc/article-block.en.png" title="bloco" alt="bloco" /></li>
		<li><strong>Últimas atualizações:</strong> Apresenta os conteúdos mais recentes
do empreendimento. Você pode escolher quantos artigos serão listados. <img src="/images/doc/recent-content-block.en.png" title="Bloco de conteúdos recentes" alt="Bloco de conteúdos recentes" /></li>
		<li><strong>Links (menu estático):</strong> Você pode utilizá-lo para criar um
menu de links. Você pode adicionar, remover e atualizar os links que
desejar. Se você quiser um link para o blog do empreendimento, por exemplo,
você deve digitar &#8221;/{profile}/blog&#8221; no campo
&#8220;Endereço&#8221;. O termo &#8220;{profile}&#8221;erá substituído pelo
identificador do empreendimento. <img src="/images/doc/links-block.en.png" title="Bloco de links" alt="Bloco de links" /></li>
		<li><strong>Leitor de Feed:</strong> Este bloco pode ser utilizado para listar
as últimas notícias de qualquer site que desejar. Você só precisa informar o
endereço de um feed RSS clicando no botão &#8220;Editar&#8221;. Você também
pode selecionar o número de itens que serão mostrados. <img src="/images/doc/feed-reader-block.en.png" title="Bloco de leitor de feed" alt="Bloco de leitor de feed" /></li>
		<li><strong>Mapa de localização:</strong> Mostra a localização do empreendimento
no mundo real. <img src="/images/doc/location-map-block.en.png" title="Bloco de mapa de localização" alt="Bloco de mapa de localização" /></li>
		<li><strong>Integrantes:</strong> Apresenta os integrantes do
empreendimentos. Você pode escolher quantos integrantes serão listados. <img src="/images/doc/members-block.en.png" title="Bloco de membros" alt="Bloco de membros" /></li>
		<li><strong>Produtos:</strong> Apresenta os produtos do empreendimento. Você
pode escolher quantos produtos serão mostrados. <img src="/images/doc/products-block.en.png" title="Bloco de produtos" alt="Bloco de produtos" /></li>
		<li><strong>Tags:</strong> Tags são criadas quando uma pessoa adiciona alguma
tag no conteúdo criado no empreendimento. Este bloco apresentará as tags
utilizadas no conteúdo. Você pode escolher quantas tags serão mostradas. <img src="/images/doc/tags-block.en.png" title="Bloco de tags" alt="Bloco de tags" /></li>
		<li><strong>Informações do perfil:</strong> Apresenta uma imagem e algumas
informações básicas sobre o empreendimento, como há quanto tempo o perfil
faz parte do ambiente e links úteis. <img src="/images/doc/enterprise-info-block.en.png" title="Bloco de informações do perfil" alt="Bloco de informações do perfil" /></li>
		<li><strong>Minha rede:</strong> Este bloco apresenta alguns links. <img src="/images/doc/enterprise-network-block.en.png" title="Bloco da rede do empreendimento" alt="Bloco da rede do empreendimento" /></li>
		<li><strong>Imagem do perfil:</strong> Este bloco apresenta a imagem do
empreendimento. <img src="/images/doc/enterprise-image-block.en.png" title="Bloco de imagem do perfil" alt="Bloco de imagem do perfil" /></li>
		<li><strong>Slideshow:</strong> Este bloco apresenta as imagens de uma das
galerias de imagens do empreendimento como uma apresentação de slides. Você
pode editar o bloco para selecionar qual galeria de imagens será mostrada. <img src="/images/doc/slideshow-block.en.png" title="Bloco de apresentação de slides" alt="Bloco de apresentação de slides" /></li>
		<li><strong>Mensagem &#8220;Empreendimento desabilitado&#8221;:</strong>
Apresenta uma mensagem para empreendimentos desabilitados. <img src="/images/doc/disabled-enterprise-block.en.png" title="Bloco de empreendimentos desabilitados" alt="Bloco de empreendimentos desabilitados" /></li>
	</ul></li>
	<li>Na parte inferior de cada bloco você poderá ver alguns botões. Passando o
mouse sobre o botão, aparecerá o nome da função do botão.  <img src="/images/doc/block-actions.en.png" title="Botões do bloco" alt="Botões do bloco" />
	<ul>
		<li>Seguindo a ordem da esquerda para a direita:
		<ul>
			<li><strong>Mover para cima:</strong> O bloco irá trocar de lugar com o bloco
acima dele.</li>
			<li><strong>Mover para baixo:</strong> O bloco irá trocar de lugar com o bloco
abaixo dele.</li>
			<li><strong>Mover para o lado oposto:</strong> O bloco será movido para o outro
lado da página, na parte de baixo da coluna. Se o bloco está no lado
esquerdo, ele será movido para o lado direito. Se estiver no lado direito,
será movido para o lado esquerdo.</li>
			<li><strong>Editar:</strong> Este botão só será mostrado se o bloco for
editável. Clique neste botão para configurar o bloco. Alguns blocos têm
configuração específica. <img src="/images/doc/edit-block.en.png" title="bloco" alt="bloco" />
			<ol>
				<li>Título personalizado para este bloco: Cada bloco tem um título padrão. Se
você quiser alterá-lo, digite o título neste campo.</li>
				<li>Mostrar este bloco: Selecione como você quer que o bloco seja mostrado. Há 3
opções:
				<ul>
					<li>Em todas as páginas: O bloco será mostrado em todas as páginas do seu
perfil.</li>
					<li>Apenas na página inicial: Este bloco aparecerá apenas na sua página inicial.</li>
					<li>Não mostrar: O bloco não será mostrado.</li>
				</ul></li>
			</ol></li>
			<li><strong>Remover bloco:</strong> Remove o bloco da sua página.</li>
			<li><strong>Ajuda sobre este bloco:</strong> Mostra uma mensagem com uma pequena
descrição do bloco.</li>
		</ul></li>
	</ul></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-header-footer">Editar cabeçalho e
rodapé</a></li>
	<li><a href="/doc/enterprise/editing-appearance">Editar aparência</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>