<h1 class="order-220">Editando configuracin de la empresa</h1>
<p><em> Si eres el administrador de una empresa, puedes editar sus
configuraciones.</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Encuentra tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, haz clic en Panel de control:  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, haga clic en el botn &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de las cuales eres
miembro. Los grupos que puedes administrar se enlistan con un enlace
&#8220;Administrar&#8221;. Suponiendo que eres el administrador de la emprea
&#8220;Mi empresa&#8221;, clic en el enlace &#8220; Administrar&#8221;  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En el panel de control de la empresa, clic en &#8220;Informacin y
configuraciones de la empresa&#8221;<br />
  <img src="/images/doc/control-panel-enterprise-edit-profile-info.en.png" title="Panel de control con edicin de informacin de perfil" alt="Panel de control con edicin de informacin de perfil" /></li>
	<li>Luego vers un formulario con la informacin y configuraciones de la
empresa. Esta pantalla se explicar en partes</li>
	<li><strong>Informacin general:</strong> Llena con los datos de tu empresa.Si
quieres que el botn &#8220;Contacto&#8221; se muestre cuando una persona
visite la pgina de tu empresa, selecciona &#8220;Habilitar&#8216; contctanos
&#8217;&#8221;.<br />
  <img src="/images/doc/enterprise-edit-profile-info-general-information.en.png" title="Informacin general al editar la informacin del perfil de la empresa" alt="Informacin general al editar la informacin del perfil de la empresa" /></li>
	<li><strong> Opciones de moderacin:</strong> Elige cmo ser la moderacin de
artculos en la empresa. Elige la primera opcin si quieres que los
administradores de la empresa aprueben/deneguen los artculos publicados y
elige la segunda si la aprobacin no es necesaria.<br />
  <img src="/images/doc/enterprise-edit-profile-info-moderation-options.en.png" title="Opciones de moderacin al editar informacin del perfil de la empresa" alt="Opciones de moderacin al editar informacin del perfil de la empresa" /></li>
	<li><strong>Cambiar imagen:</strong> Inserta una imagen o cambia la imagen de la
empresa. Clic en &#8220;Archivo&#8230;&#8221 y elige la imagen de tu
computadora. La imagen debe pesar mximo 500kb y ser <em>.jpg</em>,
<em>.gif</em> o <em>.png</em>.
	<ul>
		<li><img src="/images/doc/enterprise-edit-profile-info-add-picture.en.png" title="Aade una imagen al editar la informacin de perfil de la empresa" alt="Aade una imagen al editar la informacin de perfil de la empresa" /></li>
		<li><img src="/images/doc/enterprise-edit-profile-info-change-picture.en.png" title="Cambia la imagen al editar la informacin de perfil de la empresa" alt="Cambia la imagen al editar la informacin de perfil de la empresa" /></li>
	</ul></li>
	<li><strong>Opciones de privacidad:</strong> Elige si el perfil de la empresa
ser pblico o privado. Cuando una empresa es privada, los usuarios que no son
amigos e intentan ver el perfil de la empresa o sus contenidos sern
redireccionados a una pgina que solamente muestre informacin general.<br />
  <img src="/images/doc/enterprise-edit-profile-privacy-options.en.png" title="Opciones de privacidad al editar la informacin de perfil de la empresa" alt="Opciones de privacidad al editar la informacin de perfil de la empresa" /></li>
	<li><strong>Categoras:</strong> Si se encuentran habilitadas en el sistema,
puedes elegir las categoras que la empresa tendr.<br />
  <img src="/images/doc/enterprise-edit-profile-categories.en.png" title="Opciones de privacidad al editar la informacin de perfil de la empresa" alt="Opciones de privacidad al editar la informacin de perfil de la empresa" /></li>
	<li>Luego, clic en el botn &#8220;Guardar&#8221; y el perfil ser actualizado.</li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Iniciar sesin en el sistema</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Activando empresa</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>