<h1 class="order-220">Editar configurações do empreendimento</h1>
<p><em>Se você é administrador de um empreendimento, você pode editar as
configurações dele.</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Localize seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle:  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique no botão &#8220;Gerenciar meus grupos&#8221;  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
	<li>Aparecerá a lista de grupos (comunidades/empreendimentos) que você é
membro. Os grupos que você pode gerenciar são listados com um link
&#8220;Gerenciar&#8221;. Supondo que você é administrador do empreendimento
&#8220;Meu empreendimento&#8221;, clique em &#8220;Gerenciar&#8221;.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Lista de grupos com permissão de gerenciar empreendimento" alt="Lista de grupos com permissão de gerenciar empreendimento" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No painel de controle do empreendimento, clique em &#8220;Informações e
Configurações do Empreendimento&#8221;<br />
  <img src="/images/doc/control-panel-enterprise-edit-profile-info.en.png" title="Painel de controle com editar informações do perfil" alt="Painel de controle com editar informações do perfil" /></li>
	<li>Então você verá um formulário com as informações e configurações do
empreendimento. Essa tela será explicada por partes</li>
	<li><strong>Informações gerais:</strong> Preencha com os dados do seu
empreendimento. Se quiser que o botão &#8220;Fale conosco&#8221; seja
mostrado quando uma pessoa visita a página do seu empreendimento, selecione
&#8220;Habilitar fale conosco &#8216;<br />
  <img src="/images/doc/enterprise-edit-profile-info-general-information.en.png" title="Informações gerais na edição das informações do perfil de empreendimento" alt="Informações gerais na edição das informações do perfil de empreendimento" /></li>
	<li><strong>Opções de moderação:</strong> Escolha como a moderação de artigos do
empreendimento será feita. Escolha a primeira opção caso você queira que os
administradores do empreendimento aprovem/rejeitem os artigos publicados e
escolha a a segunda opção se não é necessário ter moderação.<br />
  <img src="/images/doc/enterprise-edit-profile-info-moderation-options.en.png" title="Opções de moderação na edição das informações do empreendimento" alt="Opções de moderação na edição das informações do empreendimento" /></li>
	<li><strong>Mudar foto: </strong>Insira ou altere a foto do
empreendimento. Clique em &#8221;Arquivo...&#8220; e escolha a imagem no seu
computador. A imagem deve ter no máximo 500Kb e ser do tipo <em>.jpg</em>,
<em>.gif</em> ou <em>.png</em>.
	<ul>
		<li><img src="/images/doc/enterprise-edit-profile-info-add-picture.en.png" title="Alterar imagem na edição das informações do empreendimento" alt="Alterar imagem na edição das informações do empreendimento" /></li>
		<li><img src="/images/doc/enterprise-edit-profile-info-change-picture.en.png" title="Alterar imagem na edição das informações do empreendimento" alt="Alterar imagem na edição das informações do empreendimento" /></li>
	</ul></li>
	<li><strong>Opções de privacidade:</strong> Escolha se o perfil do
empreendimento será público ou privado. Quando um empreendimento é privado,
os usuários que não são amigos e tentam visualizar o perfil do
empreendimento ou seu conteúdo serão redirecionado para a página que mostra
apenas informações gerais.<br />
  <img src="/images/doc/enterprise-edit-profile-privacy-options.en.png" title="Opções de privacidade na edição das informações do empreendimento" alt="Opções de privacidade na edição das informações do empreendimento" /></li>
	<li><strong>Categorias:</strong> Se habilitado no sistema, você pode definir as
categorias das quais o empreendimento fará parte.<br />
  <img src="/images/doc/enterprise-edit-profile-categories.en.png" title="Opções de privacidade na edição das informações do empreendimento" alt="Opções de privacidade na edição das informações do empreendimento" /></li>
	<li>Depois, basta clicar no botão &#8220;Salvar&#8221; que o perfil estará
atualizado.</li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/user/login">Entrar no sistema</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Ativar empreendimento</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>