<h1 class="order-210">Administrando y aadiendo miembros a la empresa</h1>
<p><em> Si eres administrador de una empresa, puedes aadir o eliminar miembros
de la empresa y tambin definir los permisos que cada miembro tendr</em></p>
<ul>
	<li><a href="#howaccess">Cmo acceder</a></li>
	<li><a href="#description">Descripcin</a></li>
	<li><a href="#relatedtopics">Temas relacionados</a></li>
</ul>
<h2 id="howaccess">Cmo acceder</h2>
<ol>
	<li>Busca tu men de usuario en la barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Men superior" alt="Men superior" /></li>
	<li>En el men de usuario, clic en el panel de control.  <img src="/images/doc/menu-control-panel.en.png" title="Panel de control en el men" alt="Panel de control en el men" /></li>
	<li>Despus, clic en &#8220;Administrar mis grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Administrar grupos en el panel de control" alt="Administrar grupos en el panel de control" /></li>
	<li>Vers la lista de grupos (comunidades/empresas) de los cuales eres
miembro. Los grupos que puedes administrar estn listados con un enlace
&#8220;Administrar&#8221;. Suponiendo que eres administrador de una empresa,
clic en el enlace &#820Administrar&#21;.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Grupos con permiso para administrar empresas" alt="Grupos con permiso para administrar empresas" /></li>
</ol>
<h2 id="description">Descripción</h2>
<ol>
	<li>En panel de control de la empresa, clic en &#8220; Administrar
miembros&#8221;<br />
  <img src="/images/doc/control-panel-manage-members.en.png" title="Panel de control con adminsitrar miembros" alt="Panel de control con adminsitrar miembros" /></li>
	<li>Vers la lista de personas que son miembros de la empresa y algunos botones
que sern explicados por partes:  <img src="/images/doc/enterprise-members-list.en.png" title="Lista de miembros de la empresa en administrar miembros" alt="Lista de miembros de la empresa en administrar miembros" />
	<ol>
		<li><strong> Editar rol de usuario:</strong> Elige el rol que el miembro tendr
en la empresa. Cada rol est asociado con algunos permisos.  <img src="/images/doc/changing-role-enterprise-member.en.png" title="Cambiando el rol de un miembro de la empresa" alt="Cambiando el rol de un miembro de la empresa" /></li>
		<li><strong> Eliminar usuario:</strong> Haciendo clic en el botn, el usuario ser
elimindado de la empresa.</li>
		<li><strong>Aadir miembros:</strong> Vers una pantalla para aadir nuevos
miembros a la empresa. Los miembros que aadas tendrn un rol de administrador
por defecto, con todos los permisos.
		<ol>
			<li>Ingresa en el campo de bsqueda el nombre del usuario del sistema que quieres
aadir a la empresa. La tabla del lado izquierdo (&#8220;Usuarios&#8221;)
mostrar los resultados de la bsqueda.</li>
			<li>Clic en el botn &#8220;+&#8221; para aadir al usuario. Despus de presionar
el botn, la tabla del lado derecho (&#8220;Miembros actuales&#8221;) ser
actualizada con el nuevo miembro.<br />
  <img src="/images/doc/add-member-enterprise.en.png" title="Aadir miembro en Administrar miembros" alt="Aadir miembro en Administrar miembros" /></li>
		</ol></li>
	</ol></li>
</ol>
<h2 id="relatedtopics">Temas relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editando configuracin de
la empresa</a></li>
	<li><a href="/doc/enterprise/activating-enterprise"> Activando tu empresa</a></li>
</ul>
<p><a href="#online-doc-text">Volver arriba</a></p>