<h1 class="order-210">Gerenciar e adicionar integrantes em um empreendimento</h1>
<p><em>Se você é administrador de um empreendimento, você pode adicionar e
remover integrantes e também pode definir as permissões que cada membro
terá</em></p>
<ul>
	<li><a href="#howaccess">Como acessar</a></li>
	<li><a href="#description">Descrição</a></li>
	<li><a href="#relatedtopics">Tópicos relacionados</a></li>
</ul>
<h2 id="howaccess">Como acessar</h2>
<ol>
	<li>Encontre seu menu de usuário na barra superior:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Menu superior" alt="Menu superior" /></li>
	<li>No menu de usuário, clique em Painel de Controle  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Depois, clique em &#8220;Gerenciar meus grupos&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Gerenciar grupos no painel de controle" alt="Gerenciar grupos no painel de controle" /></li>
	<li>Aparecerá a lista de grupos (comunidades/empreendimentos) que você é
membro. Os grupos que você pode gerenciar são listados com um link
&#8220;Gerenciar&#8221;. Supondo que você é administrador de um
empreendimento, clique em &#8220;Gerenciar&#8221;.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Lista de grupos com permissão de gerenciar empreendimento" alt="Lista de grupos com permissão de gerenciar empreendimento" /></li>
</ol>
<h2 id="description">Descrição</h2>
<ol>
	<li>No painel de controle do empreendimento, clique em &#8220;Gerenciar
integrantes&#8221;<br />
  <img src="/images/doc/control-panel-manage-members.en.png" title="Painel de controle com gerenciar integrantes" alt="Painel de controle com gerenciar integrantes" /></li>
	<li>Você verá a lista de pessoas que são integrantes do empreendimento e alguns
botões que serão explicados por partes:  <img src="/images/doc/enterprise-members-list.en.png" title="Lista de integrantes de um empreendimento em gerenciar integrantes" alt="Lista de integrantes de um empreendimento em gerenciar integrantes" />
	<ol>
		<li><strong>Editar o papel do usuário:</strong> Escolha o papel que o membro
terá na comunidade. Cada papel é associado a algumas permissões.  <img src="/images/doc/changing-role-enterprise-member.en.png" title="Alterando o papel de um membro do empreendimento" alt="Alterando o papel de um membro do empreendimento" /></li>
		<li><strong>Remover usuário:</strong> Clicando no botão, o usuário será removido
da comunidade.</li>
		<li><strong>Adicionar integrantes:</strong> Você verá uma tela para adicionar
novos integrantes ao empreendimento. Os integrantes inseridos terão o papel
de administrador do perfil por padrão, com todas as permissões.
		<ol>
			<li>Digite no campo de busca o nome do usuário do sistema que você deseja
adicionar ao empreendimento. A tabela do lado esquerdo da tela
(&#8220;Usuários&#8221;) mostrará o resultado da busca.</li>
			<li>Clique no botão &#8220;+&#8221; para adicionar o usuário. Após clicar no
botão, a tabela do lado direito (&#8220;Membros atuais&#8221;) será
atualizada com o novo membro.<br />
  <img src="/images/doc/add-member-enterprise.en.png" title="Adicionar membro em gerenciar membro" alt="Adicionar membro em gerenciar membro" /></li>
		</ol></li>
	</ol></li>
</ol>
<h2 id="relatedtopics">Tópicos relacionados</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editar
informações/configurações do empreendimento</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Ativar seu
empreendimento</a></li>
</ul>
<p><a href="#online-doc-text">Voltar ao topo</a></p>