<h1 class="order-210">Managing and adding members to an enterprise</h1>
<p><em>If you are an enterprise administrator, you can add or remove members from enterprise and also define which permissions each member will have</em></p>
<ul>
	<li><a href="#howaccess">How to access</a></li>
	<li><a href="#description">Description</a></li>
	<li><a href="#relatedtopics">Related topics</a></li>
</ul>
<h2 id="howaccess">How to access</h2>
<ol>
	<li>Find you user menu on top bar:  <img src="/images/doc/system-homepage-top-menu.en.png" title="Top menu" alt="Top menu" /></li>
	<li>In user menu, click on Control Panel  <img src="/images/doc/menu-control-panel.en.png" title="Control panel on menu" alt="Control panel on menu" /></li>
	<li>Then, click on &#8220;Manage my groups&#8221;:  <img src="/images/doc/control-panel-manage-groups.en.png" title="Manage groups in control panel" alt="Manage groups in control panel" /></li>
	<li>You will see the list of groups (communities/enterprises) that you are a member. The groups that you can manage are listed with a link &#8220;Manage&#8221;. Assuming that you are administrator of an enterprise&quot;, click on &#8220;Manage&#8221; link.  <img src="/images/doc/groups-list-with-manage-enterprise.en.png" title="Groups list with permission to manage enterprise" alt="Groups list with permission to manage enterprise" /></li>
</ol>
<h2 id="description">Description</h2>
<ol>
	<li>In enterprise&#8217;s control panel, click on &#8220;Manage members&#8221;<br />
  <img src="/images/doc/control-panel-manage-members.en.png" title="Control panel with manage members" alt="Control panel with manage members" /></li>
	<li>You will see the list of people who are members of the enterprise and some buttons that will be explained in parts:  <img src="/images/doc/enterprise-members-list.en.png" title="Members list of enterprise on manage members" alt="Members list of enterprise on manage members" />
	<ol>
		<li><strong>Edit user role:</strong> Choose the role the member will have in the enterprise. Each role is associated to some permissions.  <img src="/images/doc/changing-role-enterprise-member.en.png" title="Changing role of an enterprise member" alt="Changing role of an enterprise member" /></li>
		<li><strong>Remove user:</strong> Clicking on the button, the user will be removed from the enterprise.</li>
		<li><strong>Add members:</strong> You will see a screen to add new members to the enterprise. The members you add will have administrator role by default, with all permissions.
		<ol>
			<li>Type in search field the name of the user system you want to add to the enterprise. The table in the left side (&#8220;Users&#8221;) will display the search results.</li>
			<li>Click on &#8220;+&#8221; button to add the user. After clicking the button, the table on the right side (&#8220;Current members&#8221;) will be updated with the new member.<br />
  <img src="/images/doc/add-member-enterprise.en.png" title="Add member on manage member" alt="Add member on manage member" /></li>
		</ol></li>
	</ol></li>
</ol>
<h2 id="relatedtopics">Related topics</h2>
<ul>
	<li><a href="/doc/enterprise/editing-enterprise-info">Editing enterprise settings</a></li>
	<li><a href="/doc/enterprise/activating-enterprise">Activating your enterprise</a></li>
</ul>
<p><a href="#online-doc-text">Back to top</a></p>